<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Item Properties'" [items]="['Inventory']"
        [active_item]="'Add Item Properties'"></app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-md-12">
        <div class="box-shadow">
          <div class="card pageproperty">
            <div class="body" style="padding-left: 150px;">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div class=" col-md-2">
                    <label class="lable"> Property Type<span class="errorColor">*</span></label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="attributeDataType">
                        <mat-option *ngFor="let title of propertyTypeList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('attributeDataType').hasError('required')">
                        Property Type  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 spaceBetweenTwoFields">
                    <label class="lable">Type<span class="errorColor">*</span></label>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="attributeType">
                        <mat-option *ngFor="let title of dataTypeList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>

                      <mat-error *ngIf="docForm.get('attributeType').hasError('required')">
                        Type  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label class="lable">Property Name<span class="errorColor">*</span></label>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="attributeName" maxlength="20" (keypress)="keyPressName($event)"
                        required>
                      <mat-error *ngIf="docForm.get('attributeName').hasError('required')"> 
                        Property Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 spaceBetweenTwoFields" *ngIf="this.docForm.value.attributeDataType!='77'">
                    <label class="lable">Length</label>
                  </div>
                  <div class="col-md-3" *ngIf="this.docForm.value.attributeDataType!='77'">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="atttributeLength" maxlength="10"
                        (keypress)="keyPressNumberInt($event)">
                    </mat-form-field>
                  </div>

                  <div class="col-md-2 spaceBetweenTwoFields" *ngIf="this.docForm.value.attributeDataType=='77'">
                    <label class="lable"> Value</label>
                  </div>
                  <div class="col-md-3" *ngIf="this.docForm.value.attributeDataType=='77'">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="attributeValue" maxlength="10"
                        (keypress)="keyPressNumberInt($event)">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label class="lable">Default Value</label>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="attributeDefualtValue" maxlength="50"
                        (keypress)="keyPressName($event)">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 spaceBetweenTwoFields">                  <label class="lable">Is Mandatory</label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                    <mat-checkbox ngInit="checked=true" formControlName="isMandatory"></mat-checkbox>
                  </div>
                </div>


                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">

                    <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()"
                      mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                      mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>