<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Item Properties'" [items]="['Inventory']"
          [active_item]="'Add Item Properties'"></app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-md-12">
          <div class="box-shadow">
            <div class="card pageproperty">
              <div class="body" style="padding-left: 150px;">
                <form class="m-4" [formGroup]="docForm">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="lable">Category Name</label>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="categoryName" maxlength="20" (keypress)="keyPressName($event)"
                            required>
                          <mat-error *ngIf="docForm.get('categoryName').hasError('required')"> 
                            Category Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                    <div class="col-md-2 spaceBetweenTwoFields">
                      <label class="lable ">Category Type</label>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="categoryTypeId">
                          <mat-option *ngFor="let title of dataTypeList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
  
                        <mat-error *ngIf="docForm.get('categoryTypeId').hasError('required')">
                          Type  is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-md-2">
                        <label class="lable">Parent Category</label>
                      </div>
                      <div class=" col-md-3">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-select formControlName="parentCategory">
                            <mat-option *ngFor="let title of propertyTypeList" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('parentCategory').hasError('required')">
                            Parent Category is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    
                    <div class="col-md-2 spaceBetweenTwoFields">                  <label class="lable"> Incoming Quality Check </label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                      <mat-checkbox ngInit="checked=true" formControlName="qualityCheck"></mat-checkbox>
                    </div>
                  </div>
  
  
                  <br>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
  
                      <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                        style="margin-left: 36%;background-color: #34d034;">Submit</button>
                      <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                        style="margin-left: 36%;background-color: #34d034;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()"
                        mat-raised-button>Reset</button>
                      <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                        mat-raised-button>Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>