<section class="content">
    <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
        <app-breadcrumb [title]="'Jewellery'" [items]="['Master']" [active_item]="'Add-Jewellery'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card " style="padding-left: 150px;">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
               
                     
                  
                <div class="col-md-4" style="min-width: fit-content;padding-bottom: 3%;">
                  <mat-radio-group tabindex="21" formControlName="selforgift">
                    <mat-radio-button value="SELF"(change)="getOwner($event.value)">SELF PURCHASED</mat-radio-button>
                    <mat-radio-button value="GIFT" (change)="getOwner($event.value)" style="padding-left: 25%;">GIFT</mat-radio-button>
                  </mat-radio-group>
                </div>
       
               <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <label *ngIf ="!isGIFT" >PURCHASE DATE</label>
                        <label *ngIf ="isGIFT">RECEIVED DATE</label>
                    </div>
                    <div class="  col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker" 
                        formControlName="cdateObj"
                        id="cdate"
                        (dateChange)="getDateString($event, 'cdate',0)">
                    <mat-datepicker-toggle matSuffix
                        [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> 
                      </mat-form-field>
                    </div>
                  
                    
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <label *ngIf ="!isGIFT" >PURCHASE FROM<span class="errorColor">*</span></label>
                        <label *ngIf ="isGIFT">RECEIVED FROM<span class="errorColor">*</span></label>
                    </div>
                      <div class=" col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="purchasedfrom" maxlength="20" oninput="this.value = this.value.toUpperCase()" (keypress)="keyPressName($event)" >
                       <mat-error *ngIf="docForm.get('purchasedfrom').hasError('required')">
                        Purchased From is required
                      </mat-error>
                      
                      </mat-form-field>
                    </div>
                   
                </div>
                <div class="row">  
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >JEWELLERY NAME<span class="errorColor">*</span></label>
                  </div>
                  <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="jewelName" maxlength="20" oninput="this.value = this.value.toUpperCase()" (keypress)="keyPressName($event)">  
                      <mat-error *ngIf="docForm.get('jewelName').hasError('required')">
                        Jewellery Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >JEWELLERY COLOUR</label>
                  </div>
                  
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="jewelcolour" maxlength="20" (keypress)="keyPressName($event)" >
                  
                  </mat-form-field>
                  
                </div>
                
              </div>  
                <div class="row">  
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <label >PURCHASE VALUE</label>
                    </div>
                    <div class=" col-md-3">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="purchaseValue" maxlength="20" (keypress)="keyPressNumeric($event)">  
                       
                      </mat-form-field>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <label >CURRENT VALUE<span class="errorColor">*</span></label>
                    </div>
                    
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="currentValue" maxlength="20" (keypress)="keyPressNumeric($event)">
                      <mat-error *ngIf="docForm.get('currentValue').hasError('required')">
                        Current Value is required
                      </mat-error>
                    </mat-form-field>
                    
                  </div>
                  
                </div>   




  
                <div class="row">
  
                    
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >JEWELLERY MATERIAL<span class="errorColor">*</span></label>
                  </div>
  
                  <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select  formControlName="material"  >
                          <mat-option [value]="'GOLD'">
                               GOLD
                            </mat-option>
                            <mat-option [value]="'SILVER'">
                              SILVER
                            </mat-option>
                            <!-- <mat-option [value]="'DIMOND'">
                              DIAMOND
                            </mat-option> -->
                            <mat-option [value]="'PLATINUM'">
                              PLATINUM
                            </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('material').hasError('required')">
                        Material is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >JEWELLERY TYPE</label>
                  </div>
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                     <mat-select  formControlName="type" >
                      <mat-option [value]="'NECKLACE'">
                           NECKLACE
                        </mat-option>
                        <mat-option [value]="'BRACELET'">
                          BRACELET
                        </mat-option>
                        <mat-option [value]="'RING'">
                          RING
                        </mat-option>
                        <mat-option [value]="'EARRINGS'">
                          EARRINGS
                        </mat-option>
                        <mat-option [value]="'OTHERS'">
                          OTHERS
                        </mat-option>
                      </mat-select>
                    
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
  
                    
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >GEMSTONES</label>
                </div>

                <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select  formControlName="gemstones"  >
                        <mat-option [value]="'DIAMOND'">
                            DIAMOND
                          </mat-option>
                          <mat-option [value]="'RUBIES'">
                            RUBY
                          </mat-option>
                          <mat-option [value]="'DIMOND'">
                            EMERALD
                          </mat-option>
                          <mat-option [value]="'PEARL'">
                            PEARL
                          </mat-option>
                          <mat-option [value]="'SAPPHIRES'">
                            SAPPHIRES
                          </mat-option>
                          <mat-option [value]="'OTHERS'">
                            OTHERS
                          </mat-option>
                    </mat-select>
                   
                  </mat-form-field>
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >CARAT WEIGHT<BR>(in ct)</label>
                </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="caratweight" maxlength="20" (keypress)="keyPressNumber($event)">
                  
                  </mat-form-field>
                </div>
            </div>



              <div class="row">
  
                    
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >WEIGHT<BR>(in gram)<span class="errorColor">*</span></label>
                </div>

                <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="weight" maxlength="20" (keypress)="keyPressNumber($event)">
                  <mat-error *ngIf="docForm.get('weight').hasError('required')">
                    Weight is required
                  </mat-error>
                  </mat-form-field>
                 
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >NO. OF PIECES<span class="errorColor">*</span></label>
                </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="noOfPiece" maxlength="20"  (keypress)="keyPressNumeric($event)" >
                      <mat-error *ngIf="docForm.get('noOfPiece').hasError('required')">
                        No Of Piece is required
                      </mat-error>
                  </mat-form-field>
                </div>
            </div>
  
            <div class="row">
  
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label >SPECIFICATION</label>
            </div>

            <div class=" col-md-3">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="specification" >

              </mat-form-field>
            </div>   
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                  <label>DESCRIPTION</label>
              </div>

              <div class=" col-md-3">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="description">
  
                </mat-form-field>
               
              </div>

             
          </div>    
          <div class ="row">

       
          <div class="col-md-5" style="min-width: fit-content;padding-bottom: 3%;">
            <mat-radio-group tabindex="21" formControlName="lockerInHand">
             
              <mat-radio-button value="LOCKER" (change)="getLOCKER($event.value)" >LOCKER</mat-radio-button>
              <mat-radio-button value="MORTGAGE"(change)="getLOCKER($event.value)" >MORTGAGE</mat-radio-button>
              <mat-radio-button value="INHAND"(change)="getLOCKER($event.value)">IN HAND</mat-radio-button>
            </mat-radio-group>
          </div>

          
          <!-- <div class="col-md-4" style="min-width: fit-content;padding-bottom: 3%;"  *ngIf ="MORTGAGE">
         
              
          
            <mat-radio-group tabindex="21" formControlName="shopBank">
          <mat-radio-button value="PAWNSHOP"(change)="getDETAIL($event.value)" style="padding-left: 25%;">PAWN SHOP</mat-radio-button>
          <mat-radio-button value="BANK" (change)="getDETAIL($event.value)" style="padding-left: 14%;">BANK</mat-radio-button>
        </mat-radio-group>
      </div> -->
       
          <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12"*ngIf ="!MORTGAGE"style="padding-left:115px;" >
            <label  *ngIf ="INHAND" >LOCATION</label>
            <label  *ngIf ="LOCKER" >LOCKER LOCATION</label>
         </div>

        <div class=" col-md-3" *ngIf ="!MORTGAGE"> 
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="location" maxlength="20" (keypress)="keyPressName($event)" >
           
          </mat-form-field>
         
        </div>  -->

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 "*ngIf ="!MORTGAGE" >
          <label  *ngIf ="!LOCKER" >LOCATION</label>
          <label  *ngIf ="LOCKER"  >LOCKER LOCATION</label>

      </div>

      <div class=" col-md-3"*ngIf ="!MORTGAGE" >
          <mat-form-field class="example-full-width form-control-sm" appearance="outline" >
          <input matInput formControlName="location" maxlength="20" (keypress)="keyPressName($event)" >
         
        </mat-form-field>
       
      </div> 


        
          </div>
          <div class ="row" *ngIf ="MORTGAGE">   
            <mat-divider></mat-divider>
<br>   
              <h4>MORTGAGE DETAIL</h4>
          </div><br>
            <div class ="row" *ngIf ="MORTGAGE">
          <div class="col-md-4" style="min-width: fit-content;padding-bottom: 3%;" >
         <mat-radio-group tabindex="21" formControlName="shopBank">
          <mat-radio-button value="PAWNSHOP"(change)="getDETAIL($event.value)">PAWN SHOP</mat-radio-button>
          <mat-radio-button value="BANK" (change)="getDETAIL($event.value)" style="padding-left: 14%;">BANK</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
          <div class ="row"  *ngIf ="LOCKER">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
              <label>LOCKER NUMBER<span class="errorColor">*</span></label>
          </div>

          <div class=" col-md-3">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="lockerNo" maxlength="20"  (keypress)="keyPressNumeric($event)">
              <mat-error *ngIf="docForm.get('lockerNo').hasError('required')">
                Locker Number is required
              </mat-error>
            </mat-form-field>
           
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
            <label>BANK NAME<span class="errorColor">*</span></label>
        </div>

        <div class=" col-md-3">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="bankName" maxlength="20" (keypress)="keyPressName($event)" >
            <mat-error *ngIf="docForm.get('bankName').hasError('required')">
              Bank Name is required
            </mat-error>
          </mat-form-field>
         
        </div>
         </div>

         <div class ="row"  *ngIf ="LOCKER">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
            <label>LOCKER SIZE</label>
        </div>

        <div class=" col-md-3">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="lockerSize" maxlength="20" >
          
          </mat-form-field>
         
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
          <label>LOCKER RENT<span class="errorColor">*</span></label>
      </div>

      <div class=" col-md-3">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="lockerRent" maxlength="20"  (keypress)="keyPressNumeric($event)"s>
          <mat-error *ngIf="docForm.get('lockerRent').hasError('required')">
            Locker Rent is required
          </mat-error>
        </mat-form-field>
       
      </div>
        </div>

       <div class ="row"  *ngIf ="MORTGAGE">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
          <label  *ngIf ="PAWNSHOP" >SHOP NAME<span class="errorColor">*</span></label>
          <label  *ngIf ="!PAWNSHOP" >BANK NAME<span class="errorColor">*</span></label>
       </div>

      <div class=" col-md-3" > 
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="shopbankname" maxlength="20" (keypress)="keyPressName($event)" >
          <mat-error *ngIf="docForm.get('shopbankname').hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
       
      </div> 
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
        <label  *ngIf ="PAWNSHOP" >SHOP LOCATION<span class="errorColor">*</span></label>
        <label  *ngIf ="!PAWNSHOP" >BANK LOCATION<span class="errorColor">*</span></label>
     </div>

    <div class=" col-md-3" > 
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="location2" maxlength="30" (keypress)="keyPressName($event)" >
        <mat-error *ngIf="docForm.get('location2').hasError('required')">
          Location is required
        </mat-error>
      </mat-form-field>
     
    </div> 

       </div>

       <div class ="row"  *ngIf ="MORTGAGE">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
          <label>MORTGAGE AMOUNT<span class="errorColor">*</span></label>
          
       </div>

      <div class=" col-md-3" > 
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="mortgageamount" maxlength="30" (keypress)="keyPressNumeric($event)" >
          <mat-error *ngIf="docForm.get('mortgageamount').hasError('required')">
            Amount is required
          </mat-error>
        </mat-form-field>
       
      </div> 
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
        <label>INTEREST RATE<span class="errorColor">*</span></label>
        
     </div>

    <div class=" col-md-3" > 
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="interestrate" maxlength="3" (keypress)="keyPressNumber($event)" >
        <mat-error *ngIf="docForm.get('interestrate').hasError('required')">
          Interest is required
        </mat-error>
      </mat-form-field>
     
    </div> 

       </div>

       <div class ="row"  *ngIf ="MORTGAGE">
       
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
        <label>MONTHELY PAYMENT<span class="errorColor">*</span></label>
        
     </div>

    <div class=" col-md-3" > 
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="payment" maxlength="20" (keypress)="keyPressNumeric($event)" >
        <mat-error *ngIf="docForm.get('payment').hasError('required')">
          Amount is required
        </mat-error>
      </mat-form-field>
     
    </div> 
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
      <label >DATE OF MORTGAGE<span class="errorColor">*</span></label>
      
   </div>

   <div class="  col-md-3">
    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <input matInput [matDatepicker]="picker2" 
      formControlName="startdateobj"
      id="startdate"
      (dateChange)="getDateString($event, 'startdate',0)">
  <mat-datepicker-toggle matSuffix
      [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker> 
  <mat-error *ngIf="docForm.get('startdateobj').hasError('required')">
    Date is required
  </mat-error>
    </mat-form-field>
   </div>
       </div><br>

       <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
          color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
          <button *ngIf="edit" (click) = "onUpdate()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
          <button (click) = "reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
          <button (click) = "cancel()" color="warn" type="button" mat-raised-button>Cancel</button>
        </div>
      </div>

      <!-- <div class ="row">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                         <button (click) = "onSubmit()" class="btn-space" mat-raised-button
                          color="accent" style="margin-left: 36%;background-color: #34d034;" *ngIf="!edit">Submit</button>
                          <button (click) = "onUpdate()" class="btn-space" mat-raised-button
                          color="accent" style="margin-left: 36%;background-color: #34d034;" *ngIf="edit">Update</button>
                          <button (click) = "reset()" class="btn-space" mat-raised-button
                          color="primary" style="margin-left: 1%;">Reset</button>
                          <button (click) = "cancel()" class="btn-space" mat-raised-button
                          color="warn" style="margin-left: 1%;">Cancel</button>
                          </div>
                             </div> -->
  
                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
            </section>
  
