<!-- <section class="content">
  <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
          <app-breadcrumb [title]="'View Currency'" [items]="['Master']" [active_item]="'View Currency'">
          </app-breadcrumb>
      </div>
      <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card ">
                  <div class="body">
                      <div class="container border"
                          style=" border: 1px solid #b8a6dd!important; border-radius: 10px; background-color: #ecebf7;">
                          <form class="m-4" autocomplete="off" [formGroup]="docForm">
                              <div style="text-align: -webkit-right;">
                              <div class="row" style="padding: 5px;">
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                                      <label><b>User Name :</b>&nbsp;</label>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                                      <label><b>User Role :</b>&nbsp;</label>
                                  </div>
                              </div>                       
                             
                          </div>
                              <br>
                              <br>
                              <div class="row">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                      <button color="warn" type="button" mat-raised-button
                                          style="margin-left:480px;">Cancel</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
  <div class="card">
      <div class="header" >
          <h2 style="color: white;">User Group Details</h2>      
      </div>
      <style>
        .header{
          height: 42px;
          background-color: #7E7EB8;
          color: white;
        }
        .center{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .tableHeader{
            padding: 7px;
        }      
      </style>
      <div class="tableBody">
          <div class="table-responsive">
              <table class="table table-hover" style="margin-top: 5px;">
                  <thead>
                      <tr>
                          <th class="tableHeader">User Name</th>
                          <th class="tableHeader">User Role</th>                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr
                          *ngFor="let data of userGroup">

                          <td>{{data.userName}}</td>
                          <td>{{data.roleName}}</td>                 
                         
                  </tbody>
              </table>             
          </div>
      </div>
  </div>
  <div class="center">
      <button style="background-color: rgb(14, 42, 126);color:white;" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Back</button>
  </div>
</div>