<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Transfer Asset'" [items]="['Asset']" [active_item]="'Add Transfer Asset'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="box-shadow">
            <div class="card">
              <div class="body" >
                <form class="m-4" [formGroup]="docForm">
                  <div class="row" style="margin-left: 10%;" >

                    <div class=" col-md-2 ">
                        <mat-label>TRANSFER DATE</mat-label>
                        </div>
                        <div class=" col-md-3 ">

                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                        <input matInput [matDatepicker]="picker" formControlName="transferDateObj" (dateInput)="$event.value.format('DD/MM/YYYY')" id="transferDate"
                         (dateChange)="getDateString($event, 'transferDate',0)" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                          <mat-label>REQUISITION NO</mat-label>
                          </div>
                          <div class="col-md-3">

                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                          <mat-error *ngIf="docForm.get('requisitionNo').hasError('required')"> Requisition No is required </mat-error>
                          <mat-select formControlName="requisitionNo" (selectionChange)="getRequestDetails($event.value)">
                            <mat-option *ngFor="let title of requisitionAll" [value]="title.assetRequisitionId">
                              {{title.requisitionNumber}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                   </div> 

                   <div class="row" style="margin-left: 10%;">

                      <div class=" col-md-2">
                          <mat-label>REQUISITION DATE</mat-label>
                          </div>
                          <div class=" col-md-3">

                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                          <input matInput formControlName="requisitionDate" readonly>
                        </mat-form-field>
                      </div>
               

                      <div class="col-md-2">
                          <mat-label>SOURCE LOCATION</mat-label>
                          </div>
                          <div class="col-md-3">

                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                          <input matInput formControlName="sourceLocation" readonly>
                        </mat-form-field>
                      </div>
                         </div>

               <div class="row" style="margin-left: 10%;">

                    <div class="col-md-2">
                        <mat-label>DESTINATION LOCATION</mat-label>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="destinationLocation" readonly>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                          <mat-label>REQUESTED BY</mat-label>
                          </div>
                          <div class="col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="requestedBy" readonly>
                        </mat-form-field>
                      </div>
             
               </div>
               <div class="row" style="margin-left: 10%;">


                      <div class="col-md-2">
                          <mat-label>COMPANY<span class="errorColor">*</span></mat-label>
                          </div>
                          <div class="col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-error *ngIf="docForm.get('hospital').hasError('required')"> Company is required </mat-error>
                          <mat-select formControlName="hospital" required>
                            <mat-option *ngFor="let title of companyList" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-2">
                          <mat-label>STATUS</mat-label>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-error *ngIf="docForm.get('status').hasError('required')"> Status is required </mat-error>
                          <mat-select formControlName="status" required readonly>
                            <mat-option [value]="1"> Pending </mat-option>
                            <mat-option [value]="2"> Approved </mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('status').hasError('status')">
                            Please choose Approve
                        </mat-error>
                        </mat-form-field>
                      </div>

                      </div>
                      <div class="row" style="margin-left: 10%;">

                      <div class=" col-md-2" >
                          <mat-label>TRANSPORTATION TYPE<span class="errorColor">*</span></mat-label>
                          </div>
                          <div class=" col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-error *ngIf="docForm.get('transportationType').hasError('required')"> Transportation Type is required </mat-error>
                          <mat-select formControlName="transportationType" required>
                            <mat-option value="By Person"> By Person </mat-option>
                            <mat-option value="Courier"> Courier </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      

                      <div class=" col-md-2">
                          <mat-label>DELIVERY METHOD<span class="errorColor">*</span></mat-label>
                          </div>
                          <div class=" col-md-3">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-error *ngIf="docForm.get('deliveryMethod').hasError('required')"> Delivery Method is required </mat-error>
                          <mat-select formControlName="deliveryMethod" required>
                            <mat-option value="Partial"> Partial </mat-option>
                            <mat-option value="All at Once"> All at Once </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                  </div>
                  <br>
                  <br>
                 

                  <div class="row" style="margin-left:4%;">

                    <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Item Name</mat-label>
                          <input matInput formControlName="itemName">
                        </mat-form-field>
                      </div>

                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Item Category</mat-label>
                          <input matInput formControlName="itemCategory">
                        </mat-form-field>
                      </div> -->

                      <div class="col-md-1" >
                          <mat-label>EDD DATE</mat-label>
                          </div>
                          <div class="col-md-2">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="eddDate" readonly>
                        </mat-form-field>
                      </div>

                      <div class="col-md-2">
                          <mat-label>REQUESTED QUANTITY<span class="errorColor">*</span></mat-label>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="requestedQuantity" readonly required>
                          <mat-error *ngIf="docForm.get('requestedQuantity').hasError('required')"> Requested Quantity is required </mat-error>
                        </mat-form-field>
                      </div>
                 

                      <div class="col-md-2">
                          <mat-label>TRANSFER QUANTITY<span class="errorColor">*</span></mat-label>
                          </div>
                          <div class="col-md-2">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="transferQuantity" (change)="checkQuantity($event.target.value)" required>
                          <mat-error *ngIf="docForm.get('transferQuantity').hasError('required')"> Transfer Quantity is required </mat-error>
                          <mat-error *ngIf="docForm.get('transferQuantity').hasError('quantity')"> Transfer Quantity is should'nt be less than Requested quantity </mat-error>
                        </mat-form-field>
                      </div>



                    </div>

                    <!-- <div class="row">

                        <div class="col-xl-9 col-lg-3 col-md-12 col-sm-12"></div>

                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Transfer Quantity</mat-label>
                              <input matInput formControlName="transferQuantity" (change)="checkQuantity($event.target.value)" required>
                              <mat-error *ngIf="docForm.get('transferQuantity').hasError('required')"> Transfer Quantity is required </mat-error>
                              <mat-error *ngIf="docForm.get('transferQuantity').hasError('quantity')"> Transfer Quantity is should'nt be less than Requested quantity </mat-error>
                            </mat-form-field>
                          </div>

                        </div> -->

                  <br>

                  <div style="overflow-x: auto;">
                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                      <thead class="">
                        <tr>
                          <th style="width: 1%;"></th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Asset Code</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Asset Name</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Serial No</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Asset Location</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Asset Category</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Asset User</th>
                        </tr>
                      </thead>
                      <ng-container *ngFor="let addAssetDetail of docForm.get('addAssetDetail')['controls']; let i = index">
                        <tbody [formGroup]="addAssetDetail">
                          <tr>
                            <td>
                              <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                <mat-icon class="col-white">delete</mat-icon>
                              </button>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset Code</mat-label>
                                  <input matInput name="assetTrackNo{{i}}" formControlName="assetTrackNo" readonly>
                                </mat-form-field>
                              </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>Asset Name</mat-label>
                                <mat-select formControlName="assetName" required disabled>
                                  <mat-option *ngFor="let title of assetList" [value]="title.text">
                                    {{title.text}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Serial No</mat-label>
                                  <input matInput name="serialNo{{i}}" formControlName="serialNo" readonly>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset Location</mat-label>
                                  <mat-select formControlName="assetLocation" required disabled >
                                    <mat-option *ngFor="let title of locationList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset Category</mat-label>
                                  <input matInput name="responsible{{i}}" formControlName="responsible" readonly>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset User</mat-label>
                                  <input matInput name="assetUser{{i}}" formControlName="assetUser" readonly>
                                </mat-form-field>
                              </td>
                            </tr>
                            </tbody>
                            </ng-container>
                            </table>
                            </div>
                            <!-- <div>
                              <button mat-mini-fab color="primary" (click)="addRow()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>  -->
                            <br>
                            <br>
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="primary" style="margin-left: 44%;background-color: #34d034;">Submit</button>
                                <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="primary" style="margin-left: 44%;">Approve</button>
                                <button *ngIf="!edit" (click)="reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
                                <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                              </div>
                            </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>