<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'Add City Master'" [items]="['Master']" [active_item]="'Add City Master'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card " style="padding-left: 150px;">
            <div class="body">
              <form class="m-4" [formGroup]="docForm" >
                <div class="row">


                  <div class=" col-md-2">
                    <mat-label>STATE NAME</mat-label>
                    </div>
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select class="inputTxt" formControlName="stateId"maxlength="30">
                        <mat-option *ngFor="let title of stateList" [value]="title.id">
                            {{title.text}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>

                  
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >CITY NAME<span class="errorColor">*</span></label>
                </div>
                <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="cityName" maxlength="20" (keypress)="keyPressString($event)"
                    (blur)="validateCustomer($event.target.value)" required>

                    <mat-error *ngIf="docForm.get('cityName').hasError('required')">
                      City Name is required
                    </mat-error>
                    <mat-error *ngIf="docForm.get('cityName').hasError('city')">
                      City Name Already Exists !!!
                    </mat-error>
                  </mat-form-field>
                </div>
                  </div>
                  <div class="row">


                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 0px;" >
                        <label >IS ACTIVE</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style="margin-left: -121px;">
                      <mat-checkbox formControlName="isactive"  ngInit="checked=true" style="margin-left:38px" ></mat-checkbox>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                      color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                      <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                      <button (click) = "reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
                      <button (click) = "onCancel()" color="warn" type="button" mat-raised-button>Cancel</button>
                    </div>
                  </div>


                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
            </section>
