<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Auditor Mapping'" [items]="['Master']" [active_item]="'Add Auditor Mapping'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body" style="padding-left: 80px;">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div class=" col-md-2">
                    <label>FULL NAME<span class="errorColor">*</span></label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="fullName" required>
                      <mat-error *ngIf="docForm.get('fullName').hasError('required')">
                        Activity Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class=" col-md-2">
                    <label>EMAIL ID<span class="errorColor">*</span></label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="emailId" required>
                      <mat-error *ngIf="docForm.get('emailId').hasError('required')">
                        Email Id is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-md-2">
                    <mat-label>CONTACT NUMBER<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="contactNumber" maxlength="10" required>
                      <mat-error *ngIf="docForm.get('contactNumber').hasError('required')">
                          Contact Number is required
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>COMPANY<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select class="inputTxt" formControlName="company" required>
                        <mat-option *ngFor="let title of getUserBasedCompanyList" [value]="title.id1">
                                {{title.text}}
                            </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-md-2">
                    <mat-label>ADDRESS </mat-label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="address">
                    </mat-form-field>
                  </div>


                  <div class=" col-md-2">
                    <mat-label>COUNTRY</mat-label>
                  </div>
                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select class="inputTxt" formControlName="country">
                        <mat-option *ngFor="let title of getCountryList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 0px;">
                    <label>IS ACTIVE</label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style="margin-left: -117px;">
                    <mat-checkbox formControlName="active" ngInit="checked=true"
                      STYLE="margin-left: 15PX;"></mat-checkbox>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()"
                      mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                      mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>