.alertColor{
    color:  #b93d3d !important;
}
.md-60 { font-size: 60px !important;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: auto;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    //background-color: #f8f8f8;
  }
  
  .individual-login, .company-login {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #333;
    background-color: rgb(44, 44, 157);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    color: white;
  }
  
  .individual-login:hover, .company-login:hover {
    background-color: grey;
  }
  
  .individual-login i, .company-login i {
    margin-right: 15px;
  }