<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Add scheduled Audit'" [items]="['Audit']" [active_item]="'Add scheduled Audit'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card ">
                    <div class="body">
                            <form class="m-4" [formGroup]="docForm">
                              <div class="modal-body container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="heading">
                                          Start Date
                                        </div>
                                        <div class="subheadingValue">
                                          {{(auditDetails?.startDate !== null && auditDetails?.startDate !== '') ? (auditDetails?.startDate) : ''}} 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="heading">
                                          End Date
                                        </div>
                                        <div class="subheadingValue">
                                          {{(auditDetails?.endDate !== null && auditDetails?.endDate !== '') ? (auditDetails?.endDate ) : ''}} 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="heading">
                                          Audit Name
                                        </div>
                                        <div class="subheadingValue">
                                          <p>{{auditDetails?.auditName !== null ? auditDetails?.auditName: '-'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="heading">
                                        Company
                                      </div>
                                      <div class="subheadingValue">
                                        <p>{{auditDetails?.auditCompanyName !== null ? auditDetails?.auditCompanyName: '-'}}</p>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                      <div class="heading">
                                        Branch
                                      </div>
                                      <div class="subheadingValue">
                                        {{auditDetails?.auditbranchName !== null ? auditDetails?.auditbranchName: '-'}}
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="heading">
                                        Auditor
                                      </div>
                                      <div class="subheadingValue">
                                        {{auditDetails?.auditorName !== null ? auditDetails?.auditorName: '-'}}
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="heading">
                                        Location
                                      </div>
                                      <div class="subheadingValue">
                                        {{auditDetails?.locationName !== null ? auditDetails?.locationName: '-'}}
                                      </div>
                                  </div>
                                  
                              </div>
                                <hr>
                            </div>

                                           <div style="overflow-x: auto;">
                                           <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                                             <thead class="">
                                               <tr>
                                                 <th style="width: 1%;"></th>
                                                 <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Asset Name</th>
                                           <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                           width: 12%; border-radius: 0.05rem;">Asset No</th>
                                                 <th  *ngIf="roleId==='4' || roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%;border-radius: 0.07rem;">Physical Quantity</th>
                                                   <th  *ngIf="roleId==='4' && roleId!='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                                   width: 12%;border-radius: 0.07rem;">Status</th>
                                   <th  *ngIf="roleId!='4' && roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                                    width: 12%;border-radius: 0.07rem;">Maker Status</th>
                                          <th *ngIf="roleId==='3' || roleId==='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Available Quantity</th>
                                           <th *ngIf="roleId==='3' && roleId!='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                           width: 12%;border-radius: 0.07rem;">Status</th>
                                            <th *ngIf="roleId!='3' && roleId==='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                            width: 12%;border-radius: 0.07rem;">Checker Status</th>
                                       <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Difference Quantity</th>
                                          <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Stock Adjustment</th>
                                          <th *ngIf="roleId==='4'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Remarks</th>
                                          <th  *ngIf="roleId==='3'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Remarks</th>
                                          <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%; border-radius: 0.05rem;">Remarks</th>
                                             </thead>
                                             <ng-container *ngFor="let scheduleAuditDetail of docForm.get('scheduleAuditDetail')['controls']; let i = index">
                                               <tbody [formGroup]="scheduleAuditDetail">
                                                 <tr>
                                                   <td>
                                                     <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                                       <mat-icon class="col-white">delete</mat-icon>
                                                     </button>
                                                     </td>     
                                                  <td class="padding-both-side-2">
                                                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                       <mat-label>Asset Name</mat-label>
                                                       <mat-select name="assetId{{i}}" formControlName="assetId">
                                                         <mat-option *ngFor="let title of assetDropdownList" [value]="title.id">
                                                           {{title.text}}
                                                         </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="scheduleAuditDetail.controls['assetId'].hasError('required')">
                                                        Asset Name is required
                                                        </mat-error> 
                                                     </mat-form-field>
                                                   </td>
                                                   <td class="padding-both-side-2">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Asset Code</mat-label>
                                                      <input matInput name="assetCode{{i}}" formControlName="assetCode" (keypress)="keyPressName($event)" maxlength="50">
                                                      <mat-error  *ngIf="scheduleAuditDetail.controls['assetCode'].hasError('required')">
                                                        Asset Code is required
                                                        </mat-error> 
                                                    </mat-form-field>
                                                  </td>
                                                   <td class="padding-both-side-2" *ngIf="roleId==='4' || roleId==='2'">
                                                     <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                       <mat-label>Physical Quantity</mat-label>
                                                       <input matInput name="physicalQty{{i}}" formControlName="physicalQty" (keypress)="keyPressNumberInt($event)" maxlength="9">
                                                       <mat-error  *ngIf="scheduleAuditDetail.controls['physicalQty'].hasError('required')">
                                                        Physical Quantity is required
                                                        </mat-error> 
                                                      </mat-form-field>
                                                   </td>
                                                   <td class="padding-both-side-2" *ngIf="roleId==='4' || roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                     <mat-label>Status </mat-label>
                                                     <mat-select name="makerstatus{{i}}" formControlName="makerstatus">
                                                       <mat-option *ngFor="let status of statusList" [value]="status">
                                                         {{status}}
                                                       </mat-option>
                                                     </mat-select>
                                                   </mat-form-field>
                                                 </td>
                                              
                                                   <td class="padding-both-side-2" *ngIf="roleId==='3' || roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Available Quantity</mat-label>
                                                      <input matInput name="availableQty{{i}}" formControlName="availableQty"  (keypress)="keyPressNumberInt($event)" maxlength="9">
                                                    </mat-form-field>
                                                  </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='3' || roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                     <mat-label>Status </mat-label>
                                                     <mat-select name="checkerstatus{{i}}" formControlName="checkerstatus">
                                                       <mat-option *ngFor="let status of statusList" [value]="status">
                                                         {{status}}
                                                       </mat-option>
                                                     </mat-select>
                                                   </mat-form-field>
                                                 </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Difference Quantity</mat-label>
                                                      <input matInput name="differenceQty{{i}}" formControlName="differenceQty"  (keypress)="keyPressNumberInt($event)" maxlength="9">
                                                    </mat-form-field>
                                                  </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Stock Adjustment</mat-label>
                                                      <input matInput name="stockAdjustment{{i}}" formControlName="stockAdjustment"  (keypress)="keyPressNumberInt($event)" maxlength="9">
                                                    </mat-form-field>
                                                  </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='4'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Remarks</mat-label>
                                                      <input matInput name="makerRemarks{{i}}" formControlName="makerRemarks"  (keypress)="keyPressRemarks($event)" maxlength="50">
                                                    </mat-form-field>
                                                  </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='3'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Remarks</mat-label>
                                                      <input matInput name="checkerRemarks{{i}}" formControlName="checkerRemarks"  (keypress)="keyPressRemarks($event)" maxlength="50">
                                                    </mat-form-field>
                                                  </td>
                                                  <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                      <mat-label>Remarks</mat-label>
                                                      <input matInput name="companyAdminRemarks{{i}}" formControlName="companyAdminRemarks"  (keypress)="keyPressRemarks($event)" maxlength="50">
                                                    </mat-form-field>
                                                  </td>
                                                  </tr>
                                                   </tbody>
                                                   </ng-container>
                                                   </table>
                                                   </div>
                                                   <div>
                                                     <button mat-mini-fab color="primary" (click)="addRow()">
                                                       <mat-icon class="col-white">add</mat-icon>
                                                     </button>
                                                   </div> 
                                                   <br>


                                                   <div class="row">
                                                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                        <button (click)="onSubmit('Pending')" class="btn-space" mat-raised-button color="accent"
                                                         style="margin-left: 36%;background-color: #34d034;">Save as Draft</button>  
                                                         <button (click)="onSubmit('Submitted')" class="btn-space" mat-raised-button color="accent"
                                                         style="margin-left: 0%;background-color: #34d034;">Final Submit</button>
                                                         <button  color="primary" type="button" class="btn-space" (click)="reset()"
                                                         mat-raised-button>Reset</button>
                                                       <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                                                     </div>
                                                   </div>
                             </form>
                             </div>
                             </div>
                             </div>
                             </div>
                             </div>
                             </section>
                             