<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Payments'" [items]="['Home','Payments']" [active_item]="'Subscription'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Subscription</strong> </h2>
          </div>
          <div class="body">
            <div class="demo">
              <div class="container">
                <form class="m-4" [formGroup]="docForm" >
                <div class="row">
                    <div class="col-md-12">
                        
                     
                        <mat-form-field class="example-width form-control-sm" appearance="outline" style="width:245px">
                            <!-- <mat-label>Currency</mat-label> -->
                            <mat-select  (selectionChange)="changeCurrency($event.value)" formControlName="currency">
                                <mat-option *ngFor="let currency of currencyList" [value]="currency.id">
                                    {{currency.text}}
                                  </mat-option>
                            </mat-select>
                            
                        </mat-form-field>
                        
                    </div>
                </div>
                </form>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                      <div class="pricingTable-header">
                        <i class="material-icons">brightness_medium</i>
                        <div class="price-value"> {{stdAmt}}.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">Standard</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>50GB</b> Disk Space</li>
                          <li>
                            <b>50</b> Email Accounts</li>
                          <li>
                            <b>50GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>10</b> subdomains</li>
                          <li>
                            <b>15</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="javascript:void(0);" (click)="initiatePaymentModule('standard')">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable greenColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">local_mall</i>
                        <div class="price-value"> {{busAmt}}.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">Business</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>60GB</b> Disk Space</li>
                          <li>
                            <b>60</b> Email Accounts</li>
                          <li>
                            <b>60GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>15</b> subdomains</li>
                          <li>
                            <b>20</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="javascript:void(0);" (click)="initiatePaymentModule('Professional')">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable blueColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">spa</i>
                        <div class="price-value"> {{preAmt}}.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">PREMIUM</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>70GB</b> Disk Space</li>
                          <li>
                            <b>70</b> Email Accounts</li>
                          <li>
                            <b>70GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>20</b> subdomains</li>
                          <li>
                            <b>25</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="javascript:void(0);" (click)="initiatePaymentModule('Enterprice')">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable redColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">filter_vintage</i>
                        <div class="price-value"> {{extAmt}}.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">EXTRA</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>80GB</b> Disk Space</li>
                          <li>
                            <b>80</b> Email Accounts</li>
                          <li>
                            <b>80GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>20</b> subdomains</li>
                          <li>
                            <b>35</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="javascript:void(0);" (click)="initiatePaymentModule('Ultimate')">sign up</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>