<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Payments'" [items]="['Home','Payments']" [active_item]="'Subscription'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Subscription</strong> </h2>
          </div>
          <div class="body">
            <div class="demo">
              <div class="container">
                <form class="m-4" [formGroup]="docForm" >
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <mat-form-field class="example-width form-control-sm" appearance="outline" style="width:245px">
                            <mat-label>Currency</mat-label>
                            <mat-select  (selectionChange)="changeCurrency($event.value)" formControlName="currency">
                                <mat-option *ngFor="let currency of currencyList" [value]="currency.id">
                                    {{currency.text}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <mat-form-field class="example-width form-control-sm" appearance="outline" style="width:245px">
                          <mat-label>No.of Users</mat-label>
                          <input matInput formControlName="noOfUsers" (keypress)="keyPressNumber($event)" required>
                        <mat-error *ngIf="docForm.get('noOfUsers').hasError('required')">
                           No.of Users is required
                        </mat-error>
                        <mat-error *ngIf="docForm.get('noOfUsers').hasError('object')">
                          No.of Users is required
                       </mat-error>
                      </mat-form-field>
                      
                  </div>
                </div>

                  <div class="row">
                  
                    
                    <div class="col-md-12 col-sm-6">
                      <div class="pricingTable blueColor">
                        <div class="pricingTable-header">
                          <i class="material-icons">spa</i>
                          <div class="price-value"> {{stdAmt}}.00
                           
                          </div>
                        </div>
                        <h3 class="heading">PREMIUM</h3>
                        <div class="pricing-content">
                          <ul>
                            <li>
                              <b>70GB</b> Disk Space</li>
                            <li>
                              <b>70</b> Email Accounts</li>
                            <li>
                              <b>70GB</b> Monthly Bandwidth</li>
                          </ul>
                        </div>
                        <div >
                          <mat-form-field class="example-width form-control-sm" appearance="outline" style="width:245px">
                              <mat-label >Promotion Code</mat-label>
                              <input matInput formControlName="promotionCode" (keypress)="keyPressNameNumber($event)" (change)="verifyPromoCode($event.target.value)">
                          </mat-form-field>
                          
                      </div>
                        <div class="pricingTable-signup">
                          <a href="javascript:void(0);" style="text-decoration:none;"(click)="initiatePaymentModule('standard')">Proceed to Pay</a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>