
  <div class="row" style="height:100%">
    <div class="col-md-6">
 
      <div class="left-img" style="background-image: url(assets/images/forgetpassword.jpg);" >
      </div>
    </div>
    <div class="col-md-6" >
      <div class="row" style="padding-top:50px">
        <h2 > Reset Password </h2>
      </div>
      <div class="row">
        <p >Let Us Help You</p>
      </div>
      <form class="validate-form" [formGroup]="authForm">
      <div class="row" style="padding-top:20px">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <span >
            Enter your registered email address.
          </span>
          <mat-form-field class="example-full-width" appearance="outline" style="padding-top:10px">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailId" (blur)="validateEmailId($event.target.value)" required>
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="authForm.get('emailId').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="authForm.get('emailId').hasError('assetcategory')">
              Email Id Not Exists 
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="padding-top:10px">
        <button mat-flat-button color="primary" (click)="onSubmit()" class="auth-form-btn"  type="submit" >
          Reset My Password
        </button>
      </div>
      <div class="row" style="padding-top:10px">
        <a href="javascript:void(0);" (click)="loginPage()" class="txt1" style="text-align:center;text-decoration:none;">
          Login?
        </a>
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0 alertColor">{{error}}</div>
    </form>
    </div>
  </div>


