
<div class="card ">
    <div class="body " >
      <form class="m-4" [formGroup]="docForm">

        <h4>Bank</h4>
      <div class="row">
  <div class=" col-md-2">
  <mat-label class="lable">Bank Name<span class="errorColor">*</span></mat-label>
  </div>
  <div class=" col-md-4">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <input matInput formControlName="bankName" (keypress)="keyPressString($event)" maxlength="50" required>

  </mat-form-field>
  </div>
  <div class=" col-md-2">
  <mat-label class="lable">Account Type<span class="errorColor">*</span></mat-label>
  </div>
  <div class=" col-md-2">
    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="accType"  maxlength="50" required>
  </mat-form-field>
</div>
</div>
<div class="row">
    <div class=" col-md-2">
      <mat-label class="lable">Account Number<span class="errorColor">*</span></mat-label>
      </div>
       <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="accNo"  maxlength="15"(keypress)="keyPressNumeric($event)" required>

      </mat-form-field>
    </div>
    <div class=" col-md-2">
      <mat-label class="lable">IFSC Code</mat-label>
      </div>

    <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="ifscCode" maxlength="11" >
        <mat-error *ngIf="docForm.controls['ifscCode'].hasError('pattern')">
          please enter valid ifsc 
          </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-2">
      <mat-label class="lable">Address<span class="errorColor">*</span></mat-label>
      </div>
       <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="address"  maxlength="50" required>

      </mat-form-field>
    </div></div>

    <div class="row">
      <div class=" col-md-2"></div>

 <div class=" col-md-2">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
    <mat-select class="inputTxt" formControlName="state"maxlength="30"placeholder="State" required>
      <mat-option *ngFor="let title of stateDdList" [value]="title.id">
          {{title.text}}
      </mat-option>
  </mat-select>
  </mat-form-field></div>
    <div class=" col-md-2">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="zip"maxlength="6"placeholder="Zip" (change)="zipcodevalidation1($event.target.value)"(keypress)="keyPressNumeric($event)" >
        <mat-error *ngIf="docForm.get('zip').hasError('shipper')">
          please enter valid zip code
        </mat-error>
      </mat-form-field></div>
      <div class="row">
        <div class=" col-md-2">
          </div>
          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <mat-select class="inputTxt" formControlName="country">
              <mat-option *ngFor="let title of countryList" [value]="title.id">
                  {{title.text}}
              </mat-option>
          </mat-select>
          </mat-form-field>
        </div></div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <button (click) = "onSubmit()" class="btn-space" mat-raised-button
          color="accent" style="margin-left: 40%;background-color: #34d034;">Add To Submit</button>
          <button  (click) = "onCancel()"color="warn" type="button" mat-raised-button>Cancel</button>
        </div>
        </div>
</div></form>
  </div>
  </div>


