<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>      
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }      
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Customer Name</th>
                            <th class="tableHeader">Registration Code</th> 
                            <th class="tableHeader">Email</th> 
                            <th class="tableHeader">Contact Person</th> 
                            <!-- <th class="tableHeader">CONTACT NUMBER</th> 
                            <th class="tableHeader">ADDRESS 1</th> 
                            <th class="tableHeader">ADDRESS 2</th>
                            <th class="tableHeader">PIN CODE</th>   
                            <th class="tableHeader">LOCATION </th>                       
                            <th class="tableHeader">PAN NO</th>                       
                            <th class="tableHeader">GST NO</th>                        -->
                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of customerList">
  
                            <td *ngIf="data.isValidUser == false" style="background-color: red;">{{data.auditorname}}</td>
                            <td *ngIf="data.isValidUser == true">{{data.auditorname}}</td>
                            <td >{{data.registercode}}</td>
                            <td *ngIf="data.isValidEmail == true">{{data.email}}</td>
                            <td *ngIf="data.isValidEmail == false" style="background-color: red;">{{data.email}}</td>
                            <td>{{data.person}}</td>
                            <!-- <td>{{data.conPhone}}</td>
                            <td>{{data.address}}</td>
                            <td>{{data.addresstwo}}</td>
                            <td>{{data.postalcode}}</td>
                            <td>{{data.location}}</td>
                            <td>{{data.panno}}</td>
                            <td>{{data.gstno}}</td>                  -->
                           
                    </tbody>
                </table>             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="start">
                
                <label *ngIf="isValidUser == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Customer Name Already Exist !!!</label>
</div>
<div class="example-button-row" align="start">

                <label *ngIf="isValidUser == false && isValidEmail == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Please Enter Valid Email !!!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">           
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValidUser == false || isValidEmail == false"  [mat-dialog-close]="1" (click)="onSubmit()">Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>        
        </div>
    </div>
  </div> 