 <section class="content">
    <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
        <app-breadcrumb [title]="'Add-Loan-Details'" [items]="['Master']" [active_item]="'Add-Loan-Details'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 ">

          <div class="card" style="padding: 0px 1% 0px;">
            <div class="body">
              <!-- style="margin-left: -9%;padding: 2%;padding-left: 101px;overflow-x: hidden;" -->
              <!-- <h4 style=" padding-bottom: 40px;  padding-top: 5px; color: #004AAD;">Loan Detail</h4> -->

              <form class="m-4" [formGroup]="docForm" >
                <h4>PERSONAL INFORMATION</h4>
                <br><br>
                <div class="row" >
                  <div class="col-md-2" style="min-width: fit-content;" >
                      <mat-label >LOAN-HOLDER NAME<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="name"  maxlength="16"
                    oninput="this.value = this.value.toUpperCase()"
                    (keypress)="keyPressName($event)" >
                    <mat-error *ngIf="docForm.get('name').hasError('required')">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label >D.O.B<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker6" 
                        formControlName="dobObj"
                        (dateInput)="$event.value.format('DD/MM/YYYY')"
                        id="dob"
                        (dateChange)="getDateString($event, 'dob',0)">
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                    <mat-error *ngIf="docForm.get('dob').hasError('required')">
                      D.O.B is required
                     </mat-error> 
                      </mat-form-field>
                      
                  </div>

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >EMAIL-ID<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="mail" maxlength="30">
                    <mat-error *ngIf="docForm.get('mail').hasError('pattern')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="docForm.get('mail').hasError('required')">
                      Email-Id is required
                    </mat-error>
                    <!-- <mat-error *ngIf="docForm.get('mail').hasError('required') || docForm.get('mail').touched" >
                      Please enter a valid email address
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="row" >
                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label >PHONE NUMBER</mat-label>
                </div>
                <div class="col-md-1">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline" style="width: 60px">
                    <mat-select formControlName="phoneno" (keypress)="keyPressNumeric2($event)">
                      <mat-option *ngFor="let title of CountryCodeList" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-1">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline" style="width: 160px; margin-left: -70%;">
                  <input matInput formControlName="telepheNo" maxlength="10" (keypress)="keyPressNumeric($event)">
                </mat-form-field>
              </div>

                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label>ADDRESS</mat-label>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <textarea matInput formControlName="address" maxlength="250"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label>LOAN REFERENCE<span class="errorColor">*</span></mat-label>
              </div>
              <div class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="loanRef" maxlength="16"
                  oninput="this.value = this.value.toUpperCase()"
                  (keypress)="keyPressName($event)" >
                  <mat-error *ngIf="docForm.get('loanRef').hasError('required')">
                    Loan Reference is required
                  </mat-error>
                </mat-form-field>
              </div>
          </div>

              <br>
              <h4>LOAN DETAILS</h4>
                <br><br>    
                <div class="row" >
                  <!-- <div class="col-md-2" style="min-width: fit-content;" >
                      <mat-label >LOAN PROPERTY</mat-label>
                  </div>
                  <div  class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select tabindex="18" formControlName="loanProperty" (selectionChange)="getPropertyDetails($event.value)">
                        <mat-option *ngFor="let title of loanPropertyList" [value]="title.text">
                          {{title.text}}
                        </mat-option>
                        </mat-select>
                        </mat-form-field>
                  </div> -->
                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >LOAN TYPE<span class="errorColor">*</span></mat-label>
                  </div>
                  <div  class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select class="inputTxt" formControlName="type">
                      <mat-option [value]="'Personal Loan'">
                        Personal Loan
                        </mat-option>
                        <mat-option [value]="'Home Loan'">
                          Home Loan
                        </mat-option>
                        <mat-option [value]="'Education Loan'">
                          Education Loan
                        </mat-option>
                        <mat-option [value]="'Business Loan'">
                          Business Loan
                        </mat-option>
                        <mat-option [value]="'Security Loan'">
                          Security Loan
                        </mat-option>
                        <mat-option [value]="'Property Loan'">
                          Property Loan
                        </mat-option>
                        <mat-option [value]="'Payday Loan'">
                          Payday Loan
                        </mat-option>
                        <mat-option [value]="'Vehicle Loan'">
                          Vehicle Loan 
                        </mat-option>
                        <mat-option [value]="'MORTGAGE'">
                          MORTGAGE 
                        </mat-option>
                  </mat-select>
                      <mat-error *ngIf="docForm.get('type').hasError('required')">
                        Loan type is required
                      </mat-error>
                  </mat-form-field> 
                  </div>

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >APPLICATION DATE<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker3" 
                        formControlName="loanApplicationDateObj"
                        (dateInput)="$event.value.format('DD/MM/YYYY')"
                        id="loanApplicationDate"
                        (dateChange)="getDateString($event, 'loanApplicationDate',0)">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                        <mat-error *ngIf="docForm.get('loanApplicationDate').hasError('required')">
                         Application Date is required
                        </mat-error> 
                      </mat-form-field>
                  </div>

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >LOAN NUMBER<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="loan" maxlength="15" (keypress)="keyPressNumeric($event)" >
                    <mat-error *ngIf="docForm.get('loan').hasError('required')">
                      Loan Number is required
                    </mat-error>
                  </mat-form-field>
                </div>

                </div>

                <div class="row" >  

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >LOAN AMOUNT<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="loanAmount" (keypress)="keyPressNumeric($event)" maxlength="8" >
                        <mat-error *ngIf="docForm.get('loanAmount').hasError('required')">
                          Loan Amount is required
                        </mat-error>
                      </mat-form-field>
                  </div>

                   <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label >APPROVAL DATE<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput [matDatepicker]="picker4" 
                          formControlName="loanApprovalDateObj"
                          (dateInput)="$event.value.format('DD/MM/YYYY')"
                          id="loanApprovalDate"
                          (dateChange)="getDateString($event, 'loanApprovalDate',0)">
                      <mat-datepicker-toggle matSuffix
                          [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                          <mat-error *ngIf="docForm.get('loanApprovalDate').hasError('required')">
                           Approval Date is required
                          </mat-error> 
                    </mat-form-field>
                  </div>

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >DISBURSEMENT DATE<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput [matDatepicker]="picker5" 
                        formControlName="loanDisbursementDateObj"
                        (dateInput)="$event.value.format('DD/MM/YYYY')"
                        id="loanDisbursementDate"
                        (dateChange)="getDateString($event, 'loanDisbursementDate',0)">
                    <mat-datepicker-toggle matSuffix
                        [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                        <mat-error *ngIf="docForm.get('loanDisbursementDate').hasError('required')">
                        Disbursement Date is required
                        </mat-error> 
                  </mat-form-field>
                </div>  
                </div>

                <div class="row" >

                      <div class="col-md-2" style="min-width: fit-content;">
                        <mat-label >LOAN START DATE<span class="errorColor">*</span></mat-label>
                        </div>
                        <div class=" col-md-2">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <input matInput [matDatepicker]="picker" 
                            formControlName="loanStartDateObj"
                            (dateInput)="$event.value.format('DD/MM/YYYY')"
                            id="loanStartDate"
                            (dateInput)="fromDateChange('input', $event)"
                            (dateChange)="getDateString($event, 'loanStartDate',0)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="docForm.get('loanStartDate').hasError('required')">
                              Loan Start Date is required
                            </mat-error> 
                          </mat-form-field>
                      </div>

                      <div class="col-md-2" style="min-width: fit-content;">
                        <mat-label >LOAN END DATE <span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker1" 
                            formControlName="loanDueDateObj"
                            (dateInput)="$event.value.format('DD/MM/YYYY')"
                            id="loanDueDate" [min]="minToDate"
                            (dateChange)="getDateString($event, 'loanDueDate',0)">
                        <mat-datepicker-toggle matSuffix
                            [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="docForm.get('loanDueDate').hasError('required')">
                              Loan End Date is required
                            </mat-error> 
                      </mat-form-field>
                    </div> 

                      <div class="col-md-2" style="min-width: fit-content;">
                        <label>CURRENCY<span class="errorColor">*</span></label>
                    </div>
                    <div class=" col-md-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-select formControlName="currencyl" >
                            <mat-option [value]="'KSH'">KSH</mat-option>
                            <mat-option [value]="'INR'">INR</mat-option>
                            <mat-option [value]="'TES'">TES</mat-option>
                            </mat-select>
                            <mat-error 
                            *ngIf="docForm.get('currencyl').hasError('required')">
                            Currency is required
                          </mat-error>
                          </mat-form-field>
                          </div>
                  </div>
                  
                <div class="row" >
                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >LOAN BALANCE<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="loanBal" (keypress)="keyPressNumeric($event)" maxlength="8" >
                        <mat-error *ngIf="docForm.get('loanBal').hasError('required')">
                          Loan Balance is required
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <br>
                <h4>PAYMENT AND INTEREST</h4>
                <br><br>

                <div class="row" >
                              
                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >MONTHLY AMOUNT<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="amount" (keypress)="keyPressNumberDouble($event)" maxlength="6" >
                    <mat-error *ngIf="docForm.get('amount').hasError('required')">
                     EMI MONTHLY Amount is required
                     </mat-error>
                  </mat-form-field>
                </div>

                  <div class="col-md-2" style="min-width: fit-content;">
                    <mat-label >EMI DATE<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput [matDatepicker]="picker2" 
                    formControlName="emidateObj"
                    (dateInput)="$event.value.format('DD/MM/YYYY')"
                    id="emiDate" [min]="minToDate"
                    (dateChange)="getDateString($event, 'emiDate',0)">
                <mat-datepicker-toggle matSuffix
                    [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="docForm.get('emiDate').hasError('required')">
                      EMI Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label>RATE OF INTEREST (%)<span class="errorColor">*</span></mat-label>
              </div>
              <div class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="interestRate" (keypress)="keyPressNumberDouble($event)" maxlength="5" >
                  <mat-error *ngIf="docForm.get('interestRate').hasError('required')">
                    Rate of Interest is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

              <div class="row" >
                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label >PENALITY AMOUNT</mat-label>
                </div>
                <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="penalityAmount" (keypress)="keyPressNumberDouble($event)" maxlength="8">
                    <mat-error *ngIf="docForm.get('penalityAmount').hasError('required')">
                      Penality Amount is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label >PAYMENT HISTORY</mat-label>
                  </div>
                  <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select class="inputTxt" formControlName="payHis" >
                          <mat-option [value]="'MISSED'">
                            MISSED
                          </mat-option>
                          <mat-option [value]="'LATE PAYMENT'">
                            LATE PAYMENT
                          </mat-option>
                          <mat-option [value]="'REPAYMENT'">
                            REPAYMENT
                          </mat-option>
                          <mat-option [value]="'DEFAULTS'">
                            DEFAULTS
                          </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2" style="min-width: fit-content;">
                  <label>REPAYMENT TERM<span class="errorColor">*</span></label>
            </div>
              <div class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select formControlName="repayment" >
                      <mat-option [value]="'SIX MONTHS'">SIX MONTHS</mat-option>
                      <mat-option [value]="'TEN MONTHS'">TEN MONTHS</mat-option>
                      <mat-option [value]="'ONE YEAR'">ONE YEAR</mat-option>
                      <mat-option [value]="'TWO YEARS'">TWO YEARS</mat-option>
                      <mat-option [value]="'FIVE YEARS'">FIVE YEARS</mat-option>
                    </mat-select>
                    <mat-error 
                    *ngIf="docForm.get('repayment').hasError('required')">
                      Repayment Term is required
                    </mat-error>
                    </mat-form-field>
              </div>
              </div>

              <br>
              <h4>LOAN BANK DETAILS</h4>
              <br><br>

              <div class="row" >
                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label >BANK NAME<span class="errorColor">*</span></mat-label>
              </div>
              <div  class=" col-md-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-select class="inputTxt" formControlName="bankname" >
                    <mat-option [value]="'SBI'">
                        SBI
                      </mat-option>
                      <mat-option [value]="'IOB'">
                        IOB
                      </mat-option>
                      <mat-option [value]="'HDFC'">
                        HDFC
                      </mat-option>
                      <mat-option [value]="'INDIAN BANK'">
                        INDIAN BANK
                      </mat-option>
                      <mat-option [value]="'ICICI'">
                        ICICI
                      </mat-option>
                </mat-select>
                  <mat-error *ngIf="docForm.get('bankname').hasError('required')">
                    Bank Name is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2" style="min-width: fit-content;">
                <mat-label >BRANCH NAME</mat-label>
            </div>
            <div  class=" col-md-2">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="branchName" (keypress)="keyPressName($event)">
              </mat-form-field>
            </div>

              <div class="col-md-2" style="min-width: fit-content;">
                  <mat-label >LOAN ACCOUNT NO.<span class="errorColor">*</span></mat-label>
              </div>
              <div class=" col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="account" maxlength="12"  (keypress)="keyPressNumeric($event)">
                  <mat-error *ngIf="docForm.get('account').hasError('required')">
                   Account Number is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>  

              <div class="row" >
             <div class="col-md-2" style="min-width: fit-content;" >
               <mat-label >BANK IFSC<span class="errorColor">*</span></mat-label>
           </div>
           <div class=" col-md-2">
             <mat-form-field class="example-full-width form-control-sm" appearance="outline" >
               <input matInput formControlName="ifsccode" (change)="validateIFSC($event.target.value)" 
                oninput="this.value = this.value.toUpperCase()"
                maxlength="11" >
               <mat-error *ngIf="docForm.get('ifsccode').hasError('pattern')">
                 Please Enter Valid IFSC code
               </mat-error>
               <mat-error *ngIf="docForm.get('ifsccode').hasError('required')" >
                 IFSC Code is required
               </mat-error>
               <!-- <mat-error *ngIf="ifscError">
                Invalid IFSC code for the selected bank.
              </mat-error> -->
             </mat-form-field>

             
              <!-- <div *ngIf="ifscError" class="error-message">
              Invalid IFSC code for the selected bank.
             </div>  -->
           </div> 
          </div><br>

                          <div class="row" style="margin-left: 10%;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                              color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                              <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                              <button (click) = "reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
                              <button (click) = "cancel()" color="warn" type="button" mat-raised-button>Cancel</button>
                            </div>
                          </div> 
                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
            </section>