<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'Add Item Category'" [items]="['inventory']" [active_item]="'Add Item Category'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">

          <div class="card " >
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div class=" col-md-2"></div>

                  <div class=" col-md-2">
                    <mat-label class="lable">Category Name<span class="errorColor">*</span></mat-label>
                    </div>
                  <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="categoryName" maxlength="15" required>
                      <mat-error *ngIf="docForm.get('categoryName').hasError('required')">
                        Category name  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label class="lable">Parent Category<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="parentCategory" maxlength="15" (keypress)="keyPressNumeric($event)" required>
                        <mat-error *ngIf="docForm.get('parentCategory').hasError('required')">
                          Parent Category is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <br>

              <br>
              <div class="row">
                <div class=" col-md-2"></div>
                <div class=" col-md-2">
                  <mat-label class="lable">Category Type<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="categoryType" maxlength="15" (keypress)="keyPressNumeric($event)" required>
                      <mat-error *ngIf="docForm.get('categoryType').hasError('required')">
                        Category Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2"><mat-label class="lable"
                     >Incoming Quality Check</mat-label></div>
                    <div class=" col-md-2">
                       <mat-checkbox  formControlName="incomingQty"></mat-checkbox>
                    </div>
                  </div><br>

                <div class="row">

               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">

                    <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 45%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 45%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="onReset()"
                      mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                      mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>

        </div>
      </div>
    </div>
  </section>