.message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 12px;
  }
  .message.to {
    background-color: 
#2095FE;
    color: 
#fff;
    margin-left:70px;
    text-align: right;
  }
  .message.from {
    background-color: 
#E5E4E9;
    color: 
#363636;
    margin-right:70px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
}
.mat-dialog-content {
  display: block;
  margin: 0 0px;
  padding: 0 0px;
  background-color: #2095FE;
  max-height: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left:-8px;
}
.chat-box {
  display:none;
  background: #efefef;
  position:fixed;
  right:30px;
  bottom:50px;  
  width:350px;
  max-width: 85vw;
  max-height:100vh;
  border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
  box-shadow: 0px 5px 35px 9px #ccc;
}
.chat-box-header {
  background: #2095FE;
  height:70px;
  border-top-left-radius:15px;
  border-top-right-radius:15px; 
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:17px;
  width:270px;
  margin-left: -27px;
}
.task {
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  
}
