<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Item Master'" [items]="['Item Master']" [active_item]="'Add Item Master'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card" style="padding-left: 40px;">
          <div class="body">
            <form class="m-4" [formGroup]="docForm">

              <div class="row">
                <div class="col-md-2">
                  <label >ITEM TYPE <span class="errorColor">*</span></label>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select formControlName="itemType"  [disabled]="true">
                      <mat-option *ngFor="let title of itemTypeList" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="docForm.get('itemType').hasError('required')">
                      Item Type is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 spaceBetweenTwoFields">
                  <label >ITEM NAME <span class="errorColor">*</span></label>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="itemName" (keypress)="keyPressName($event)" maxlength="30" required>
                    <mat-error *ngIf="docForm.get('itemName').hasError('required')">
                      Item Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <label >ITEM CODE <span class="errorColor">*</span></label>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="itemCode" (keypress)="keyPressName($event)" maxlength="10"
                    (blur)="validateItemCode($event.target.value)" required>
                    <mat-error *ngIf="docForm.get('itemCode').hasError('required')">
                      Item Code is required
                    </mat-error>
                    <mat-error *ngIf="docForm.get('itemCode').hasError('item')">
                      Item Code Already Exists !!!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 spaceBetweenTwoFields">
                  <label>ITEM CATEGORY <span class="errorColor">*</span></label>
                </div>
                <div class="col-md-3">
                   <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select formControlName="itemCategory" >
                      <mat-option *ngFor="let title of categoryList" [value]="title.id" required>
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="docForm.get('itemCategory').hasError('required')">
                      Item Category is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <label >ITEM DESCRIPTION</label>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="itemDescription" (keypress)="keyPressName($event)" maxlength="250">
                  </mat-form-field>
                </div>
              </div><br>


              <mat-tab-group>
                <mat-tab label="SPECIFICATION">
                  <br>
                  <ng-container
                    *ngFor="let specificationList of docForm.get('specificationList')['controls']; let i = index">
                    <tbody [formGroup]="specificationList">

                      <div class="row">
                        <!-- Text Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value === 'Text'">
                          <label class="lable">{{specificationList.controls.labelName.value}}</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value === 'Text'">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <input matInput name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue" (keypress)="keyPressName($event)" maxlength="50">
                          </mat-form-field>
                        </div>
                        <!-- Text End -->

                        <!-- DropDown Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value == 'DropDown'">
                          <label >DROP DOWN</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value == 'DropDown'">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <mat-select name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue">
                              <mat-option [value]="specificationList.controls.defaultvalue.value">
                                {{specificationList.controls.defaultvalue.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- DropDown End -->

                        <!-- Text Area Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value == 'Text Area'">
                          <label class="lable">{{specificationList.controls.labelName.value}}</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value == 'Text Area'">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <textarea matInput name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue"  (keypress)="keyPressName($event)" maxlength="50"></textarea>
                          </mat-form-field>
                        </div>
                        <!-- Text Area End -->


                        <!-- CheckBox Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value == 'CheckBox'">
                          <label class="lable">{{specificationList.controls.labelName.value}}</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value == 'CheckBox'">
                          <p><input type="checkbox" style="margin-left: 16px;" name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue">&nbsp; <b>{{specificationList.controls.defaultvalue.value}}</b></p>
                        </div>
                        <!-- CheckBox End -->

                        <!-- Radio Button Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value == 'Radio Button'">
                          <label>RADIO BUTTON</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value == 'Radio Button'">
                          <mat-radio-group  name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue">
                            <mat-radio-button value="specificationList.controls.defaultvalue.value"  style="margin-left: 16px;">&nbsp;&nbsp; {{specificationList.controls.defaultvalue.value}} &nbsp;</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <!-- Radio Button End -->

                        <!-- Number Start -->
                        <div class="col-md-3" *ngIf="specificationList.controls.typeinput.value == 'Number'">
                          <label>NUMBER</label>
                        </div>
                        <div class="col-md-8" *ngIf="specificationList.controls.typeinput.value == 'Number'">
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <input matInput name="dynamicAttributeValue{{i}}" formControlName="dynamicAttributeValue" (keypress)="keyPressName($event)"  maxlength="50">
                          </mat-form-field>
                        </div>
                        <!-- Number End -->


                    </div>
                  </ng-container>
                </mat-tab>

                <mat-tab label="VENDOR">
                  <div style="overflow-x: auto;">
                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                      <thead class="">
                        <tr>
                          <th style="width: 1%;"></th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">VENDOR</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">VENDOR ITEM NAME</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">VENDOR ITEM CODE</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">MINIMUM QUNATITY</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">VENDOR UOM</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">DELIVERY LEAD TIME</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">PRICING TYPE</th>
                        </tr>
                      </thead>

                          <ng-container
                          *ngFor="let vendorList of docForm.get('vendorList')['controls']; let i = index">
                          <tbody [formGroup]="vendorList">
                          <tr>
                            <td>
                              <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                <mat-icon class="col-white">delete</mat-icon>
                              </button>
                              </td>
                           <td class="padding-both-side-2">
                               <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>VENDOR</mat-label>
                                <mat-select name="vendorId{{i}}" formControlName="vendorId">
                                  <mat-option *ngFor="let title of vendorDropdownList" [value]="title.id">
                                    {{title.text}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>VENDOR ITEM NAME</mat-label>
                                <input matInput name="vendorItemName{{i}}" formControlName="vendorItemName" (keypress)="keyPressName($event)" maxlength="50">
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>VENDOR ITEM CODE</mat-label>
                                <input matInput name="vendorItemCode{{i}}" formControlName="vendorItemCode" (keypress)="keyPressName($event)" maxlength="25">
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>MINIMUM QUNATITY</mat-label>
                                <input matInput name="vendorminimumQty{{i}}" formControlName="vendorminimumQty"  (keypress)="keyPressNumberInt($event)" maxlength="9">
                              </mat-form-field>
                            </td>

                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>VENDOR UOM</mat-label>
                                <mat-select name="vendorUomId{{i}}" formControlName="vendorUomId">
                                  <mat-option *ngFor="let title of uomList" [value]="title.id">
                                    {{title.text}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>DELIVERY LEAD TIME</mat-label>
                                <input matInput name="deliveryLeadTime{{i}}" formControlName="deliveryLeadTime" (keypress)="keyPressNumberInt($event)" maxlength="9">
                              </mat-form-field>
                            </td>
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>PRICING TYPE</mat-label>
                                <mat-select name="pricingType{{i}}" formControlName="pricingType">
                                  <mat-option *ngFor="let title of pricingTypeList" [value]="title.id">
                                    {{title.text}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>

                            </tr>
                            </tbody>
                            </ng-container>
                            </table>
                            </div>
                            <div>
                              <button mat-mini-fab color="primary" (click)="addRow()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>
                </mat-tab>

                <mat-tab label="INVENTORY">
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      <label>INVENTORY VALUTATION <span class="errorColor">*</span></label>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="inventoryValuation">
                          <mat-option *ngFor="let title of inventoryValuvationList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('inventoryValuation').hasError('required')">
                          Inventory Valutation is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2 spaceBetweenTwoFields">
                      <label>ISSUE METHOD <span class="errorColor">*</span></label>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="issueMethod">
                          <mat-option *ngFor="let title of issueList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('issueMethod').hasError('required')">
                          Issue Method is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>


                </mat-tab>

                <mat-tab label="GRN ATTRIBUTE">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="batchNo" ngInit="checked=true">Batch
                        NO</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="mrp"
                        ngInit="checked=true">MRP</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="expiryDate" ngInit="checked=true">Expiry
                        DATE</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="manufactureDetails"
                        ngInit="checked=true">MANUFACTURE DETAILS</mat-checkbox>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <br>


              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 36%;background-color: #34d034;">Submit</button>
                  <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 36%;background-color: #34d034;">Update</button>
                  <button color="primary" type="button" class="btn-space" (click)="reset()"
                    mat-raised-button>Reset</button>
                  <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>