<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'IT Support'" [items]="['Help Desk']" [active_item]="'IT Support List'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive" style=" overflow: hidden;">

              <div class="row"  style=" margin-top: 1%;margin-left: 0%;  font:montserrat;" >
                <h4 style="padding-bottom: 5px;
                padding-top: 5px;color:black; ">TICKET LIST</h4><br>

   
              </div><br>
        
            <div class="row" style="padding-bottom:50px;padding-left: 50px;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
         
        
                </div>
                </div>
        
                 <div class="" style="margin-left: 17%; margin-top: -6%;">
                <div >
                <mat-card class="l-bg-purple-dark" style="width:18%; margin-top: 10px;" (click)="status('CLOSED')">CLOSED
                  <h2>{{closeCountValue}}</h2>
                     </mat-card>
                </div>


               
               <div>
              <mat-card class="bg-cyan" style="width:18%; margin-left: 20%; margin-top: -86px;" (click)="status('ASSIGNED')">ASSIGNED
                <h2>{{AssignedCountValue}}</h2>
                
              </mat-card> 
                     </div> 
                   
                     <div>
                <mat-card class=" bg-green" style="width:18%;margin-left: 40%;margin-top: -85px;" (click)="status('OPENED')">OPENED
                  <h2>{{OpenedCountValue}}</h2>
                </mat-card>
                   
                </div>
                <div>
                <mat-card class=" l-bg-orange" style="width:18%;margin-left: 60%;margin-top: -86px;" (click)="status('HOLD')">HOLD
                  <h2>{{HoldCountValue}}</h2>
                </mat-card> &nbsp;
                </div> 
                
                </div>
                
              
               
        <BR>
        <!-- <div class="row" style="padding-bottom:50px;padding-left: 50px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
        <div class button-grp  style="margin-left: 37%;">
            <button [routerLink]="'/helpdesk/itsupport/additsupport/0'" mat-raised-button style="background-color:#0dcaf0; color:aliceblue" >NEW TICKET</button>
        </div>
        </div>
        </div> -->

              <div class="materialTableHeader" style="padding-top: 1%;padding-bottom: 4%;">
                <div class="row">
                  
                    <div class="col-8">
                      <ul class="header-buttons-left ms-0">
                        <li class="dropdown m-l-20 ">
                          <h2>IT Support</h2>
                        </li>
                        <li class="dropdown m-l-20">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Search" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      
                        <li>
                          <div class="m-l-10" matTooltip="ADD">
                            <button color="primary" type="button" class="btn-space"  [routerLink]="'/helpdesk/itsupport/additsupport/0'" mat-raised-button><i
                              class="fas fa-plus-circle" style="font-size: 20px;color: bisque;"></i> Create New</button>
                          </div>
                        </li>
                      </ul>
                    </div>
              
                  
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt=""
                              (click)="exporter.exportTable('xlsx', {fileName:'Ticket list', sheet: 'sheet1'})" />
                          </div>
                        </li>
                        
                        
                      </ul>
                    </div>
                </div>
              </div>
              <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                #exporter="matTableExporter">
                
                <ng-container matColumnDef="tickettype">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Type</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.tickettype}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="asset">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Asset</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.assetnamelist}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetlocation">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Location</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.assetlocationlist}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="priority">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.priority}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.Status}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ticketgroup">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Group</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.ticketgroup}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assignee">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Assignee</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.assignee}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="reportedby">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Reported By</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.reportedby}}
                  </mat-cell>
                </ng-container>
                
               
               
               
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                    <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                      (click)="deleteItem(i, row)" class="tbl-action-btn">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>
              <!-- Loading spinner -->
              <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <!-- context menu start -->
              <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
              </div>
              <mat-menu #contextMenu="matMenu">
                <ng-template matMenuContent let-item="item">
                  <button mat-menu-item (click)="addNew()">
                    <mat-icon>add_box</mat-icon>
                    <span>Add Record</span>
                  </button>
                  <button mat-menu-item (click)="editCall(item)">
                    <mat-icon>create</mat-icon>
                    <span>Edit Record</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(item.id,item)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Record</span>
                  </button>
                  <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh Record</span>
                  </button>
               
                </ng-template>
              </mat-menu>
          
              <!-- context menu end -->
              <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>