
<div class="row" style="height:100%">
    <div class="col-md-6">
 
      <div class="left-img" style="background-image: url(assets/images/RegisSucess.jpg);" >
      </div>
    </div>
    <div class="col-md-6" >
      <div class="row" style="padding-top:50px">
        <h2 style="color:#2C2C9D;" > Registration Successful </h2>
      </div>
      <div class="row">
        <p >Congratulations, your account has been successfully created!</p>
      </div>
      
      <div class="row" style="padding-top:20px">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <h5>
            Thank you for registering in AssetChek.
          </h5>
          <p>
            Login Credentials has been sent to your registered mail. Please check your email (Spam folder too) to Login AssetChek.
          </p>
        </div>
      </div>
      <div class="row" style="padding-top:10px">
        <a href="javascript:void(0);" (click)="loginPage()" class="txt1" >
          Sign in
        </a>
      </div>
      
    </div>
    
  </div>


