<style>

    .border1{
        border: 5px solid black;
      border-collapse: collapse;}
    th{
        padding: 8px;
        background-color: rgba(69, 132, 248, 0.74);
        border: 3px solid rgba(10, 10, 10, 0.397) ;
    }
    td{
        padding: 8px;
        border: 3px solid rgba(10, 10, 10, 0.397) ;
    }

    </style>
<section class="content">
    <div class="content-block">
        <div class="block-header" style="padding: 0.5% !important;">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Asset Replacement'" [items]="['Asset']" [active_item]="'Asset Replacement'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card ">
                    <div class="body" style="padding-left: 1px;">
                     <form class="m-4" [formGroup]="docForm">
                        <table>
                            <th style="text-align: center; color: rgb(249, 252, 255);">CURRENT ASSET</th>
                            <th style="text-align: center; color: rgb(249, 252, 255);">REPLACE ASSET</th>
                            <tr>
                                <td>
                                    <div *ngFor="let assetMasterBean of docForm.get('assetMasterBean')['controls'];" [formGroup]="assetMasterBean">                 
                                        <div class="row" style="margin-left: 10%;">
                                            <br>
                                             <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-top: -5%; ">
                                                <mat-label >ASSET NAME :</mat-label>
                                            </div>
                                            
                                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12" style="margin-top: -7%; "> 
                                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                    <mat-select tabindex="30" formControlName="assName" (selectionChange)="assetDetails($event)">
                                                        <mat-option *ngFor="let title of assetnamelist" [value]="title.id" >
                                                            {{title.text}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
                                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                                <mat-label >ASSET CODE :</mat-label>
                                            </div>
                                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                                <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                    <input matInput  tabindex="31" formControlName="assCode" [readonly]="true">
                                                   </mat-label>
                                            </div>
                                            <br><br>
                                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                                <mat-label >LOCATION :</mat-label>
                                            </div>
                                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                                <mat-label class="example-full-width form-control-sm" appearance="outline" >
                                                    <input matInput  tabindex="32" formControlName="assLocation" [readonly]="true">
                                                   </mat-label>
                                            </div>
                                            <br><br>
            
                                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                                <mat-label >CATEGORY :</mat-label>
                                            </div>
                                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            
                                                <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                    <input matInput tabindex="33" formControlName="assCategory" [readonly]="true">
                                                   </mat-label>
                                            </div>
                                            <br><br>
            
                                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                                <mat-label >STATUS :</mat-label>
                                            </div>
                                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                                <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                    <input matInput tabindex="34"  selected formControlName="assStatus" [readonly]="true">
                                                   </mat-label>
                                            </div>
                                            <br><br>
                                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                                <mat-label >ASSET USER :</mat-label>
                                            </div>
            
                                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">                                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                    <mat-select tabindex="30" formControlName="assUser">
                                                        <mat-option *ngFor="let title of assetUserList" [value]="title.id" >
                                                            {{title.text}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
                                        </div>
                                          </div> 
                                </td>
                                <td>  
                                      <div *ngFor="let assetMasterBeanReplacement of docForm.get('assetMasterBeanReplacement')['controls'];" [formGroup]="assetMasterBeanReplacement">                 
                                    <div class="row" style="margin-left: 10%; margin-top: 4%;"> 
                                        
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <mat-radio-group tabindex="17"  formControlName="fullOrPartial">
                                                    <mat-radio-button value="F">FULL</mat-radio-button>
                                                    <mat-radio-button value="P">PARTIAL</mat-radio-button>
                                                </mat-radio-group>
                                            </div>                                                                                   
                                       <br><br>
                                           <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >ASSET NAME :</mat-label>
                                        </div>
                                        
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">                                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                <mat-select tabindex="30" formControlName="assName" (selectionChange)="assetDetailsReplacement($event)">
                                                    <mat-option *ngFor="let title of assetnamelist" [value]="title.id" >
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>                                       
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >ASSET CODE :</mat-label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                            <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                <input matInput  tabindex="31" formControlName="assCode" [readonly]="true">
                                               </mat-label>
                                        </div>
                                        <br><br>
        
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >LOCATION :</mat-label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                            <mat-label class="example-full-width form-control-sm" appearance="outline" >
                                                <input matInput  tabindex="32" formControlName="assLocation" [readonly]="true">
                                               </mat-label>
                                        </div>
                                         <br><br>
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >CATEGORY :</mat-label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        
                                            <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                <input matInput tabindex="33" formControlName="assCategory" [readonly]="true">
                                               </mat-label>
                                        </div>
                                        <br><br>
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >STATUS :</mat-label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                            <mat-label class="example-full-width form-control-sm" appearance="outline">
                                                <input matInput tabindex="34"  selected formControlName="assStatus" [readonly]="true">
                                               </mat-label>
                                        </div>
                                        <br><br>   
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >ASSET USER :</mat-label>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">                                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                <mat-select tabindex="30" formControlName="assUser">
                                                    <mat-option *ngFor="let title of assetUserList" [value]="title.id" >
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div> 
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div> 
                                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                            <mat-label >MOVED TO :</mat-label>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                                <mat-select tabindex="30" formControlName="movedTo">
                                                    <mat-option *ngFor="let title of locationDdList" [value]="title.id" >
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>  
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>          
                                    </div>
                                      </div> </td>
                            </tr>
                          
                        </table>
                                                                                
                        </form>
                    <div class="row"align="center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <button *ngIf="!edit && !grnFlag" class="btn-space" (click)="onSubmit()" style="background-color: #34d034;" mat-raised-button color="primary">Replace</button>
                            <button *ngIf="!edit && grnFlag" class="btn-space" (click)="saveGRNBasedMutipleAsset()" style="background-color: #34d034;" mat-raised-button color="primary">Submit</button>
                            <button *ngIf="edit" mat-raised-button color="primary" style="background-color: #34d034;" (click)="update()">Update</button>&nbsp;
                            <button color="warn" style= "background-color:#f44336;" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                            <button *ngIf="edit"color="primary" style="margin-left: 1%" type="button" class="btn-space" (click)="fetchDetails(requestId)"  mat-raised-button>Reset</button> &nbsp;
                            <button *ngIf="!edit" color="primary" type="button" class="btn-space" (click)="resetSelf()"  mat-raised-button>Reset</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>