.icon-button__badge 
  position: absolute
  top: 9px
  right: 5px
  width: 17px
  height: 15px
  background: red
  color: #ffffff
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%


.mat-icon 
    -webkit-user-select: none
    user-select: none
    background-repeat: no-repeat
    display: inline-block
    fill: currentColor
    height: 24px
    width: 24px
    vertical-align: middle
    color: white
