
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Branch Code</th>
                            <th class="tableHeader">Location Code</th>
                            <th class="tableHeader">Location</th>
                            <th class="tableHeader">Primary Head Email</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of loactionList">
                            <td *ngIf="data.isValidBranch == true">{{data.branchname}}</td>
                            <td *ngIf="data.isValidBranch == false" style="background-color:red;">{{data.branchname}}</td>
                            <td *ngIf="data.isValid == true">{{data.locationCode}}</td>
                            <td *ngIf="data.isValid == false" style="background-color:red;">{{data.locationCode}}</td>
                            <td *ngIf="data.isValidName == true">{{data.location}}</td>
                            <td *ngIf="data.isValidName == false" style="background-color:red;">{{data.location}}</td>
                            <td *ngIf="data.isValidEmail == true">{{data.text}}</td>
                            <td *ngIf="data.isValidEmail == false" style="background-color:red;">{{data.text}}</td>

                            

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

           

            <div class="example-button-row" align="start">
                <label *ngIf="isValidEmail == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Please Enter Valid Primary Head Mail!!!</label>
            </div>

            <div class="example-button-row" align="start">
                <label *ngIf="isValid == false || deptcodevaild == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Location Code Already Exists!!!</label>
            </div>

            
            <div class="example-button-row" align="start">
                <label *ngIf="isValidName == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Location Name Is Required !!!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValid == false || isValidEmail ==false || isValidName == false"  [mat-dialog-close]="1" (click)="onSubmit()">Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
  </div>
