<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Sales Order'" [items]="['Inventory']" [active_item]="'Add Sales Order'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <form class="m-4" [formGroup]="docForm">
            <div class="body">
              <div class="row">
                <!-- <div class="col-md-2">
                      <label class="lable">Customer</label>
                    </div> -->
                <div class="col-md-3"></div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Customer</mat-label>
                    <mat-select formControlName="customer">
                      <mat-option *ngFor="let title of customerDropDown" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="col-md-2">
                      <label class="lable">Currency</label>
                    </div> -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency">
                      <mat-option *ngFor="let title of currencyList" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="row">
                <!-- <div class="col-md-2">
                      <label class="lable">Expected Date of Delivery</label>
                  </div>  -->
                <div class="col-md-3"></div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Expected Date of Delivery</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dateofdelivery"
                      (dateInput)="$event.value.format('DD/MM/YYYY')" id="startdate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>

                  </mat-form-field>
                </div>

                <!-- <div class="col-md-2">
                      <label class="lable">Terms and Condition</label>
                  </div>  -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Terms and Condition</mat-label>
                    <textarea matInput formControlName="termsandcondition"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
              </div>

            </div>

            <!-- Detail Starts -->

            <div style="overflow-x: auto;">
              <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                <thead class="">
                  <tr>
                    <th style="width: 1%;"></th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%; border-radius: 0.05rem;">Product</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">UOM</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">Rate</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">Qty</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%; border-radius: 0.05rem;">Price</th>
                  </tr>
                </thead>
                <ng-container *ngFor="let salesOrderDtl of docForm.get('salesOrderDtl')['controls']; let i = index">
                  <tbody [formGroup]="salesOrderDtl">
                    <tr>
                      <td>
                        <button mat-mini-fab color="warn" (click)="removeRowSelf(i)">
                          <mat-icon class="col-white">delete</mat-icon>
                        </button>
                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Product</mat-label>
                          <mat-select name="product{{i}}" formControlName="product">
                            <mat-option *ngFor="let title of itemDropDown" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>UOM</mat-label>
                          <mat-select name="uom{{i}}" formControlName="uom">
                            <mat-option *ngFor="let title of uomDropDown" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>


                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Rate</mat-label>
                          <input matInput name="rate{{i}}" formControlName="rate">
                        </mat-form-field>
                      </td>

                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Qty</mat-label>
                          <input matInput name="qty{{i}}" formControlName="qty">
                        </mat-form-field>
                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Price</mat-label>
                          <input matInput name="price{{i}}" formControlName="price">
                        </mat-form-field>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
              </table>
            </div>
            <div>
              <button mat-mini-fab color="primary" (click)="addRowSelf()">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </div>
            <!-- Detail Ends -->

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                  style="margin-left: 36%;background-color: #34d034;">Submit</button>
                <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                  style="margin-left: 36%;background-color: #34d034;">Update</button>
                <button color="primary" type="button" class="btn-space" (click)="reset()"
                  mat-raised-button>Reset</button>
                <button color="warn" type="button" class="btn-space" (click)="cancel()"
                  mat-raised-button>Cancel</button>
              </div>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</section>