<section class="content">
  <div class="content-block">
    <div class="block-header" style="padding: 0.5% !important;">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Sales Order'" [items]="['Inventory']" [active_item]="'Add Sales Order'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <form class="m-4" [formGroup]="docForm">
            <div class="body">
              <div class="row"  style="margin-left: 10%;">
                <!-- <div class="col-md-2">
                      <label class="lable">Customer</label>
                    </div> -->
                    <div class=" col-md-2"  style="margin-top: 15px;">
                      <mat-label>CUSTOMER</mat-label>
                      </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select formControlName="customer">
                      <mat-option *ngFor="let title of customerDropDown" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-2" style="margin-top: 15px;">
                      <mat-label>CURRENCY</mat-label>
                    </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-select formControlName="currency">
                      <mat-option *ngFor="let title of currencyListbasedCompany" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="row" style="margin-left: 10%;">
                <!-- <div class="col-md-2">
                      <label class="lable">Expected Date of Delivery</label>
                  </div>  -->
                  <div class=" col-md-2"  style="margin-top: 15px;">
                    <mat-label>EXPECTED DATE OF DELIVERY</mat-label>
                    </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <!-- <input matInput [matDatepicker]="picker1" formControlName="dateofdeliveryObj"
                      (dateInput)="$event.value.format('DD/MM/YYYY')" id="startdate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> -->
                    <input matInput [matDatepicker]="picker1" formControlName="dateofdeliveryObj"
                    (dateInput)="$event.value.format('DD/MM/YYYY')" id="dateofdelivery"
                    (dateChange)="getDateString($event, 'dateofdelivery',0)" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1 "></mat-datepicker-toggle>
                  <mat-datepicker #picker1>
                  </mat-datepicker>
                  <mat-error *ngIf="docForm.get('dateofdeliveryObj').hasError('required')">
                    Date is required
                  </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-2" style="margin-top: 15px;">
                  <mat-label>TERMS AND CONDITIONS</mat-label>
                </div> 
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <textarea matInput formControlName="termsandcondition"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
              </div>


              <div class="row" style="margin-left: 10%;">
                <div class="col-md-2">
                  <mat-label>UPLOAD FILE
                  </mat-label>
                </div>
                <div class="col-md-4">
                  <app-file-upload tabindex="23" class="example-width form-control-sm" formControlName="uploadFiles" (change)="onSelectFile($event)"></app-file-upload>
                </div>

              </div>

              <div class="row" style="margin-left: 0.2%;" *ngIf="(filePathUrl != undefined && filePathUrl != null && filePathUrl != '')">
                <div class="iconCard" style="margin-left: 15%;">
                  <span>
                    <i class="far fa-file-alt docIcons"></i>{{filePathUrl?.split('/').pop()}}
                  </span>
                  <a class="downloadView" >
                    <i class="fas fa-eye" (click)="uploadpopupCall()" style=" cursor: pointer;color: #3D78BE;"></i>
                  </a>
                </div>
              </div>
              
            </div>
<br>
<br>


            <!-- Detail Starts -->

            <div style="overflow-x: auto;">
              <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                <thead class="">
                  <tr>
                    <th style="width: 1%;"></th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%; border-radius: 0.05rem;">Item</th>
                    <!-- <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">UOM</th> -->
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">Asset</th>
                   <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
      width: 12%;border-radius: 0.07rem;">Qty</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%;border-radius: 0.07rem;">Rate</th>
                    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
     width: 12%; border-radius: 0.05rem;">Price</th>
                  </tr>
                </thead>
                <ng-container *ngFor="let salesOrderDtl of docForm.get('salesOrderDtl')['controls']; let i = index">
                  <tbody [formGroup]="salesOrderDtl">
                    <tr>
                      <td>
                        <button mat-mini-fab color="warn" (click)="removeRowSelf(i)">
                          <mat-icon class="col-white">delete</mat-icon>
                        </button>
                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Item</mat-label>
                          <mat-select name="product{{i}}" formControlName="product" (selectionChange)="fetchAssetDetails($event.value)">
                            <mat-option *ngFor="let title of itemDropDown" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="submitted && salesOrderDtl.get('product').hasError('required')" class="failed-validation" class="errorColor"> Item is required </div>

                      </td>
                      <!-- <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>UOM</mat-label>
                          <mat-select name="uom{{i}}" formControlName="uom">
                            <mat-option *ngFor="let title of uomDropDown" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td> -->
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Asset</mat-label>
                          <mat-select name="asset{{i}}" formControlName="asset">
                            <mat-option *ngFor="let title of assetDropdown" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="submitted && salesOrderDtl.get('asset').hasError('required')" class="failed-validation" class="errorColor"> Asset is required </div>
                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Qty</mat-label>
                          <input matInput name="qty{{i}}" formControlName="qty"
                          (change)="Qtycalculation(i)" (keypress)="keyPressNumeric1($event)" >
                        </mat-form-field>
                        <div *ngIf="submitted && salesOrderDtl.get('qty').hasError('required')" class="failed-validation" class="errorColor"> Qty is required </div>

                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Rate</mat-label>
                          <input matInput name="rate{{i}}" formControlName="rate"
                          (change)="Amountcalculation(i)"  (keypress)="keyPressNumeric1($event)">
                        </mat-form-field>
                        <div *ngIf="submitted && salesOrderDtl.get('rate').hasError('required')" class="failed-validation" class="errorColor"> Rate is required </div>

                      </td>
                      <td class="padding-both-side-2">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Price</mat-label>
                          <input matInput name="price{{i}}" formControlName="price"  readonly>
                        </mat-form-field>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
              </table>
            </div>
            <div>
              <button mat-mini-fab color="primary" (click)="addRowSelf()">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline"
                  style="margin-left: 320%;">
                  <mat-label>Total</mat-label>
                  <input matInput formControlName="total" maxlength="15" readonly
                    Style="text-align:right;" readOnly>
                </mat-form-field>
              </div>
            </div>
            <!-- Detail Ends -->

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                  style="margin-left: 36%;background-color: #34d034;">Submit</button>
                <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                  style="margin-left: 36%;background-color: #34d034;">Update</button>
                <button color="primary" type="button" class="btn-space" (click)="reset()"
                  mat-raised-button>Reset</button>
                <button color="warn" type="button" class="btn-space" (click)="cancel()"
                  mat-raised-button>Cancel</button>
              </div>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</section>