

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Branch code</th>
                            <th class="tableHeader">Branch Name</th>
                            <th class="tableHeader">Branch Head</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of itemList">

                            <td *ngIf="data.isValid == true || data.deptCodevalid == true ">{{data.branchCode}}</td>
                            <td *ngIf="data.isValid == false || data.deptCodevalid == false" style="background-color: red;">{{data.branchCode}}</td>

                            <td *ngIf="data.isValid == true" >{{data.branchname}}</td>
                            <td *ngIf="data.isValid == false" >{{data.branchname}}</td>

                            <td *ngIf="data.isValid == true || data.branchHeadvalid == true">{{data.branchHeadList}}</td>
                            <td *ngIf="data.isValid == false && data.branchHeadvalid == false " style="background-color: red;" >{{data.branchHeadList}}</td>

                           

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="start">

                <label *ngIf=" branchHeadvalid == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Please Entry Valid Branch Head !!!</label>
            </div>
            <label *ngIf="isValid == false || deptCodevalid == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Branch Code Already Exists!!!</label>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValid == false || deptCodevalid == false || branchHeadvalid == false" [mat-dialog-close]="1" (click)="onSubmit()">Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
  </div>
