<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
         <app-breadcrumb [title]="'Scheduled Audits'" [items]="['Audit']" [active_item]="'Scheduled Audit List'">
        </app-breadcrumb>
      </div>
     <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="table-responsive">
                <div class="materialTableHeader" style="padding-top: 1%;padding-bottom: 4%;">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ms-0">
                        <li class="dropdown m-l-20 ">
                          <h2>Scheduled Audits</h2>
                        </li>
                        <li [hidden]="!permissionList?.search"  class="dropdown m-l-20">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Search" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4"*ngIf="permissionList?.exportXL">
                      <ul class="header-buttons">
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt=""
                              (click)="exporter.exportTable('xlsx', {fileName:'assets-list', sheet: 'sheet1'})" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                  #exporter="matTableExporter">
                  <ng-container matColumnDef="auditCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutGap="5px">Audit Code</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.auditCode}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="auditName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Audit Name</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.auditName}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                     <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.startDate}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.endDate}}</mat-cell>
                  </ng-container>
        
                  
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.status}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="auditType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Type</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.auditType}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions" class="col-lg-12 col-md-2">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                        <button mat-icon-button color="accent" *ngIf="row.statusNew!='Submit'"   (click)="$event.stopPropagation()" (click)="editCall(row)"
                        class="tbl-action-btn">
                        <button mat-raised-button color="primary" >Start Audit</button>
                    </button>
                    <span *ngIf="row.statusNew=='Submit'">Submitted</span>

                    <button   mat-icon-button color="accent"  *ngIf="row.statusNew=='Submit'"  (click)="$event.stopPropagation()" (click)="viewCall(row)"  class="tbl-action-btn">
                      <app-feather-icons matTooltip="View" [icon]="'eye'" [class]="'tbl-fav-delete'">
                      </app-feather-icons>
                    </button>

                    <button mat-icon-button color="accent" *ngIf="row.statusNew=='Submit'" (click)="$event.stopPropagation()" (click)="reviewCall(row)"
                    class="tbl-action-btn">
                    <button mat-raised-button color="primary" >Review</button>
                </button>
                    </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                    [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </mat-table>
                <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                </div>
                <mat-menu #contextMenu="matMenu">
                  <ng-template matMenuContent let-item="item">
      
                    <button *ngIf="permissionList?.modify" mat-menu-item (click)="editCall(item)">
                      <mat-icon>create</mat-icon>
                      <span>Edit Record</span>
                    </button>
                    <button *ngIf="permissionList?.delete" mat-menu-item (click)="deleteItem(item.id,item)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete Record</span>
                    </button>

                  </ng-template>
                </mat-menu>
                <mat-menu #nestedmenu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>mail_outline</mat-icon>
                    <span>Item 1</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>call</mat-icon>
                    <span>Item 2</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>chat</mat-icon>
                    <span>Item 3</span>
                  </button>
                </mat-menu>
                <!-- context menu end -->
                <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                  [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                  No results
                </div>
                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>