<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Asset Category'" [items]="['Master']" [active_item]="'Add Asset Category'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix" STYLE="margin-left:-10%;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body" style="padding-left: 150px;">
              <form class="m-4" [formGroup]="docForm">


                <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >CATEGORY NAME<span class="errorColor">*</span></label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="categoryName"  maxlength="30" (blur)="validateCategoryName($event.target.value)"  (keypress)="keyPressName($event)" required>
                    <mat-error *ngIf="docForm.get('categoryName').hasError('required')">
                        Category Name is required
                    </mat-error>
                    <mat-error *ngIf="docForm.get('categoryName').hasError('assetcategory')">
                      Category Name Already Exists..!!
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                  <label class="lable">Parent Category<span class="errorColor">*</span></label>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " >
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput   formControlName="parentCategory"  maxlength="30" (keypress)="keyPressName($event)" required>
                  <mat-error *ngIf="docForm.get('parentCategory').hasError('required')">
                    Parent Category is required
                  </mat-error>
                </mat-form-field>
                </div>
              </div> -->
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label >PARENT CATEGORY</label>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " >
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                <mat-select class="inputTxt" formControlName="parentCategory">
                    <mat-option *ngFor="let title of categoryDdList" [value]="title.id">
                        {{title.text}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            </div>
                </div>




                <div class="row">
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label style=" margin-left: 11px;">CURRENCY<span class="errorColor">*</span></label>
                </div>
    
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline"  >
                    <mat-select formControlName="currency" >
                      <mat-option *ngFor="let title of currencylist" [value]="title.id" required>
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="docForm.get('currency').hasError('required')">
                      Currency is required
                    </mat-error>
    
    
                  </mat-form-field>
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >DESCRIPTION</label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <textarea matInput formControlName="Description"  maxlength="250" (keypress)="keyPressName($event)"></textarea>
                        <mat-error *ngIf="docForm.get('Description').hasError('required')">
                            description  is required
                        </mat-error>
                      </mat-form-field>
                </div>

                <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                  <label >DEPRECIATION METHOD<span class="errorColor">*</span></label>
              </div> -->

              <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline" >
                  <mat-select formControlName="depreciation" >
                    <mat-option *ngFor="let title of depreciationlist" [value]="title.id" required>
                      {{title.text}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="docForm.get('depreciation').hasError('required')">
                    Depreciation Method is required
                  </mat-error>


                </mat-form-field>
              </div> -->



              <div class="row">
                <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                  <label >ASSET TYPE</label>
              </div> -->

              <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline" style=" margin-left: 6px; " >
                  <mat-select formControlName="assettype" >
                    <mat-option *ngFor="let title of assettypelist" [value]="title.id" required>
                      {{title.text}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="docForm.get('assettype').hasError('required')">
                    asset location by is required
                  </mat-error>


                </mat-form-field>
              </div> -->

              

          </div>

            </div>

            <div class="row">

              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label >IS ACTIVE</label>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " >
                <mat-checkbox  ngInit="checked=false" formControlName="isactive"  style="margin-left: 20px;"></mat-checkbox>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label >SPECIFICATION</label>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " >
                <mat-checkbox  ngInit="checked=false" formControlName="isSpec" style="margin-left: 20px;"></mat-checkbox>
              </div>

            </div>

            <br>
            <!-- Detail Row -->
      <div class="row" *ngIf="this.docForm.controls['isSpec'].value">
      <h6 class="headingValue"> Specification Details </h6>
      <div style="overflow-x: auto;">
        <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
          <thead>
            <tr>
              <th style="width: 1%;"></th>
              <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.05rem;">Field Name</th>
              <th class="text-center table-heading padding-both-side-2 width_7"  style="width: 12%;margin-left: 25px;border-radius: 0.07rem;">Field Type</th>
            </tr>
          </thead>
          <ng-container *ngFor="let specificationList of docForm.get('specificationList')['controls']; let i = index">
            <tbody [formGroup]="specificationList"> 
                <tr>
                  <td>
                    <button mat-mini-fab color="warn" (click)="removeRow(i)" *ngIf="i>0">
                      <mat-icon class="col-white">delete</mat-icon>
                    </button>
                  </td>  
                  <td class="padding-both-side-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Field Name</mat-label>
                      <input matInput name ="fieldName{{i}}" formControlName="fieldName"  >
                      <mat-error *ngIf="specificationList.get('fieldName').hasError('required')">
                        Field Name is required
                      </mat-error>
                    </mat-form-field>
                  </td>

                  <td class="padding-both-side-2">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Field Type</mat-label>
                      <mat-select name="fieldType{{i}}" formControlName="fieldType">
                        <mat-option *ngFor="let title of fieldTypeList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="specificationList.get('fieldType').hasError('required')">
                        Field Type is required
                      </mat-error>
                    </mat-form-field>
                  </td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
        <div>
          <button mat-mini-fab color="primary" (click)="addRow()">
            <mat-icon class="col-white">add</mat-icon>
          </button>
        </div> 
      </div>

                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button  *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                      color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                      <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


