.table thead tr th {
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
    background-color: #f5f5f5;
    color: #666;
    font-weight: 500;
    border: none;
    width: 20%;
}
.tableBody {
    font-size: 14px;
    color: #555;
    padding: 10px 15px 50px 17px;
}

:host::ng-deep.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    /* overflow: auto; */
    overflow: hidden!important;
    outline: 0;
    width: 50%;
    height: 90%;
    min-height: inherit;
    max-height: inherit;
}

:host::ng-deep.cdk-overlay-container 
  {
    justify-content: right;
}

#myChart {
    width: 544px !important;
    height: 253px !important;
    margin-top: 71px !important;
  }

:host::ng-deep.myHighChart {
    width: 1544px !important;
    height: 253px !important;
    margin-top: 71px !important;
  }
  .highcharts-figure,
  .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
  }
  
  #container {
      height: 400px;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  
  .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
  }
  
  .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
      padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
      background: #f1f7ff;
  }
  
  :host::ng-deep .highcharts-container {
    width: 100%;
  }