

<div class="container-fluid">
    <div class="modal-header">
        <h5 class="modal-title headingValueNew">View Server</h5>
        <div class="col-md-6 text-right">
        </div>
        <div class="col-md-2 text-right">
            <button  color="primary" type="button" class="btn-space" (click)="back()"
              mat-raised-button>Back</button>
        </div>
    </div>
    <div class="modal-body container">
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                    CUSTOMER
                </div>
                <div class="subheadingValue">
                  {{(viewDtl?.customer !== null && viewDtl?.customer !== '') ? (viewDtl?.customer) : '-'}} 
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    PUBLIC IP
                </div>
                <div class="subheadingValue">
                  {{(viewDtl?.publicIp !== null && viewDtl?.publicIp !== '') ? (viewDtl?.publicIp ) : '-'}} 
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    PRIVATE IP
                </div>
                <div class="subheadingValue">
                  <p>{{viewDtl?.privateIp !== null ? viewDtl?.privateIp: '-'}}</p>
                </div>
            </div>
            <div class="col-md-3">
              <div class="heading">
                OS TYPE
              </div>
              <div class="subheadingValue">
                <p>{{viewDtl?.osType !== null ? viewDtl?.osType: '-'}}</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="heading">
                SERVER NAME
              </div>
              <div class="subheadingValue">
                {{viewDtl?.serverName !== null ? viewDtl?.serverName: '-'}}
              </div>
          </div>
          <div class="col-md-3">
              <div class="heading">
                CORE
              </div>
              <div class="subheadingValue">
                {{viewDtl?.core !== null ? viewDtl?.core: '-'}}
              </div>
          </div>
          <div class="col-md-3">
              <div class="heading">
                RAM
              </div>
              <div class="subheadingValue">
                {{viewDtl?.ram !== null ? viewDtl?.ram: '-'}}
              </div>
          </div>
          <div class="col-md-3">
                <div class="heading">
                    HDD
                </div>
                <div class="subheadingValue">
                {{viewDtl?.hdd !== null ? viewDtl?.hdd: '-'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                    PORTS
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.ports !== null ? viewDtl?.ports: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    LOCATION
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.location !== null ? viewDtl?.location: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    APPLICATIONS
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.applications !== null ? viewDtl?.applications: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    DUMP LOCATION
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.dumpLocation !== null ? viewDtl?.dumpLocation: '-'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                    DB NAME
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.dbName !== null ? viewDtl?.dbName: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    DB PASSWORD
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.dbPwd !== null ? viewDtl?.dbPwd: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    DB PORT
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.dbPort !== null ? viewDtl?.dbPort: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    URL
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.url !== null ? viewDtl?.url: '-'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                    LOGIN NAME
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.loginName !== null ? viewDtl?.loginName: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    LOGIN PASSWORD
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.loginPwd !== null ? viewDtl?.loginPwd: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    CRONTAB CONFIG
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.crontabConfig !== null ? viewDtl?.crontabConfig: '-'}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                    BACKUP LOCATION
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.backupLocation !== null ? viewDtl?.backupLocation: '-'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                    SERVER PERFORMANCE
                </div>
                <div class="subheadingValue">
                  {{viewDtl?.serverPerformance !== null ? viewDtl?.serverPerformance: '-'}}
                </div>
            </div>
        </div>
        

        <div>

            <div class="row">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                      <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">USERNAME</th>
                                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">PASSWORD</th>
                                         <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                         width: 12%; border-radius: 0.05rem;">IS ADMIN</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let audit of serverDetailList; let i = index">
                                    <tr>
                                            
                                        <td class="padding-both-side-2">
                                            {{audit?.username}}
                                        </td>
                                        <td class="padding-both-side-2">
                                            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                              <div>
                                                <span *ngIf="visiblePasswordIndex !== i">******</span>
                                                <span *ngIf="visiblePasswordIndex === i">{{ audit?.usernamePwd }}</span>
                                              </div>
                                              <button 
                                                mat-icon-button 
                                                color="accent" 
                                                (click)="togglePasswordVisibility(i)" 
                                                aria-label="Toggle password visibility" 
                                                style="background: none; border: none; margin-left: 10px; cursor: pointer;">
                                                <app-feather-icons                                       
                                                  [icon]="visiblePasswordIndex === i ? 'eye-off' : 'eye'" 
                                                  style="font-size: 16px;">
                                                </app-feather-icons>
                                              </button>
                                            </div>
                                        </td>
                                        <td class="padding-both-side-2" >
                                            <mat-checkbox 
                                            style="margin-left: 48%;"
                                            [checked]="audit?.isAdmin" 
                                            disabled>
                                            </mat-checkbox>
                                        </td>
                                          
                                    </tr> 
                                </tbody>
                            </table>
                            <div *ngIf="serverDetailList?.length === 0">
                                <p style="text-align: center;">No Data Available in Table</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
    </div>
</div>
