<section class="content">
    <div class="content-block">
        <div class="block-header" style="padding: 0.5% !important;">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Manage Asset'" [items]="['Asset']" [active_item]="'Manage Asset List'">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader" style="padding-top: 1%;padding-bottom: 4%;">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown m-l-20 ">
                                                <h2>Manage Asset</h2>
                                              </li>
                                            <li [hidden]="!permissionList?.search" class="dropdown m-l-20">
                                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text" #filter class="browser-default search-field" aria-label="Search box">
                                            </li>
                                            <li *ngIf="permissionList?.add">
                                                <div class="m-l-10" matTooltip="ADD">
                                                  <button color="primary" type="button" class="btn-space" [routerLink]="'/asset/assetMaster/addAssetMaster/0'" mat-raised-button>
                                                    <i class="fas fa-plus-circle" style="font-size: 20px;color: bisque;"></i> Create New
                                                  </button>
                                                </div>
                                              </li>
                                              <li>
                                                <div class="m-l-10" matTooltip="ADD">
                                                  <button color="primary" type="button" class="btn-space" (click)="multipleuploadpopupCall()" mat-raised-button><i
                                                     style="font-size: 20px;color: bisque;"></i>Add Multiple Upload</button>
                                                </div>
                                              </li>
                                        </ul>
                                    </div>
                                    <div class="col-4"*ngIf="permissionList?.exportXL">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="m-l-10" matTooltip="Print Asset QRCode">
                                                  <button type="button" class="btn-space" mat-raised-button color="accent"
                                                    style="background-color: rgb(50, 124, 173);cursor: pointer;" (click)="assetQRcodeExportPdf()">Print Asset QRCode</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exporter.exportTable('xlsx', {fileName:'assets-list', sheet: 'sheet1'})" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort matSortDisableClear class="mat-cell" #exporter="matTableExporter" [hiddenColumns]="[8]">

                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                                      </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                      </mat-checkbox>
                                    </mat-cell>
                                  </ng-container>

                                <!-- <ng-container matColumnDef="assetId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Asset No </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  (contextmenu)="onContextMenu($event, row)">
                                        {{row.assetId}}</mat-cell>
                                </ng-container> -->

                                <ng-container matColumnDef="assetName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  (contextmenu)="onContextMenu($event, row)">
                                        {{row.assetName}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="assetCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutGap="5px"> Asset Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  (contextmenu)="onContextMenu($event, row)">
                                        {{row.assetCode}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Location">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutGap="5px"> Location </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  (contextmenu)="onContextMenu($event, row)">
                                        {{row.locationName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Category">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.categoryName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutGap="5px"> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  (contextmenu)="onContextMenu($event, row)">
                                        {{row.statusName}}</mat-cell>
                                </ng-container>





                                <!-- actions -->
                                <ng-container matColumnDef="actions" class="col-lg-12 col-md-2">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button *ngIf="permissionList?.modify"mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)" class="tbl-action-btn">
                        <app-feather-icons matTooltip="Edit" [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                                        <button *ngIf="permissionList?.delete"mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)" class="tbl-action-btn">
                        <app-feather-icons matTooltip="Delete" [icon]="'trash-2'" [class]="'tbl-fav-delete'">
                        </app-feather-icons>
                      </button>

                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="viewCall(row)" class="tbl-action-btn">
                        <app-feather-icons matTooltip="View" [icon]="'eye'" [class]="'tbl-fav-delete'">
                        </app-feather-icons>
                      </button>
<!--
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="discardCall(row)" class="tbl-action-btn">
                        <app-feather-icons matTooltip="Delete" [icon]="'trash-2'" [class]="'tbl-fav-delete'" style="color: black!important;">
                        </app-feather-icons>
                      </button> -->

                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="demo-google-material-icon" (click)="$event.stopPropagation()" (click)="discardCall(row)">
                          <i class="material-icons">delete_forever</i>

                        </div>
                      </div>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                            <!-- Loading spinner -->
                            <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>

                            <!-- context menu start -->
                            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                            </div>
                            <mat-menu #contextMenu="matMenu">
                                <ng-template matMenuContent let-item="item">
                                    <button *ngIf="permissionList?.add"mat-menu-item [routerLink]="'/asset/assetMaster/addAssetMaster'">
                      <mat-icon>add_box</mat-icon>
                      <span>Add Record</span>
                    </button>
                                    <button *ngIf="permissionList?.modify" mat-menu-item (click)="editCall(item)">
                      <mat-icon>create</mat-icon>
                      <span>Edit Record</span>
                    </button>
                                    <button *ngIf="permissionList?.delete" mat-menu-item (click)="deleteItem(item)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete Record</span>
                    </button>
                                </ng-template>
                            </mat-menu>
                            <!-- context menu end -->

                            <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results" [style.display]="dataSource?.renderedData?.length == 0 ? '' : 'none'">
                                No results
                            </div>
                            <mat-paginator #paginator [length]="dataSource?.filteredData?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>