
    <div class="content-block" style="height:-webkit-fill-available;">
           <div style="background-color: rgb(101 154 170);"> <h2 style="margin-left: 30%; color: rgb(228, 13, 13);"> SUBSCRIPTION ALERT!!</h2>
            <h4 style="margin-left: 5%;">
              YOUR SUBSCRIPTION EXPIRED...!!! RECHARGE NOW TO CONTINUE USING ASSETCHEK
            </h4>
            </div>
      <div class="block-header">
       
      </div>


      <div class="row">

            <div class="body">
              
               
        </div>
      </div>


  <div class="row" style="margin-top: 23%; height: 10%;">
    <div class="col-md-6">
        <button color="primary" type="button" (click)="onRecharge()" style="margin-left: 75%;background-color: rgb(7, 185, 7);" mat-raised-button>Recharge</button>
      </div>
    <div class="col-md-3 ">
      <button color="warn" type="button" (click)="onCancel()"  mat-raised-button>Cancel</button>
    </div>
  </div>
 

  </div>
