<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->

        <app-breadcrumb [title]="'Company Logo'" [items]="['Master']" [active_item]="'Company Logo List'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="box-shadow">
            <div class="card">
              <div class="body" style="padding-left: 110px;">
                <form class="m-4" [formGroup]="docForm">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-label>User Name :</mat-label>
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="userName" autocomplete="off" readonly >
                      </mat-form-field>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-label>COMPANY NAME :</mat-label>
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="companyId" >
                        <mat-option *ngFor="let title of customerDropDown" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                        <mat-label><b></b></mat-label>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <mat-label>COMPANY LOGO :</mat-label>
                        <input  type="file"formControlName="backGroundImg" class="file-input" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectCompanyLogoImage($event)" style="border: 1px solid;
                        height: 55px;
                        width: 100%;
                        border-color: #bdc2c9;
                        padding: 13px 10px 10px 22px;">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                        <mat-label><b></b></mat-label>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <mat-label>BACKGROUND IMAGE :</mat-label>
                        <input  type="file"formControlName="backGroundImg" class="file-input" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectCompanyBackgroundImage($event)" style="border: 1px solid;
                        height: 55px;
                        width: 100%;
                        border-color: #bdc2c9;
                        padding: 13px 10px 10px 22px;">
                      </div>
                    </div>
                  <br>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <button class="btn-space" mat-raised-button
                        color="accent" (click)="onSubmit()" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                      <button color="warn" (click)="onCancel()"type="button" class="btn-space"  mat-raised-button>Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </section>