<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'UOM Master'" [items]="['Inventory']" [active_item]="'Add UOM Master'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="box-shadow">
        <div class="card">
          <div class="body" style="padding-left: 110px;">
            <form class="m-4" [formGroup]="docForm">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                  <mat-label><b></b></mat-label>
                </div>
                <div class="row">
                  <div class=" col-md-2"></div>
                  <div class=" col-md-2">
                    <mat-label >UOM NAME<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="categoryName" maxlength="20" required>

                        <mat-error *ngIf="docForm.get('categoryName').hasError('required')">
                          UOM Name is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    </div>

              </div>

              <div class="row">
                <div class=" col-md-2"></div>
                  <div class=" col-md-2">
                    <mat-label >UOM DESCRIPTION<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class=" col-md-3"style="margin-left: -6px;">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <textarea matInput formControlName="description" maxlength="50" ></textarea>
                      </mat-form-field>
                    </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 50px;">
                    <mat-label><b></b></mat-label>
                </div>

              </div>

              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 68px;">
                  <mat-label><b></b></mat-label>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="padding-left: 69px;">
                <mat-checkbox formControlName="active" ngInit="checked=true">ACTIVE</mat-checkbox>
              </div>
            </div>

              <br>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button  *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button  *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                  <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                  <button color="warn" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>


