<section class="content">
  <div class="content-block">
    <div class="block-header" style="padding: 0.5% !important;">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Purchase Order'" [items]="['Inventory']" [active_item]="'Add Purchase Order'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>PO DATE </mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 ">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput [matDatepicker]="picker" formControlName="poDateObj"
                        (dateInput)="$event.value.format('DD/MM/YYYY')" id="poDate" required
                        (dateChange)="getDateString($event, 'poDate',0)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>PURCHASE TYPE <span class="errorColor">*</span></mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="purchaseType">
                        <mat-option *ngFor="let title of purchaseTypeList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('purchaseType').hasError('required')">
                        Purchase Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>VENDOR<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="vendorId" (selectionChange)="getVendorAddressDetails($event.value)"
                        required>
                        <mat-option *ngFor="let title of vendorList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('vendorId').hasError('required')">
                        Vendor is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>VENDOR ADDRESS</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="vendorAddress" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>ZIPCODE</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input type="text" matInput formControlName="vendorZip" readonly
                      (keypress)="keyPressNumeric2($event)" (change)="getPincodeDetails($event.target.value)"  maxlength="6">
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>DESTINATION LOCATION<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="destinationLocation" required>
                        <mat-option *ngFor="let title of locationDdList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('destinationLocation').hasError('required')">
                        Destination Location is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>COUNTRY</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="vendorCountry" disabled>
                        <mat-option *ngFor="let title of countryList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>STATE</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="vendorState" disabled>
                        <mat-option *ngFor="let title of stateList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>DISTRICT</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="vendorDistrict" disabled>
                        <mat-option *ngFor="let title of districtList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>CITY</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline" >
                      <mat-select formControlName="vendorCity" disabled>
                        <mat-option *ngFor="let title of cityList" [value]="title.id" >
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 10%;">
                  <div class=" col-md-2">
                    <mat-label>TERMS AND CONDITIONS</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="termsConditions">
                      <mat-error *ngIf="docForm.get('termsConditions').hasError('required')"> Terms & Conditions is
                        required </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label>REMARKS</mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label></mat-label>
                      <input matInput formControlName="remarks">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left:10%;">

                  <div class="col-md-2">
                    <mat-label>UPLOAD FILE
                    </mat-label>
                  </div>

                  <div class="col-md-4">
                    <app-file-upload tabindex="23" class="example-width form-control-sm" formControlName="lopUpload" (change)="onSelectFile($event)"></app-file-upload>
                  </div>
                  
                  <!-- <div class="col-md-4" style="margin-left: 100px; margin-top: -22px;">
                    <app-file-upload class="example-width form-control-sm" formControlName="lopUpload"
                      (change)="onSelectFile($event)"></app-file-upload>
                  </div> -->
                  <div class="row" style="margin-left:10%;" *ngIf="(filePathUrl != undefined && filePathUrl != null && filePathUrl != '')">
                    <div class="iconCard">
                      <span><i class="far fa-file-alt docIcons"></i>{{filePathUrl?.split('##').pop()}}</span>
                      <a class="downloadView" (click)="viewDocuments(filePathUrl, filePathUrl?.split('##').pop())">
                        <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
  <app-file-upload  class="example-width form-control-sm" formControlName="lopUpload"
    (change)="onSelectFile($event)"></app-file-upload>
</div>
</div>
<div class="row" *ngIf="(filePathUrl != undefined && filePathUrl != null && filePathUrl != '')">
<div class="iconCard">
  <span><i class="far fa-file-alt docIcons"></i>{{filePathUrl?.split('##').pop()}}</span>
  <a class="downloadView" (click)="viewDocuments(filePathUrl, filePathUrl?.split('##').pop())">
    <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
  </a>
</div> -->
                <!-- </div>  -->

                <!-- <div class="row">
                  <div class="col-md-4">
                    <app-file-upload class="example-width form-control-sm" formControlName="lopUpload"
                      (change)="onSelectFile($event)"></app-file-upload>
                  </div>
                </div>
                <div class="row" *ngIf="(filePathUrl != undefined && filePathUrl != null && filePathUrl != '')">
                  <div class="iconCard">
                    <span><i class="far fa-file-alt docIcons"></i>{{filePathUrl?.split('##').pop()}}</span>
                    <a class="downloadView" (click)="viewDocuments(filePathUrl, filePathUrl?.split('##').pop())">
                      <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
                    </a>
                  </div>
                </div> -->
                <br>
                <div style="overflow-x: auto;">
                  <table [formGroup]="purchaseOrderDetail"
                    *ngFor="let purchaseOrderDetail of docForm.get('purchaseOrderDetail')['controls']; let i = index"
                    id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                    <thead class="">
                      <tr>
                        <th style="width: 1%;"></th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Item Name</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">EDD</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">UOM</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Qty</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Unit Price</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Price</th>
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Discount Type</th>
                        <!-- <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%; border-radius: 0.05rem;">Discount(%)</th> -->
                        <!-- <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;"    *ngIf="purchaseOrderDetail.controls.discountType.value == 58 || purchaseOrderDetail.controls.discountType.value == 59 ">Discount</th> -->
                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                   width: 12%;border-radius: 0.07rem;">Discount</th>
                        <th class="text-center table-heading padding-both-side-2 width_10" style="margin-left: 25px;
                    width: 12%; border-radius: 0.05rem;">Net Price</th>

                      </tr>
                    </thead>
                    <ng-container>
                      <tbody>
                        <tr>
                          <td>
                            <button mat-mini-fab color="warn" (click)="removeRow(i)">
                              <mat-icon class="col-white">delete</mat-icon>
                            </button>
                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Item Name</mat-label>
                              <mat-select name="itemId{{i}}" formControlName="itemId">
                                <mat-option *ngFor="let title of itemList" [value]="title.id">
                                  {{title.text}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2">
                            <!-- <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>EDD</mat-label>
                              <input matInput [matDatepicker]="picker1" formControlName="eddObj" name="edd{{i}}"
                              (dateInput)="$event.value.format('DD/MM/YYYY')" id="edd"
                                (dateChange)="getDateString($event,'edd',i)">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field> -->
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>EOD</mat-label>
                              <input matInput [matDatepicker]="picker2" formControlName="eddObj"
                                (dateInput)="$event.value.format('DD/MM/YYYY')" id="edd"
                                (dateChange)="getDateString($event, 'edd',0)">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>UOM</mat-label>
                              <mat-select name="uomId{{i}}" formControlName="uomId">
                                <mat-option *ngFor="let title of categoryList" [value]="title.id">
                                  {{title.text}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline" >
                              <mat-label> Qty</mat-label>
                              <input matInput name="qty{{i}}" formControlName="qty"
                                (keypress)="keyPressNumberInt($event)" (keyup)="calculatePrice(purchaseOrderDetail,i)"
                                maxlength="9">
                            </mat-form-field>
                            <div *ngIf="submitted && purchaseOrderDetail.get('qty').hasError('required')" class="failed-validation" class="errorColor"> Qty is required </div>

                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Unit Price</mat-label>
                              <input matInput name="unitPrice{{i}}" formControlName="unitPrice"
                                (keypress)="keyPressNumberDouble($event)"
                                (keyup)="calculatePrice(purchaseOrderDetail,i)" maxlength="15">
                            </mat-form-field>
                            <div *ngIf="submitted && purchaseOrderDetail.get('unitPrice').hasError('required')" class="failed-validation" class="errorColor"> Unit Price is required </div>

                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Price</mat-label>
                              <input matInput name="price{{i}}" formControlName="price" [readonly]="true">
                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Discount Type</mat-label>
                              <mat-select name="discountType{{i}}" formControlName="discountType"
                                (selectionChange)="calculateNetPrice(purchaseOrderDetail,i)">
                                <mat-option *ngFor="let title of discountTypeList" [value]="title.id">
                                  {{title.text}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <!-- Discount(%) start -->
                          <!-- <td class="padding-both-side-2" *ngIf="purchaseOrderDetail.controls.discountType.value !== 58 && purchaseOrderDetail.controls.discountType.value !== 59"
                            >
                              <input matInput name="discountPercent{{i}}" formControlName="discountPercent"
                                (keypress)="keyPressNumberDouble($event)" (keyup)="calculateNetPrice(purchaseOrderDetail,i)" maxlength="5" (blur)="discountPercentageValidation(purchaseOrderDetail,i)" >
                          </td> -->

                          <!-- <td class="padding-both-side-2"
                            *ngIf="purchaseOrderDetail.controls.discountType.value === 58">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Discount(%)</mat-label>
                              <input matInput name="discountPercent{{i}}" formControlName="discountPercent"
                                (keypress)="keyPressNumberDouble($event)"
                                (keyup)="calculateNetPrice(purchaseOrderDetail,i)" maxlength="5"
                                (blur)="discountPercentageValidation(purchaseOrderDetail,i)">
                              <mat-error *ngIf="purchaseOrderDetail.controls['discountPercent'].hasError('pattern')">
                                Discount percentage should be of minimum 1% and Maximum 100%.
                              </mat-error>
                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2"
                            *ngIf="purchaseOrderDetail.controls.discountType.value === 59">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Discount</mat-label>
                              <input matInput name="discount{{i}}" formControlName="discount"
                                (keypress)="keyPressNumberInt($event)"
                                (keyup)="calculateNetPrice(purchaseOrderDetail,i)" maxlength="9">
                            </mat-form-field>
                          </td>
                           <td class="padding-both-side-2" *ngIf="purchaseOrderDetail.controls.discountType.value != 58">
                          </td> -->
                          <!-- Discount(%) End -->

                          <!-- Discount start -->
                          <td class="padding-both-side-2" >
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                            <mat-label>Discount</mat-label>
                            <input matInput name="discount{{i}}" formControlName="discount"
                              (keypress)="keyPressNumberInt($event)" (keyup)="calculateNetPrice(purchaseOrderDetail,i)" maxlength="9">
                          </mat-form-field>
                        </td>
                        <!-- <td class="padding-both-side-2" *ngIf="purchaseOrderDetail.controls.discountType.value != 59 && purchaseOrderDetail.controls.discountType.value != 58">
                        </td> -->
                          <!-- Discount End -->
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Net Price</mat-label>
                              <input matInput name="netPrice{{i}}" formControlName="netPrice" [readonly]="true">
                            </mat-form-field>
                          </td>

                        </tr>
                      </tbody>
                    </ng-container>
                  </table>
                </div>
                <div>
                  <button mat-mini-fab color="primary" (click)="addRow()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
                <br>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>SubTotal</mat-label>
                      <input matInput formControlName="subTotal" [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Discount</mat-label>
                      <input matInput formControlName="discount" [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Other Charges</mat-label>
                      <input matInput formControlName="otherCharges" (keypress)="keyPressNumberDouble($event)"
                        maxlength="15" (keyup)="calculateFinalsubTotalDiscountAndTotal()">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Total</mat-label>
                      <input matInput formControlName="total" [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="primary"
                      style="margin-left: 44%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="primary"
                      style="margin-left: 44%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()"
                      mat-raised-button>Reset</button>
                    <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>