<section class="content">
  <div class="block-header">
    <app-breadcrumb [title]="'ADD Customer'" [items]="['Master']" [active_item]="'ADD Customer'">
    </app-breadcrumb>
  </div>
  <div class="card ">
    <div class="body" style="padding-left: 110px; padding: 2%;">
      <form class="m-4" [formGroup]="docForm">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">Customer Name<span class="errorColor">*</span></mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="auditorname" [ngModel]="value"
              (ngModelChange)="value=$event.toUpperCase()" maxlength="50"(keypress)="string($event)" required>
              <mat-error *ngIf="docForm.get('auditorname').hasError('required')">
                Auditor Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">Registration Code</mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="registercode" (keypress)="keyPressNumeric($event)" maxlength="15" >
              <mat-error *ngIf="docForm.get('registercode').hasError('required')">
                Registration Code is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">Contact Person<span class="errorColor">*</span></mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="person"  (keypress)="string($event)" maxlength="30" required>
              <mat-error *ngIf="docForm.get('person').hasError('required')">
                Contact Person is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">Email<span class="errorColor">*</span></mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="email" maxlength="50" required>
              <mat-error *ngIf="docForm.get('email').hasError('required')">
                Email is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">Contact Number<span class="errorColor">*</span></mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="phone"maxlength="10" (keypress)="keyPressNumeric($event)"required>
              <mat-error *ngIf="docForm.get('phone').hasError('required')">
                Contact Number is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">Address1<span class="errorColor">*</span></mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="address" maxlength="50" required>
              <mat-error *ngIf="docForm.get('address').hasError('required')">
                Address1 is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">Address2</mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="addresstwo"maxlength="50" >
              <mat-error *ngIf="docForm.get('addresstwo').hasError('required')">
                Address2 is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">City<span class="errorColor">*</span></mat-label>
            </div>

          <div class=" col-md-4">
             <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="city"maxlength="30" required>
                <mat-option *ngFor="let title of cityDdList" [value]="title.id">
                    {{title.text}}
                </mat-option>
            </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">State<span class="errorColor">*</span></mat-label>
            </div>
             <div class=" col-md-4">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-select class="inputTxt" formControlName="state"maxlength="30" required>
                  <mat-option *ngFor="let title of stateDdList" [value]="title.id">
                      {{title.text}}
                  </mat-option>
              </mat-select>
              </mat-form-field>

          </div>
          <div class=" col-md-2">
            <mat-label class="lable">PIN CODE<span class="errorColor">*</span></mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="postalcode" maxlength="6" (keypress)="keyPressNumeric($event)"required>
              <mat-error *ngIf="docForm.get('postalcode').hasError('required')">
                PostalCode is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">PAN NO</mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="panno"maxlength="20" (keypress)="keyPressNumeric($event)" >
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">CST NO</mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="cstno" maxlength="20"  (keypress)="keyPressNumeric($event)">
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">GST NO</mat-label>
            </div>
             <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="gstno"maxlength="20"  (keypress)="keyPressNumeric($event)">
            </mat-form-field>
          </div>
          <div class=" col-md-2">
            <mat-label class="lable">Remarks</mat-label>
            </div>

          <div class=" col-md-4">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="remarks" maxlength="100" >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-2">
            <mat-label class="lable">Location</mat-label>
            </div>
             <div class=" col-md-4">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="location">
                <mat-option *ngFor="let title of locationList" [value]="title.id">
                    {{title.text}}
                </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

            <div class=" col-md-2"><mat-label class="lable">Active</mat-label></div>
          <div class=" col-md-3">
             <mat-checkbox  ngInit="checked=true" formControlName="active"></mat-checkbox>
          </div>
        </div>
      </div>

 <mat-tab-group>
  <mat-tab label="Address">
    <div class="row">
      <div class=" col-md-2">
        <mat-label class="lable">Vendor Location</mat-label>
        </div>
         <div class=" col-md-4">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <mat-select class="inputTxt" formControlName="vendorLocation">
            <mat-option *ngFor="let title of locationList" [value]="title.id">
                {{title.text}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class=" col-md-2">
        <mat-label class="lable">Shipping Address</mat-label>
        </div>
         <div class=" col-md-4">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="shipperAddress"maxlength="50" >

        </mat-form-field>
      </div>
     </div>
     <div class="row">
      <div class=" col-md-2">
        <mat-label class="lable">Billing Address</mat-label>
        </div>
         <div class=" col-md-4">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="billingAddress"maxlength="50" >
      </mat-form-field>
      </div>
      <div class=" col-md-2"></div>
      <div class=" col-md-2">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <mat-select class="inputTxt" formControlName="shipperState"maxlength="30"placeholder="State" required>
            <mat-option *ngFor="let title of stateDdList" [value]="title.id">
                {{title.text}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class=" col-md-1">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <mat-select class="inputTxt" formControlName="shipperCity"maxlength="30"placeholder="City" required>
            <mat-option *ngFor="let title of cityDdList" [value]="title.id">
                {{title.text}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class=" col-md-1">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="shipperZip"maxlength="10"placeholder="Zip" (keypress)="keyPressNumeric($event)" >

        </mat-form-field></div>

<div class=" col-md-2"></div>

       <div class=" col-md-2">

          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <mat-select class="inputTxt" formControlName="billingState"maxlength="30"placeholder="State" required>
              <mat-option *ngFor="let title of stateDdList" [value]="title.id">
                  {{title.text}}
              </mat-option>
          </mat-select>
          </mat-form-field></div>
          <div class=" col-md-1">

            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="billingCity"maxlength="30"placeholder="City" required>
                <mat-option *ngFor="let title of cityDdList" [value]="title.id">
                    {{title.text}}
                </mat-option>
            </mat-select>
            </mat-form-field></div>
          <div class=" col-md-1">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="billingZip"maxlength="10"placeholder="Zip" (keypress)="keyPressNumeric($event)" >

            </mat-form-field></div>

            <div class=" col-md-2"></div>
            <div class=" col-md-4">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="shipperCountry">
                <mat-option *ngFor="let title of countryList" [value]="title.id">
                    {{title.text}}
                </mat-option>
            </mat-select>
            </mat-form-field>
          </div>
      </div>

      <div class="row">
        <div class=" col-md-2"></div>
        <div class=" col-md-4">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <mat-select class="inputTxt" formControlName="billingCountry">
            <mat-option *ngFor="let title of countryList" [value]="title.id">
                {{title.text}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class=" col-md-2">
        <mat-label class="lable">Delivery Address</mat-label>
        </div>
         <div class=" col-md-4">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="deliveryAddress"maxlength="50" >
      </mat-form-field>
      </div>


<div class=" col-md-8"></div>

       <div class=" col-md-2">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <mat-select class="inputTxt" formControlName="deliveryState"maxlength="30"placeholder="State" required>
            <mat-option *ngFor="let title of stateDdList" [value]="title.id">
                {{title.text}}
            </mat-option>
        </mat-select>
        </mat-form-field></div>
        <div class=" col-md-1">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <mat-select class="inputTxt" formControlName="deliverycity"maxlength="30"placeholder="City" required>
              <mat-option *ngFor="let title of cityDdList" [value]="title.id">
                  {{title.text}}
              </mat-option>
          </mat-select>
          </mat-form-field></div>
          <div class=" col-md-1">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="deliveryZip"maxlength="50"placeholder="Zip"  (keypress)="keyPressNumeric($event)">

            </mat-form-field></div>
            <div class=" col-md-8"></div>
            <div class=" col-md-4">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="deliveryCountry">
                <mat-option *ngFor="let title of countryList" [value]="title.id">
                    {{title.text}}
                </mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          </div>
    </mat-tab>

    <mat-tab label="Contact">
      <div style="overflow-x: auto;">
        <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
          <thead class="">
            <tr>
              <th style="width: 1%;"></th>
              <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
              width: 12%; border-radius: 0.05rem;">Name</th>
                <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                width: 12%;border-radius: 0.07rem;">Job Positiom</th>
             <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
            width: 12%;border-radius: 0.07rem;">Email</th>
             <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
            width: 12%;border-radius: 0.07rem;">Phone</th>
      <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
      width: 12%;border-radius: 0.07rem;">Mobile</th>
            </tr>
          </thead>
          <ng-container *ngFor="let contactDetail of docForm.get('contactDetail')['controls']; let i = index">
            <tbody [formGroup]="contactDetail">
              <tr>
                <td>
                  <button mat-mini-fab color="warn" (click)="removeRow(i)">
                    <mat-icon class="col-white">delete</mat-icon>
                  </button>
                  </td>

                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput name="name{{i}}"  formControlName="name">
                  </mat-form-field>
                </td>
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Position</mat-label>
                    <input matInput name="position{{i}}"  formControlName="position">
                  </mat-form-field>
                </td>
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="conEmail{{i}}"  formControlName="conEmail">
                  </mat-form-field>
                </td>
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput name="conPhone{{i}}"  formControlName="conPhone"maxlength="10" (keypress)="keyPressNumeric($event)">
                  </mat-form-field>
                </td>
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput name="mobile{{i}}"  formControlName="mobile"maxlength="10" (keypress)="keyPressNumeric($event)">
                  </mat-form-field>
                </td>


                </tr>
                </tbody>
                </ng-container>
                </table>
                </div>
                <div>
                  <button mat-mini-fab color="primary" (click)="openPopupContactDetails()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
                <br>
    </mat-tab>


    <mat-tab label="Internal Notes">
      <div class="row">

          <div class=" col-md-12">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <textarea matInput formControlName="internalNotes"maxlength="200" placeholder="Put On Internal Notes.."></textarea>

          </mat-form-field>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Purchase">
      <div class="row">
        <div class=" col-md-2">
          <mat-label class="lable">Responsible Person</mat-label>
          </div>
          <div class=" col-md-3">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">

            <mat-select class="inputTxt" formControlName="resPerson">
              <mat-option *ngFor="let title of locationDdList" [value]="title.id">
                  {{title.text}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class=" col-md-2">
        <mat-label class="lable">Delivery Method</mat-label>
        </div>
        <div class=" col-md-3">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <mat-label>Payment Method</mat-label>
            <mat-select  formControlName="method">
              <mat-option [value]="'1'">
                In Person
              </mat-option>
              <mat-option [value]="'2'">
                Courier
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </div>
    </mat-tab>

<mat-tab label="Accounting">
<h4>Supplier</h4>
  <div class="row">
    <div class=" col-md-2">
      <mat-label class="lable">Account Receivable<span class="errorColor">*</span></mat-label>
      </div>
       <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="acctReceivable"maxlength="20" required>

      </mat-form-field>
    </div>
    <div class=" col-md-2">
      <mat-label class="lable">Supplier Payment Term<span class="errorColor">*</span></mat-label>
      </div>

    <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="supplier" maxlength="20"(keypress)="keyPressNumeric($event)"required>

      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class=" col-md-2">
      <mat-label class="lable">Total Receivable<span class="errorColor">*</span></mat-label>
      </div>
       <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="totalReceivable"maxlength="20"(keypress)="keyPressNumeric($event)" required>

      </mat-form-field>
    </div>
    <div class=" col-md-2">
      <mat-label class="lable">Credit Limit<span class="errorColor">*</span></mat-label>
      </div>

    <div class=" col-md-4">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="creditLimit" maxlength="20" (keypress)="keyPressNumeric($event)"required>

      </mat-form-field>
    </div>
  </div>

    <div style="overflow-x: auto;">
      <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
        <thead class="">
          <tr>
            <th style="width: 1%;"></th>
            <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
            width: 12%; border-radius: 0.05rem;">Bank Name</th>
              <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
              width: 12%;border-radius: 0.07rem;">Account Type</th>
           <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
          width: 12%;border-radius: 0.07rem;">Account Name</th>
           <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
          width: 12%;border-radius: 0.07rem;">Address</th>
    <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
    width: 12%;border-radius: 0.07rem;">IFSC Code</th>
          </tr>
        </thead>
        <ng-container *ngFor="let accountDetail of docForm.get('accountDetail')['controls']; let i = index">
          <tbody [formGroup]="accountDetail">
            <tr>
              <td>
                <button mat-mini-fab color="warn" (click)="removeRowAccount(i)">
                  <mat-icon class="col-white">delete</mat-icon>
                </button>
                </td>

              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Bank Name</mat-label>
                  <input matInput name="bankName{{i}}"  formControlName="bankName">
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Account Type</mat-label>
                  <input matInput name="accType{{i}}"  formControlName="accType">
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Account Name</mat-label>
                  <input matInput name="accName{{i}}"  formControlName="accName">
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput name="address{{i}}"  formControlName="address">
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>IFSC Code</mat-label>
                  <input matInput name="ifscCode{{i}}"  formControlName="ifscCode">
                </mat-form-field>
              </td>


              </tr>
              </tbody>
              </ng-container>
              </table>
              </div>
              <div>
                <button mat-mini-fab color="primary" (click)="openPopupAccountDetails()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              <br>


     </mat-tab>
</mat-tab-group>
<br><br>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
    color="accent" style="margin-left: 40%;background-color: #34d034;">Submit</button>
    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
    <button (click) = "reset()" class="btn-space" mat-raised-button
      color="primary" >Reset</button>
    <button (click) = "onCancel()" color="warn" type="button" mat-raised-button>Cancel</button>
  </div>
</div>
</form>
</div>
</div>
</section>

















