<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Branch'" [items]="['Master']" [active_item]="'Add Branch'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card " style="padding-left: 150px;">
          <div class="body">
            <form class="m-4" [formGroup]="docForm" >



                <div class="row">

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label>BRANCH CODE<span class="errorColor">*</span></label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="branchCode" oninput="this.value = this.value.toUpperCase()"  required>
                    <mat-error *ngIf="docForm.get('branchCode').hasError('required')">
                      branch code is required
                    </mat-error>
                  </mat-form-field>
                </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >BRANCH NAME<span class="errorColor">*</span></label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                      <input matInput formControlName="branchname"  oninput="this.value = this.value.toUpperCase()" required >
                      <mat-error *ngIf="docForm.get('branchname').hasError('required')">
                        Branch Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>



                <div class="row">

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >COMPANY NAME<span class="errorColor">*</span></label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="companyId" (selectionChange)="validationUserGroup($event.value)"
                      (keypress)="string($event)" required>
                          <mat-option *ngFor="let title of companyList" [value]="title.id">
                              {{title.text}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="docForm.get('companyId').hasError('required')">
                        Company Name is required
                      </mat-error>
                  </mat-form-field>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label>NO OF SHIFTS<span class="errorColor">*</span></label>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12" style="    margin-left: -2%;">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-select formControlName="shift" [(ngModel)]="modeselect" required>
                  <mat-option  [value]="'1'">1</mat-option>
                  <mat-option  [value]="'2'">2</mat-option>
                  <mat-option  [value]="'3'">3</mat-option>

                </mat-select>
                <mat-error *ngIf="docForm.get('shift').hasError('required')">
                  no of shift is required
                </mat-error>
              </mat-form-field>
            </div>


                    <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label >LOCATION</label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="location">
                            <mat-option *ngFor="let title of locationDropdownList" [value]="title.id">
                                {{title.text}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div> -->
                </div>

                <!-- <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label >IS ACTIVE</label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                  <mat-checkbox  ngInit="checked=true" formControlName="isactive" STYLE="margin-left: -99px;"></mat-checkbox>
                  </div>

                </div> -->

                <div class="row">




                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 0px;" >
                    <label >IS ACTIVE</label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style="margin-left: -121px;">
                  <mat-checkbox formControlName="isactive"  ngInit="checked=true" style="margin-left:-5px" ></mat-checkbox>
                </div>
              </div>




              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                  color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                  <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                  <button (click) = "reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
                  <button (click) = "onCancel()" color="warn" type="button" mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>