<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Currency'" [items]="['Master']" [active_item]="'Add Currency'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-md-12">
        <div class="box-shadow">
          <div class="card pageproperty">
            <div class="body " style="padding-left: 150px;">
              <form class="m-4" [formGroup]="docForm">

                <div class="row">
                  <div class=" col-md-2">
                    <mat-label >CURRENCY CODE</mat-label>
                    </div>
                     <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="currencyCode"  maxlength="3" [ngModel]="value"
                      (ngModelChange)="value=$event.toUpperCase()" (keypress)="string($event)"(blur)="validateCurrencyCode($event.target.value)"
                      required>
                      <mat-error *ngIf="docForm.get('currencyCode').hasError('required')">
                        Currency Code Name is required
                      </mat-error> <mat-error *ngIf="docForm.get('currencyCode').hasError('currency')">
                        Currency code Already Exists !!!
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class=" col-md-2">
                    <mat-label >CURRENCY NAME</mat-label>
                    </div>

                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="currencyName" maxlength="15"[ngModel]="value1"
                      (ngModelChange)="value1=$event.toUpperCase()" (keypress)="string($event)" required>
                      <mat-error *ngIf="docForm.get('currencyName').hasError('required')">
                        Currency Name  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class=" col-md-2">
                    <mat-label >BASE CURRENCY:FROM</mat-label>
                    </div>
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="fromcurrency" maxlength="15" (keypress)="keyPressNumeric($event)" required>
                        <mat-error *ngIf="submitted && docForm.get('fromcurrency').hasError('required')">
                          Exchange Rate To Base Currency :From is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class=" col-md-2">
                      <mat-label >BASE CURRENCY:TO</mat-label>
                      </div>
                      <div class=" col-md-3">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="toCurrency"(keypress)="keyPressNumeric($event)" required>
                          <mat-error *ngIf="submitted && docForm.get('toCurrency').hasError('required')">
                            Exchange Rate To Base Currency :To is required
                            </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class=" col-md-2">
                        <mat-label >DEFAULT VALUE</mat-label>
                        </div>

                  <div class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="defaultValue"maxlength="2" (keypress)="keyPressNumeric($event)">
                      <mat-error *ngIf="submitted && docForm.get('defaultValue').hasError('required')">
                        Default Value is required
                        </mat-error>
                    </mat-form-field>

                  </div>
                  <div class=" col-md-2">
                    <mat-label >FRACTION PART</mat-label>
                    </div>
                    <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="fractionPart" maxlength="2" (keypress)="keyPressNumeric($event)"
                        required>
                        <mat-error *ngIf="submitted && docForm.get('defaultValue').hasError('required')">
                          Fraction Part is required
                          </mat-error>
                      </mat-form-field>

                    </div>
                   </div>
                   <br>
                   <div class="row">
                    <div class=" col-md-2"><mat-label>ACTIVE</mat-label></div>
                  <div class=" col-md-3">
                     <mat-checkbox  ngInit="checked=true" formControlName="isActive" STYLE="    MARGIN-LEFT: 10PX;"></mat-checkbox>
                  </div>
                  <div class=" col-md-2"><mat-label>BOOK CURRENCY</mat-label></div>
                  <div class=" col-md-1">
                     <mat-checkbox  ngInit="checked=true" formControlName="bookCurrency"  STYLE="    MARGIN-LEFT: 8PX;"></mat-checkbox>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-12">
                    <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 30%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                      style="margin-left: 30%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()"
                      mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                      mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>