<!-- <section class="content"> -->
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Auditable Asset'" [items]="['Audit']" [active_item]="'Auditable Asset'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card ">
            <div class="body">
              <form class="m-4" [formGroup]="docForm" >

                <div class="row">
                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                      <label class="lable" style="font-size:12">Asset Id :</label>
                  </div> 
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 ">
                    {{auditableAsset.assetid}}
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                    <label class="lable">Acquisition Value :</label>
                  </div>
          
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                  {{auditableAsset.value}}
                  </div>  
                </div><br>

                  <div class="row">
                    <div class="col-xl-4 col-lg-2 col-md-2 col-sm-12 " >
                        <label class="lable">Asset Name :</label>
                    </div> 
                    <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 " style="margin-left: -50px;">
                      {{auditableAsset.assetname}}
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " style="margin-left: 48px;">
                        <label class="lable">Salvage Value :</label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                      {{auditableAsset.salvageValue}}
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                        <label class="lable">Useful Years :</label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                      {{auditableAsset.lifeInYears}}
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                        <label class="lable">Acquisition Date :</label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                      {{auditableAsset.acquisitiondt}}
                    </div>
                  </div><br>

                  <div class="row">
                    <!-- <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                        <label class="lable">Show Full Life :</label>
                    </div> 
                    <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 " >
                      <mat-checkbox formControlName="assetType" ngInit="checked=true" (change)="checkFullLife($event)"></mat-checkbox>
                    </div> -->
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 " *ngIf="!fullLifeFlag">
                        <label class="lable">FY :</label>
                    </div> 
                    <!-- <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 " *ngIf="!fullLifeFlag">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="depreciationMethod" (selectionChange)="financialChange($event.value)">
                            <mat-option [value]="'2028'">
                            2028
                            </mat-option>
                            <mat-option [value]="'2027'">
                            2027
                            </mat-option>
                            <mat-option [value]="'2026'">
                            2026
                            </mat-option>
                            <mat-option [value]="'2025'">
                            2025
                            </mat-option>
                            <mat-option [value]="'2024'">
                            2024
                            </mat-option>
                            <mat-option [value]="'2023'">
                            2023
                            </mat-option>
                            <mat-option [value]="'2022'">
                            2022
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" *ngIf="!fullLifeFlag" style="margin-left: -25px;">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Financial Year</mat-label>
                        <input matInput formControlName="depreciationMethod" maxlength="4" (change)="financialChange($event.target.value)" (keypress)="keyPressPCB($event)">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2" style="padding-top: 16px;" *ngIf="!fullLifeFlag">
                      <i class="fa fa-search" aria-hidden="true" (click)="financialChange()"></i>
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 " *ngIf="fullLifeFlag">
                        <label class="lable">FY :</label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" *ngIf="fullLifeFlag" style="margin-left: -25px;">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Financial Year</mat-label>
                        <input matInput formControlName="depreciationMethod" maxlength="4" (change)="financialChange($event.target.value)" (keypress)="keyPressPCB($event)" readonly>
                      </mat-form-field>
                      
                    </div>
                  
                    <div class="col-md-2" style="padding-top: 16px;" *ngIf="fullLifeFlag">
                      <i class="fa fa-search" aria-hidden="true" (click)="financialChange()"></i>
                    </div>

                    
                    <!-- <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 " *ngIf="fullLifeFlag">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="depreciationMethod" [disabled]="true">
                            <mat-option [value]="'2023'">
                            2023
                            </mat-option>
                            <mat-option [value]="'2022'">
                            2022
                            </mat-option>
                            <mat-option [value]="'2021'">
                            2021
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->

                    <div class="col-xl-3 col-lg-3 col-md-2 col-sm-12 " style="margin-left: -32px;" >
                      <label class="lable">Dep Method :</label>
                  </div> 
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                    {{auditableAsset.depreciationMethod}}
                  </div>

                  </div><br>

                  <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 " style="margin-left: 500px;">
                    <mat-checkbox formControlName="assetType" ngInit="checked=true" (change)="checkFullLife($event)">Show Full Life</mat-checkbox>
                  </div>
                  <div class="container" style="height: 200px ;overflow-y: scroll">
                  <!-- <img src="assets/images/icons/xlsx.png" alt="" style="margin-left:97%"/> -->
                  
                
                    <table id="excel-table" class="table table-striped">
                      <thead>
                          <tr style="position: sticky;top: 0;">
                            <th style="background-color:#c1ddf5;">Sl No</th>
                            <th style="background-color:#c1ddf5;">FY</th>
                            <th style="background-color:#c1ddf5;">Book Value</th>
                            <th style="background-color:#c1ddf5;">Depreciation</th>
                            <th style="background-color:#c1ddf5;">Acc Depreciation</th>
                            <th style="background-color:#c1ddf5;">Book Value End</th>
                          </tr>
                      </thead>
                      <tbody>
                            <tr *ngFor="let visitReport of financialChangeDetails;">
                            <!-- <tr> -->
                              <td>{{visitReport.yearseq}}</td>
                              <td>{{visitReport.financial_year}}</td>
                              <td style="text-align: right;">{{visitReport.bookvalue.toFixed(2)}}</td>
                              <td style="text-align: right;">{{visitReport.depreciation.toFixed(2)}}</td>
                              <td style="text-align: right;">{{visitReport.accudepreciation.toFixed(2)}}</td>
                              <td style="text-align: right;">{{visitReport.bookvalueend.toFixed(2)}}</td>
                            </tr>        
                      </tbody>
                    </table>
                </div><br>

              
                <div class="row"> 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <!-- <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button (click) = "reset()" class="btn-space" mat-raised-button
                      color="primary" >Reset</button> -->
                    <button (click) = "onCancel()" style="margin-left: 45%;" color="warn" type="button" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </section> -->