<section class="content">
  <div class="content-block">
    <div class="block-header" style="padding: 0.5% !important;">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Vehicle'" [items]="['Master']" [active_item]="'Add Vehicle'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="box-shadow">
        <div class="card" style="padding: 0px 1% 0px;">
          <div class="body" >
            <form class="m-4" [formGroup]="docForm">
              
              <h4>VEHICLE DETAILS</h4><br>
              <div class="row">
                 <div class="col-md-2" style="min-width: fit-content;"  >
                      <label>VEHICLE TYPE<span class="errorColor">*</span></label>
                  </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-select formControlName="vehiclewheel" (selectionChange)="vehicleWheel($event.value)">
                            <mat-option [value]="'Two Wheeler'">
                              Two Wheeler
                            </mat-option>
                            <mat-option [value]="'Four Wheeler'">
                              Four Wheeler
                            </mat-option>
                            <mat-option [value]="'Others'">
                              Others
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('vehiclewheel').hasError('required')">
                              Vehicle Type is required
                             </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2" style="min-width: fit-content;" >
                        <label>VEHICLE END TYPE</label>
                    </div>
                    <div class="col-md-2" >
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="vehicletype">
                          <mat-option [value]="'High End'">
                            High End
                          </mat-option>
                          <mat-option [value]="'Middle End'">
                            Middle End
                          </mat-option>
                          <mat-option [value]="'Low End'">
                            Low End
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('vehicletype').hasError('required')">
                          Vehicle End Type is required
                         </mat-error>
                       </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;" >
                      <label>VEHICLE BRAND <span class="errorColor">*</span></label>
                  </div>
                  <div class="col-md-2" >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="vehiclebrand" maxlength="20"  (keypress)="keyPressName($event)" 
                       oninput="this.value = this.value.toUpperCase()">
                       <mat-error *ngIf="docForm.get('vehiclebrand').hasError('required')">
                        Vehicle Brand is required
                       </mat-error>
                     </mat-form-field>
                  </div>
                 
                 </div>

              
              <div class="row">

                <div class="col-md-2" style="min-width: fit-content;" >
                  <label>MODEL NAME</label>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="vehiclename" maxlength="17"
                   oninput="this.value = this.value.toUpperCase()">
                  <mat-error *ngIf="docForm.get('vehiclename').hasError('required')">
                    Model Name is required
                   </mat-error>
                 </mat-form-field>
              </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                      <label>DATE OF PURCHASE<span class="errorColor">*</span></label>
                  </div>
                  <div class="col-md-2"  >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput [matDatepicker]="picker1" formControlName="dateofpurc"
                      (dateInput)="$event.value.format('DD/MM/YYYY')" id="discardFromDate1"
                      (dateChange)="getDateString($event,'discardFromDate1',0)" >
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="docForm.get('dateofpurc').hasError('required')">
                         Purchase Date is required
                          </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label>REGISTRATION NO<span class="errorColor">*</span></label>
                </div>
                <div class="col-md-2"  >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="regno" maxlength="10"
                       oninput="this.value = this.value.toUpperCase()">
                      <mat-error *ngIf="docForm.get('regno').hasError('required')">
                        Reg No is required
                       </mat-error>
                     </mat-form-field>
                  </div>
                  
        
              </div>
              <div class="row">
               
                       <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                         <label>CHASSIS NUMBER<span class="errorColor">*</span></label>
                     </div>
                     <div class="col-md-2"  >
                         <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                           <input matInput formControlName="chassisno" maxlength="17"
                            oninput="this.value = this.value.toUpperCase()">
                           <mat-error *ngIf="docForm.get('chassisno').hasError('required')">
                            Chassis No is required
                            </mat-error>
                          </mat-form-field>
                       </div>
 
                       <div class="col-md-2" style="min-width: fit-content;" >
                         <label>ENGINE NUMBER<span class="errorColor">*</span></label>
                     </div>
                     <div class="col-md-2">
                       <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                         <input matInput formControlName="engineno" maxlength="17"
                          oninput="this.value = this.value.toUpperCase()">
                         <mat-error *ngIf="docForm.get('engineno').hasError('required')">
                           Engine No is required
                          </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 "  >
                      <label>BODY TYPE</label>
                  </div>
                  <div class="col-md-2" *ngIf ="isfourwheeler" >
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline"  >
                          <mat-select formControlName="bodytype" >
                              <mat-option [value]="'Hatchback'">
                                  Hatchback
                              </mat-option>
                              <mat-option [value]="'Sedan'">
                                  Sedan
                              </mat-option>
                              <mat-option [value]="'MUV/SUV'">
                                  MUV/SUV
                              </mat-option>
                              <mat-option [value]="'Wagon'">
                                  Wagon
                              </mat-option>
                              <mat-option [value]="'Jeep'">
                                  Jeep
                              </mat-option>
                            </mat-select>
                          
                    </mat-form-field>
                    </div>
                    <div class="col-md-2" *ngIf ="istwowheeler" >
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline"  >
                          <mat-select formControlName="bodytype1" >
                              <mat-option [value]="'Standard'">
                                Standard
                              </mat-option>
                              <mat-option [value]="'Cruiser'">
                                Cruiser
                              </mat-option>
                              <mat-option [value]="'Sport Bike'">
                                Sport Bike
                              </mat-option>
                              <mat-option [value]="'Scooter'">
                                Scooter
                              </mat-option>
                              <mat-option [value]="'Moped'">
                                Moped
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="docForm.get('bodytype1').hasError('required')">
                             Body Type is required
                             </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-md-2" *ngIf ="textBox">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="others" >
                        <mat-error *ngIf="docForm.get('others').hasError('required')">
                          Body Type is required
                          </mat-error>
                       </mat-form-field>
                    </div>
                       </div>
              
                     
 
                     <div class="row">
                       
                   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                             <label>VEHICLE COLOUR</label>
                         </div>
                         <div class="col-md-2">
                           <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                             <input matInput formControlName="colour" maxlength="9"  (keypress)="keyPressName($event)" 
                              oninput="this.value = this.value.toUpperCase()"  >
                              <mat-error *ngIf="docForm.get('colour').hasError('required')">
                             Vehicle Colour is required
                              </mat-error>
                            </mat-form-field>
                         </div>
                         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                           <label>VEHICLE AGE<span class="errorColor">*</span></label>
                       </div>
                       <div class="col-md-2">
                         <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                           <input matInput formControlName="age" maxlength="9" (keypress)="keyPressNumeric($event)" 
                            oninput="this.value = this.value.toUpperCase()"  >
                           <mat-error *ngIf="docForm.get('age').hasError('required')">
                           Vehicle Age is required
                            </mat-error>
                          </mat-form-field>
                       </div>

                       <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <label>RTO CODE</label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="rtocode" maxlength="4"
                         oninput="this.value = this.value.toUpperCase()"  >
                        <mat-error *ngIf="docForm.get('rtocode').hasError('required')">
                        RTO Code is required
                         </mat-error>
                       </mat-form-field>
                    </div>
                     </div>
                     <div class="row">
                   
                 
                 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                   <label>FUEL TYPE</label>
               </div>
               <div class="col-md-2"  >
                   <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                       <mat-select formControlName="fueltype">
                           <mat-option [value]="'Petrol'">
                               Petrol
                           </mat-option>
                           <mat-option [value]="'Diesel'">
                               Diesel
                           </mat-option>
                           <mat-option [value]="'EV'">
                            EV
                        </mat-option>
                           <mat-option [value]="'Others'">
                               Others
                           </mat-option>
                         </mat-select>
                     <mat-error *ngIf="docForm.get('fueltype').hasError('required')">
                      Fuel Type is required
                      </mat-error>
                    </mat-form-field>
                 </div>
             <div class="col-md-2" style="min-width: fit-content;"  >
                 <label>OWNER TYPE <span class="errorColor">*</span></label>
             </div>
               <div class="col-md-2">
                 <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-select formControlName="ownertype" required>
                     <mat-option [value]="'Self'">
                         Self
                     </mat-option>
                     <mat-option [value]="'Company'">
                         Company
                     </mat-option>
                     <mat-option [value]="'Others'">
                         Others
                     </mat-option>
                   </mat-select>
               <mat-error *ngIf="docForm.get('ownertype').hasError('required')">
                Owner Type is required
                </mat-error>
             </mat-form-field>
               </div>

                <div class="col-md-2" style="min-width: fit-content;"  >
                  <label>TRANSMISSION TYPE</label>
              </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                   <mat-select formControlName="transmissiontype">
                      <mat-option [value]="'Manual Transmission'">
                        Manual Transmission
                      </mat-option>
                      <mat-option [value]="'Automatic Transmission'">
                        Automatic Transmission
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
</div>

        <div class="row">
          <div class="col-md-2" style="min-width: fit-content;" >
            <label>SEATER</label>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="seater" maxlength="2" (keypress)="keyPressNumeric($event)">
         </mat-form-field>
        </div>

        <div class="col-md-2" style="min-width: fit-content;"  >
          <label>PURPOSE<span class="errorColor">*</span></label>
      </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
           <mat-select formControlName="purpose">
              <mat-option [value]="'Owner'">
                Owner
              </mat-option>
              <mat-option [value]="'Rent'">
                  Rent
              </mat-option>
              <mat-option [value]="'Lease'">
                  Lease
              </mat-option>
            </mat-select>
            <mat-error *ngIf="docForm.get('purpose').hasError('required')">
              Purpose is required
              </mat-error>
      </mat-form-field>
        </div>

        <div class="col-md-2" style="min-width: fit-content;"  >
          <label>DRIVE TYPE</label>
      </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
           <mat-select formControlName="drivetype" >
              <mat-option [value]="'Front-Wheel Drive (FWD)'">
                Front-Wheel Drive (FWD)
              </mat-option>
              <mat-option [value]="'Rear-Wheel Drive (RWD)'">
                Rear-Wheel Drive (RWD)
              </mat-option>
              <mat-option [value]="'All-Wheel Drive (AWD)'">
                All-Wheel Drive (AWD)
              </mat-option>
            </mat-select>
      </mat-form-field>
        </div>


               </div>
               <div class="row">
                <div class="col-md-2" style="min-width: fit-content;" >
                  <label>VIN</label>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="vin" maxlength="17" oninput="this.value = this.value.toUpperCase()">
               </mat-form-field>
              </div>
              <div class="col-md-2" style="min-width: fit-content;"  >
                <label>CONDITION</label>
            </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                 <mat-select formControlName="condition">
                    <mat-option [value]="'Good'">
                     Good
                    </mat-option>
                    <mat-option [value]="'Average'">
                      Average
                    </mat-option>
                    <mat-option [value]="'Bad'">
                        Bad
                    </mat-option>
                  </mat-select>
            </mat-form-field>
              </div>
              <div class="col-md-2" style="min-width: fit-content;"  >
                <label>MILEAGE (kmpl)</label>
            </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="mileage" maxlength="17" (keypress)="keyPressNumeric($event)">
                
                 
            </mat-form-field>
              </div>
              </div>
              
            <div class="row">
              <div class="col-md-2" style="min-width: fit-content;" >
                <label>YEAR OF MANUFACTURING</label>
            </div>
            <div class="col-md-2">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="yom" maxlength="4" (keypress)="keyPressNumeric($event)">
             </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-label>LICENSED</mat-label>
            </div>
            <div class="col-md-2" style="min-width: fit-content;">
              <mat-radio-group formControlName="license"> &nbsp; 
                <mat-radio-button tabindex="22" value="yes" (change)="getlicense($event.value)"> YES </mat-radio-button>
                <mat-radio-button tabindex="22" value="no" (change)="getlicense($event.value)"> NO </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-2" style="min-width: fit-content;" *ngIf="isYes">
              <label>LICENSE NUMBER</label>
          </div>
          <div class="col-md-2" *ngIf="isYes">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="lin" maxlength="16"  oninput="this.value = this.value.toUpperCase()" >
             </mat-form-field>
          </div>
        </div>

          <div class="row">  </div>
          <hr><br>
          <h4>PARIVAHAN DETAILS</h4><br>
          <div class="row">
            <div class="col-md-2">
              <mat-label>PARIVAHAN REGISTERED</mat-label>
            </div>
            <div class="col-md-2" style="min-width: fit-content;">
              <mat-radio-group formControlName="parivahan"> &nbsp; 
                <mat-radio-button tabindex="22" value="yes1" (change)="getpari($event.value)"> YES </mat-radio-button>
                <mat-radio-button tabindex="22" value="no1" (change)="getpari($event.value)"> NO </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <br><br>

          <div class="row" *ngIf = "isYes1">
            <mat-label ><b>LOGIN DETAILS</b></mat-label>
            </div><br><br> 
          <div class="row">

            <div class="col-md-2" style="min-width: fit-content;" *ngIf="isYes1" >
              <label>USER-ID</label>
          </div>
          <div class="col-md-2" *ngIf="isYes1">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="uid" maxlength="15"  oninput="this.value = this.value.toUpperCase()">
             </mat-form-field>
          </div>

          <div class="col-md-2" style="min-width: fit-content;" *ngIf="isYes1" >
            <label>PASSWORD</label>
        </div>
        <div class="col-md-2" *ngIf="isYes1">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input [type]="password" matInput formControlName="password" maxlength="15"  >
           </mat-form-field>
        </div>


          <!-- <div class="col-md-2 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>
              
            </mat-form-field>
          </div> -->
        


  </div>
         
         
                  <div class="row">  </div>
               <hr><br>
               <h4>PAYMENT METHOD</h4><br>
               <div class="row">
                <div class="col-md-2">
                  <mat-label>PAYMENT</mat-label>
                </div>
                <div class="col-md-2" style="min-width: fit-content;">
                  <mat-radio-group formControlName="payment"> &nbsp; 
                    <mat-radio-button tabindex="22" value="cash" (change)="getcash($event.value)"> CASH </mat-radio-button>
                    <mat-radio-button tabindex="22" value="emi" (change)="getcash($event.value)"> EMI </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <br>
              <div class="row">
              <div class="col-md-2" style="min-width: fit-content;" *ngIf="isCash">
                <label>PURCHASE AMOUNT</label>
            </div>
            <div class="col-md-2" *ngIf="isCash">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="purcamount" maxlength="10" (keypress)="keyPressNumeric($event)"
                 oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
            </div>

            <div class="col-md-2" style="min-width: fit-content;" *ngIf="isEmi">
              <label>EMI AMOUNT</label>
          </div>
          <div class="col-md-2" *ngIf="isEmi">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="emiamount" maxlength="10" (keypress)="keyPressNumeric($event)"
               oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>
          </div>

          <div class="col-md-2" style="min-width: fit-content;" *ngIf="isEmi">
            <label>FINANCE AGENCY FOR EMI</label>
        </div>
        <div class="col-md-2" *ngIf="isEmi">
         
           <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <mat-select formControlName="agency">
               <mat-option [value]="'Indian Bank'">
                   Indian Bank
               </mat-option>
               <mat-option [value]="'Punjab & Sind Bank'">
                   Punjab & Sind Bank
               </mat-option>
               <mat-option [value]="'National Bank'">
                   National Bank
               </mat-option>
               <mat-option [value]="'HDFC Bank'">
               HDFC Bank
            </mat-option>
            <mat-option [value]="'Muthoot Finance'">
               Muthoot Finance
            </mat-option>
            <mat-option [value]="'Canara Bank'">
                Canara Bank
            </mat-option>
             </mat-select>
         <mat-error *ngIf="docForm.get('agency').hasError('required')">
          Agency is required
          </mat-error>
       </mat-form-field>
        </div>
            </div>

            <hr><br>
            <h4>LOAN DETAILS</h4><br>
            <div class="row" >

              <div class="col-md-2">
                <mat-label>VEHICLE LOAN<span class="errorColor">*</span></mat-label>
                </div>
                
                <div class="col-md-2" >
            <mat-form-field  class="example-full-width form-control-sm" appearance="outline">
              <mat-select class="inputTxt" formControlName="loanVehicle" (selectionChange)="loanFlag($event.value)"  (keypress)="keyPressName($event)">
                <mat-option [value]="'YES'">
                 YES
                </mat-option>
                <mat-option [value]="'NO'">
                 NO
                </mat-option>
               
                </mat-select> 
                <mat-error *ngIf="docForm.get('loanVehicle').hasError('required')">
                 Vehicle Loan is required
                </mat-error>
                
            </mat-form-field>
                </div>
                </div>



                <div class="card " style="padding-left: 25px;" *ngIf = "isLoan">
                  <br>
            <div class="row"  *ngIf = "isLoan">
              
                  <div class="col-md-2"  *ngIf = "isLoan">
                <mat-label>AUTO DEBIT</mat-label>
              </div>
              <div class="col-md-2"  *ngIf = "isLoan"> &nbsp; <input type="checkbox" tabindex="20" formControlName="autoDebit" (change)="getAutoDebit($event.target.checked)">
              </div>
            </div><br><br>
  
            <div class="row"  *ngIf = "isLoan">
              <div class="col-md-2"  *ngIf = "isLoan">
                <mat-label>BANK NAME</mat-label>
            </div>
            <div class=" col-md-2"  *ngIf = "isLoan">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="bankName" maxlength="20" (keypress)="keyPressName($event)" oninput="this.value = this.value.toUpperCase()">
             
                </mat-form-field>
            </div>
            <div class="col-md-2"  *ngIf = "isLoan">
              <mat-label>BRANCH NAME</mat-label>
          </div>
          <div class=" col-md-2"  *ngIf = "isLoan">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="branchName" maxlength="15" (keypress)="keyPressName($event)" oninput="this.value = this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-md-2"  *ngIf = "isLoan">
            <mat-label >LOAN INTEREST %</mat-label>
        </div>
        <div class=" col-md-2"   *ngIf = "isLoan">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="loanInterest" maxlength="5" (keypress)="keyPressNumberDouble($event)">
        </mat-form-field>
        </div>
            
            </div>
  
            <div class="row"  *ngIf = "isLoan">
    
             
              <div class="col-md-2"  *ngIf = "isLoan">
                <mat-label>BANK IFSC</mat-label>
            </div>
            <div class=" col-md-2"  *ngIf = "isLoan" >
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="ifscCode"  
                oninput="this.value = this.value.toUpperCase()" maxlength="11">
             
                <mat-error *ngIf="docForm.get('ifscCode').hasError('pattern')">
                  Please Enter Valid IFSC code
                </mat-error>
              </mat-form-field>
            
            </div>
            <div class="col-md-2"  *ngIf = "isLoan">
              <mat-label>ACCOUNT HOLDER NAME</mat-label>
          </div>
          <div class=" col-md-2"  *ngIf = "isLoan" >
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="acName" maxlength="15"
                (keypress)="keyPressName($event)" oninput="this.value = this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-md-2"  *ngIf = "isLoan">
            <mat-label>ACCOUNT NUMBER</mat-label>
        </div>
        <div class="col-md-2"  *ngIf = "isLoan">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
              <input matInput formControlName="acNumber" maxlength="15"
              (keypress)="keyPressNumeric($event)"  oninput="this.value = this.value.toUpperCase()">
          </mat-form-field>
        </div>
              
            </div>
  
            <div class="row"  *ngIf = "isLoan">
              
  
            
            <div class=" col-md-2"  *ngIf = "isLoan">
              <mat-label >LOAN AMOUNT</mat-label>
              </div>
              <div class="col-md-2"  *ngIf = "isLoan">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <input matInput formControlName="loanAmount" (keypress)="keyPressNumeric($event)"  maxlength="8" >
                
                </mat-form-field>
            </div>
            <div class="col-md-2"  *ngIf = "isLoan">
              <mat-label>LOAN NUMBER</mat-label>
          </div>
          <div class=" col-md-2"  *ngIf = "isLoan">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="loanNo" (keypress)="keyPressNumeric($event)" maxlength="15" >
            </mat-form-field>
          </div>

          <div class="col-md-2"  *ngIf = "isLoan" >
            <mat-label >EMI DATE</mat-label>
        </div>
        <div class="col-md-2"  *ngIf = "isLoan">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput [matDatepicker]="picker3" 
            formControlName="emiDateObj"
            (dateInput)="$event.value.format('DD/MM/YYYY')"
            id="emiDate"
            (dateChange)="getDateString($event, 'emiDate',0)">
        <mat-datepicker-toggle matSuffix
            [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
       
          </mat-form-field>
        </div>
            </div>
            </div>
  
  
  
         





<hr><br>
<h4>INSURANCE DETAILS</h4><br>
              
<div class="row">
<div class="col-md-2" style="min-width: fit-content;" >
  <label>INSURER NAME</label>
</div>
<div class="col-md-2">
 <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <mat-select formControlName="insurername">
     <mat-option [value]="'HDFC ERGO General Insurance Co. Ltd.'">
      HDFC ERGO General Insurance Co. Ltd.
     </mat-option>
     <mat-option [value]="'Bajaj Allianz General Insurance Co. Ltd.'">
      Bajaj Allianz General Insurance Co. Ltd.
     </mat-option>
     <mat-option [value]="'SBI General Insurance Co. Ltd.'">
      SBI General Insurance Co. Ltd.
     </mat-option>
     <mat-option [value]="'ICICI Lombard General Insurance Co. Ltd.'">
      ICICI Lombard General Insurance Co. Ltd.    
    </mat-option>
  <mat-option [value]="'Muthoot Finance'">
     Muthoot Finance
  </mat-option>
  <mat-option [value]="'Kotak Mahindra General Insurance Co. Ltd.'">
    Kotak Mahindra General Insurance Co. Ltd.
  </mat-option>
   </mat-select>
<mat-error *ngIf="docForm.get('insurername').hasError('required')">
Insurer name is required
</mat-error>
</mat-form-field>
</div>

<div class="col-md-2" style="min-width: fit-content;" >
  <label>INSURANCE TYPE<span class="errorColor">*</span></label>
  </div>
  <div class="col-md-2">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <mat-select formControlName="insurancetype">
    <mat-option [value]="'Car Insurance'">
      Car Insurance
    </mat-option>
    <mat-option [value]="'Accident'">
      Accident
    </mat-option>
    <mat-option [value]="'Comprehensive Coverage'">
      Comprehensive Coverage
    </mat-option>
    <mat-option [value]="'Property Insurance'">
      Property Insurance
    </mat-option>
    <mat-option [value]="'Term life Insurance'">
      Term life Insurance
    </mat-option>
  </mat-select>
  <mat-error *ngIf="docForm.get('insurancetype').hasError('required')">
  Insurance Type is required
  </mat-error>
  </mat-form-field>
  </div>
<div class="col-md-2" style="min-width: fit-content;" >
<label>INSURANCE NUMBER</label>
</div>
<div class="col-md-2">
<mat-form-field class="example-full-width form-control-sm" appearance="outline">
<input matInput formControlName="insurancedetails" maxlength="15"
 oninput="this.value = this.value.toUpperCase()"  >
<mat-error *ngIf="docForm.get('insurancedetails').hasError('pattern')">
Please Enter Valid Insurance No
 </mat-error>
</mat-form-field>
</div>
</div>

<div class="row">
<div class="col-md-2" style="min-width: fit-content;" >
<label>VALIDITY UPTO<span class="errorColor">*</span></label>
</div>
<div class="col-md-2">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
    <input matInput [matDatepicker]="picker2" formControlName="validity"
    (dateInput)="$event.value.format('DD/MM/YYYY')" id="validity1"
    (dateChange)="getDateString($event,'validity1',0)" >
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="docForm.get('validity').hasError('required')">
      Validity is required
        </mat-error>
  </mat-form-field>
<!-- <mat-form-field class="example-full-width form-control-sm" appearance="outline">
<input matInput formControlName="validity" maxlength="4" (keypress)="keyPressNumeric($event)"
 oninput="this.value = this.value.toUpperCase()"  >
<mat-error *ngIf="docForm.get('validity').hasError('required')">
Validity is required
 </mat-error>
</mat-form-field> -->
</div>


<div class="col-md-2" style="min-width: fit-content;" >
<label>INSURED AMOUNT<span class="errorColor">*</span></label>
</div>
<div class="col-md-2">
<mat-form-field class="example-full-width form-control-sm" appearance="outline">
<input matInput formControlName="insuredamount" maxlength="9" (keypress)="keyPressNumeric($event)"
 oninput="this.value = this.value.toUpperCase()"  >
<mat-error *ngIf="docForm.get('insuredamount').hasError('required')">
Insured Amount is required
 </mat-error>
</mat-form-field>
</div>

<div class="col-md-2" style="min-width: fit-content;" >
  <label>ADDRESS</label>
  </div>
  <div class="col-md-2">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <textarea matInput formControlName="address" maxlength="50" ></textarea>
  </mat-form-field>
  </div>
</div>

<hr><br>
<h4>SERVICE HISTORY DETAILS</h4><br>
<div class="row">
  <div class="col-md-2" style="min-width: fit-content;" >
    <label>DATE OF LAST SERVICE<span class="errorColor">*</span></label>
</div>
<div class="col-md-2">
<mat-form-field class="example-full-width form-control-sm" appearance="outline">
    <input matInput [matDatepicker]="picker" formControlName="service"
    (dateInput)="$event.value.format('DD/MM/YYYY')" id="discardFromDate"
    (dateChange)="getDateString($event,'discardFromDate',0)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="docForm.get('service').hasError('required')">
        Last Service date is required
        </mat-error>
  </mat-form-field>
</div>
<div class="col-md-2" style="min-width: fit-content;" >
  <label>DESCRIPTION</label>
  </div>
  <div class="col-md-2">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <textarea matInput formControlName="description" maxlength="50"></textarea>
  </mat-form-field>
  </div>
  <div class="col-md-2" style="min-width: fit-content;" >
    <label>DATE OF NEXT SERVICE<span class="errorColor">*</span></label>
</div>
<div class="col-md-2">
<mat-form-field class="example-full-width form-control-sm" appearance="outline">
    <input matInput [matDatepicker]="picker5" formControlName="nextservice"
    (dateInput)="$event.value.format('DD/MM/YYYY')" id="discardFromDate5"
    (dateChange)="getDateString($event,'discardFromDate5',0)" >
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
    <mat-error *ngIf="docForm.get('nextservice').hasError('required')">
        Next Service date is required
        </mat-error>
  </mat-form-field>
</div>
</div>
<hr><br>
<h4>FEATURE AND OPTION DETAILS</h4><br>
<div class="row">
  <div class="col-md-2" style="min-width: fit-content;" >
    <label> FEATURE AND OPTION DESCRIPTION</label>
    </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <textarea matInput formControlName="feature" maxlength="100" ></textarea>
      </mat-form-field>
      </div>
      </div>




  <br>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                  <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                  <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                  <button color="warn" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>


