
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Department Code</th>
                            <th class="tableHeader">Department Name</th>
                            <th class="tableHeader">Description</th>
                            <th class="tableHeader">Department Head</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of departmentList">

                            <td *ngIf="data.isValid == true || data.deptcodevaild == true">{{data.deptCode}}</td>
                            <td *ngIf="data.isValid == false || data.deptcodevaild == false" style="background-color:red;">{{data.deptCode}}</td>
                            <td>{{data.departmentHead}}</td>
                            <td >{{data.remarks}}</td>
                            <td>{{data.contactPersonName}}</td>
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="start">
                <label *ngIf="isValidEmail == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Department Head Is Required !!!</label>
            </div>

            <div class="example-button-row" align="start">
                <label *ngIf="isValid == false || deptcodevaild == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Department Code Already Exists!!!</label>
            </div>

            
            <div class="example-button-row" align="start">
                <label *ngIf="isValidName == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Department Name Is Required !!!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValid == false ||deptcodevaild == false || isValidEmail == false || isValidNum ==false || isValidNum1 == false "  [mat-dialog-close]="1" (click)="onSubmit()">Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
  </div>
