
<section class="content">
  <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
          <app-breadcrumb [title]="'Fixed-Deposit'" [items]="['Master']" [active_item]="'Add-Fixed-Deposit'"> 
          </app-breadcrumb>
      </div>
      <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card " style="padding-left: 150px;">
              <div class="body">
                <form class="m-4" [formGroup]="docForm">

                  <h4>PERSONAL INFORMATION</h4>
                  <br><br>

                  <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                      <mat-label>FD-HOLDER-NAME<span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-3">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="fdName"
                      oninput="this.value = this.value.toUpperCase()" (keypress)="keyPressName($event)">
                      <mat-error *ngIf="docForm.get('fdName').hasError('required')">
                        Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >DATE OF BIRTH</mat-label>
                      </div>
                      <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput [matDatepicker]="picker2" 
                          formControlName="dobobj" id="dob"
                          (dateChange)="getDateString($event, 'dob',0)">
                      <mat-datepicker-toggle matSuffix
                          [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                   </div>

                   <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >E-MAIL<span class="errorColor">*</span></mat-label>
                      </div>
                      <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="mail" required>
                        <mat-error *ngIf="docForm.get('mail').hasError('required') || docForm.get('mail').touched" >
                          Please enter a valid email address
                        </mat-error> 
                      </mat-form-field>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >PHONE NUMBER</mat-label>
                      </div>
                      <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="phone" maxlength="10"(keypress)="keyPressNumeric($event)">
                      </mat-form-field>
                    </div>
                   </div>

                   <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >CURRENT ADDRESS</mat-label>
                      </div>
                      <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <textarea matInput formControlName="address" maxlength="250"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >COUNTRY</mat-label>
                      </div>
                      <div class="col-md-3" >
        
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="country" style="font-size:small;">
                          <mat-option value=" Afghanistan"> Afghanistan</mat-option>
                          <mat-option value=" Albania"> Albania</mat-option>
                          <mat-option value=" Algeria"> Algeria</mat-option>
                          <mat-option value=" Andorra"> Andorra</mat-option>
                          <mat-option value=" Australia"> Australia</mat-option>
                          <mat-option value=" Bangladesh"> Bangladesh</mat-option>
                          <mat-option value=" Belgium"> Belgium</mat-option>
                          <mat-option value=" Brazil"> Brazil</mat-option>
                          <mat-option value=" Canada"> Canada</mat-option>
                          <mat-option value=" China"> China</mat-option>
                          <mat-option value=" Denmark"> Denmark</mat-option>
                          <mat-option value=" Egypt"> Egypt</mat-option>
                          <mat-option value=" Finland"> Finland</mat-option>
                          <mat-option value=" France"> France</mat-option>
                          <mat-option value=" Germany"> Germany</mat-option>
                          <mat-option value=" India"> India</mat-option>
                          <mat-option value=" Indonesia"> Indonesia</mat-option>
                          <mat-option value=" Italy"> Italy</mat-option>
                          <mat-option value=" Japan"> Japan</mat-option>
                          <mat-option value=" Kenya"> Kenya</mat-option>
                          <mat-option value=" Korea"> Korea</mat-option>
                          <mat-option value=" Kuwait"> Kuwait</mat-option>
                          <mat-option value=" Mexico"> Mexico</mat-option>
                          <mat-option value=" Nepal"> Nepal</mat-option>
                          <mat-option value=" Netherlands"> Netherlands</mat-option>
                          <mat-option value=" Norway"> Norway</mat-option>
                          <mat-option value=" Oman"> Oman</mat-option>
                          <mat-option value=" Russia"> Russia</mat-option>
                          <mat-option value=" Singapore"> Singapore</mat-option>
                          <mat-option value=" Serbia"> Serbia</mat-option>
                          <mat-option value=" UK"> UK</mat-option>
                          <mat-option value=" USA"> USA</mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('country').hasError('required')">
                          Fd Type is required
                        </mat-error>
                    </mat-form-field> 

                    </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <mat-label >POST CODE</mat-label>
                        </div>
                        <div class="col-md-3" >
                          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput formControlName="postcode"maxlength="6"(keypress)="keyPressNumeric($event)">
                        </mat-form-field>
                      </div>
                      </div>

                      <hr>
                       <h4>FIXED DEPOSIT INFORMATION</h4>
                       <br><br>

                       <div class="row">
                       <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <label>CURRENCY<span class="errorColor">*</span></label>
                    </div>
                    <div class=" col-md-3">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-select formControlName="currency" >
                            <mat-option [value]="'KSH'">KSH</mat-option>
                            <mat-option [value]="'INR'">INR</mat-option>
                            <mat-option [value]="'TES'">TES</mat-option>
                            </mat-select>
                            <mat-error 
                            *ngIf="docForm.get('currency').hasError('required')">
                            Currency is required
                          </mat-error>
                          </mat-form-field>
                          </div>
                          </div>

                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12"  >
                      <mat-label >FIXED DEPOSIT TYPE<span class="errorColor">*</span></mat-label>
                    </div>
                  <div  class="col-md-3" >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="fixeddeposittype" style="font-size:small;">
                          <mat-option value=" Regular Fixed Deposit"> Regular Fixed Deposit</mat-option>
                          <mat-option value=" Senior Citizen Fixed Deposit"> Senior Citizen Fixed Deposit</mat-option>
                          <mat-option value="Tax-Saving Fixed Deposit">Tax-Saving Fixed Deposit</mat-option>
                          <mat-option value="Corporate Fixed Deposit">Corporate Fixed Deposit</mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('fixeddeposittype').hasError('required')">
                          Fd Type is required
                        </mat-error>
                    </mat-form-field> 
                  </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                        <mat-label >APPLICATION NO<span class="errorColor">*</span></mat-label>
                    </div>
                    <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput formControlName="applicationNo"maxlength="14"oninput="this.value = this.value.toUpperCase()">
                        <mat-error *ngIf="docForm.get('applicationNo').hasError('required')">
                          Application  No is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                  
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                      <mat-label>FD REFERENCE </mat-label>
                  </div>
                  <div class="col-md-3" >
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput formControlName="fdRef"maxlength="20" oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                    <mat-label >FD AMOUNT<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-3">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="fdamt"maxlength="9"(keypress)="keyPressNumberDouble($event)">
                    <mat-error *ngIf="docForm.get('fdamt').hasError('required')">
                      Fd Amount is required
                     </mat-error>
                  </mat-form-field>
                </div>
            </div>

               
                 

          <div class="row">
                 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <mat-label >FD START DATE<span class="errorColor">*</span></mat-label>
                      </div>
                      <div class="col-md-3" >
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <input matInput [matDatepicker]="picker" 
                          formControlName="fdstartdateObj" id="fdstartDate"
                          (dateChange)="getDateString($event, 'fdstartDate',0)">
                      <mat-datepicker-toggle matSuffix
                          [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="docForm.get('fdstartdateObj').hasError('required')">
                            Start Date  is required
                          </mat-error> 
                        </mat-form-field>
                    </div>

                   
                   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                      <mat-label >FD END DATE <span class="errorColor">*</span></mat-label>
                  </div>
                  <div class=" col-md-3" >
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input matInput [matDatepicker]="picker1" 
                          formControlName="fdenddateObj"  id="fdendDate"
                          (dateChange)="getDateString($event, 'fdendDate',0)">
                      <mat-datepicker-toggle matSuffix
                          [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                          <mat-error *ngIf="docForm.get('fdenddateObj').hasError('required')">
                          End Date is required
                          </mat-error> 
                    </mat-form-field>
                  </div> 
      </div>

      <div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                      <mat-label >INVESTMENT TERM<span class="errorColor">*</span></mat-label>
                    </div>
                  <div  class=" col-md-3">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-select formControlName="investmentTerm" style="font-size:small;">
                        <mat-option value="Short Time Deposit">Short Time Deposit</mat-option>
                        <mat-option value="Long Time Deposit">Long Time Deposit</mat-option>
                        
                      </mat-select>
                      <mat-error *ngIf="docForm.get('autoRenewal').hasError('required')">
                        Term is required
                      </mat-error>
                  </mat-form-field> 
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
                    <mat-label >FD ACCOUNT NUMBER<span class="errorColor">*</span></mat-label>
                </div>
                <div class=" col-md-3" >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <input matInput formControlName="fdaccountNo" maxlength="17"(keypress)="keyPressNumeric($event)">
                    <mat-error *ngIf="docForm.get('fdaccountNo').hasError('required')">
                      Account Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
                
 </div>

 <div class="row">

       <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
        <mat-label >BANK NAME<span class="errorColor">*</span></mat-label>
    </div>
    <div  class=" col-md-3">
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
        <input matInput formControlName="bankName" maxlength="10"(keypress)="keyPressName($event)">
        <mat-error *ngIf="docForm.get('bankName').hasError('required')">
          Bank Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
      <mat-label >BANK IFSC<span class="errorColor">*</span></mat-label>
  </div>
  <div class=" col-md-3">
    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <input matInput formControlName="ifscCode" maxlength="11" oninput="this.value = this.value.toUpperCase()"
       required>
      <mat-error *ngIf="docForm.get('ifscCode').hasError('pattern')">
        Please Enter Valid IFSC code
      </mat-error>
      <mat-error *ngIf="docForm.get('ifscCode').hasError('required')">
        IFSC Code is required
      </mat-error>
    </mat-form-field>
  </div>
  </div>

  


<hr>
<h4>PAYMENT AND INTEREST</h4>
<br><br>

<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
    <mat-label >AUTO RENEWAL<span class="errorColor">*</span></mat-label>
  </div>
<div  class="col-md-3">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <mat-select formControlName="autoRenewal" style="font-size:small;">
        <mat-option value="Renewal for the same tenure">Renewal for the same tenure</mat-option>
        <mat-option value="Renewal for a different tenure">Renewal for a different tenure</mat-option>
        <mat-option value="Renewal with partial withdrawal">Renewal with partial withdrawal</mat-option>
        <mat-option value=" Non-renewal"> Non-renewal</mat-option>
      </mat-select>
      <mat-error *ngIf="docForm.get('autoRenewal').hasError('required')">
        Renewal is required
      </mat-error>
  </mat-form-field> 
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
    <mat-label >INTEREST PAYMENT FREQUENCY</mat-label>
  </div>
<div  class="col-md-3">
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <mat-select formControlName="frequency" style="font-size:small;">
        <mat-option value="MONTHLY">MONTHLY</mat-option>
        <mat-option value="QUARTELY">QUARTELY</mat-option>
        <mat-option value="HALF-YEARLY">HALF-YEARLY</mat-option>
        <mat-option value="YEARLY">YEARLY</mat-option>
      </mat-select>
   
  </mat-form-field> 
  </div>

</div>
<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
    <mat-label >PENALTY AMOUNT<span class="errorColor">*</span></mat-label>
  </div>
  <div class=" col-md-3" >
      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
      <input matInput formControlName="penaltyAmt" maxlength="9"(keypress)="keyPressNumberDouble($event)">
      <mat-error *ngIf="docForm.get('penaltyAmt').hasError('required')">
        Penalty Amount is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
    <mat-label>RATE OF INTEREST (%)<span class="errorColor">*</span></mat-label>
</div>
<div class=" col-md-3">
    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
    <input matInput formControlName="interest" maxlength="5" (keypress)="keyPressNumeric($event)">
    <mat-error *ngIf="docForm.get('autoRenewal').hasError('required')">
      Interest Rate is required
    </mat-error>
  </mat-form-field>
</div>
</div>
<div class="row">
<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" >
  <mat-label  >DUE AMOUNT<span class="errorColor">*</span></mat-label>
</div>
<div  class=" col-md-3" >
  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
  <input matInput formControlName="dueAmount"maxlength="9" (keypress)="keyPressNumeric($event)">
  <mat-error *ngIf="docForm.get('dueAmount').hasError('required')">
   Due Amount is required
  </mat-error>
</mat-form-field>
</div>
</div>


        
                          <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                              color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                              <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                              <button (click) = "reset()" class="btn-space" mat-raised-button color="primary" >Reset</button>
                              <button (click) = "onCancel()" color="warn" type="button" mat-raised-button>Cancel</button>
                            </div>
                          </div> 
                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
            </section>