<section class="content">
  <div class="content-block">
    <div class="block-header" style="padding: 0.5% !important;">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Asset List'" [items]="['Asset']" [active_item]="'Asset List'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card" style="padding: 0px 1% 0px;">
          <div class="body">
            <form class="m-4" [formGroup]="docForm">
              <mat-tab-group (selectedTabChange)="singleAssetPopup($event);">
                <mat-tab label="Add Single Asset">
                  <br>
                  <div class="row" *ngIf="!edit">
                    <div class="col-md-2" *ngIf="!quantityBasedMutipleAssetFlag" style="min-width: fit-content;">
                      <mat-label>GRN </mat-label>
                    </div>
                    <div class="col-md-2" *ngIf="!quantityBasedMutipleAssetFlag">
                      <input type="checkbox" tabindex="1" formControlName="isGrnBasedAsset" (change)="getGRN($event.target.checked)">
                    </div>
                    <div class="col-md-2" *ngIf="grnBasedMutipleAssetFlag" style="min-width: fit-content;">
                      <mat-label>GRN NO <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-2" *ngIf="grnBasedMutipleAssetFlag">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select formControlName="grnId" tabindex="2" (selectionChange)="getGRNDetailsAndAddMultipleAsset($event.value)" required>
                          <mat-option *ngFor="let title of grnNumberList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('grnId').hasError('required')"> GRN No is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <span *ngIf="!grnBasedMutipleAssetFlag">
                    <br>
                  </span>
                  <!-- Normal Asset Save Start-->
                  <div class="row">
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>CATEGORY <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select tabindex="3" formControlName="category" (selectionChange)="categoryAttributes($event.value)" required>
                          <mat-option *ngFor="let title of categoryList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('category').hasError('required')"> Category is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>VENDOR NAME </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select tabindex="4" formControlName="vendor">
                          <mat-option *ngFor="let title of uomList" [value]="title.text">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('vendor').hasError('required')"> Vendor name is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>PO NUMBER </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select tabindex="5" formControlName="poNumber">
                          <mat-option *ngFor="let title of purchaseOrderNumber" [value]="title.text">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('poNumber').hasError('required')"> PO number is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>PURCHASE PRICE <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [readonly]="edit" tabindex="6" formControlName="purchasePrice" maxlength="15" (keypress)="keyPressNumberDouble($event)" required>
                        <mat-error *ngIf="docForm.get('purchasePrice').hasError('required')"> Purchase price is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>CURRENCY <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-select tabindex="7" formControlName="currency">
                          <mat-option *ngFor="let title of currencyListbasedCompany" [value]="title.text">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('currency').hasError('required')"> Currency is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>INVOICE NUMBER </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="8" maxlength="20" formControlName="invoiceNo" (keypress)="keyPressNameNumber($event)">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>INVOICE DATE </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker" tabindex="9" formControlName="invoiceDateobj" (dateInput)="$event.value.format('DD/MM/YYYY')" id="invoiceDate" (dateChange)="getDateString($event, 'invoiceDate',0)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="docForm.get('invoiceDateobj').hasError('required')"> Invoice date is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-label>TRANSPORT CHARGES </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="10" formControlName="transport" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                        <mat-error *ngIf="docForm.get('transport').hasError('required')"> Transport is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-label>DESCRIPTION </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="11" formControlName="description" maxlength="50" (keypress)="keyPressName($event)">
                        <mat-error *ngIf="docForm.get('description').hasError('required')"> Description is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>OTHER TAXES </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="12" formControlName="otherTaxes" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                        <mat-error *ngIf="docForm.get('otherTaxes').hasError('required')"> other taxes is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>CUSTOM DUTY </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="13" formControlName="customDuty" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                        <mat-error *ngIf="docForm.get('customDuty').hasError('required')"> Custom duty is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-label>GST </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="14" formControlName="gst" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                        <mat-error *ngIf="docForm.get('gst').hasError('required')"> GST is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-label>INSTALLATION AND COMMISSION CHARGES </mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="15" formControlName="instalAndCommission" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                        <mat-error *ngIf="docForm.get('instalAndCommission').hasError('required')"> Installation and commission charges is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-label>REMARKS</mat-label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput tabindex="16" formControlName="remarks" (keypress)="keyPressNameNumber($event)">
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-radio-group formControlName="brandCheck">
                        <mat-radio-button tabindex="17" value="brandCheck" (change)="getBrand($event.value)">BRAND </mat-radio-button>
                        <mat-radio-button tabindex="17" value="unBrandCheck" (change)="getBrand($event.value)">UN BRAND </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-2" *ngIf="isBrand">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Brand</mat-label>
                        <mat-select tabindex="18" formControlName="brand">
                          <mat-option *ngFor="let title of brandDdList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="docForm.get('brand').hasError('required')"> Brand is required </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" *ngIf="isUnBrand">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Un Brand</mat-label>
                        <input matInput tabindex="19" formControlName="unBrand" (keypress)="keyPressName($event)">
                        <mat-error *ngIf="docForm.get('unBrand').hasError('required')"> Un brand is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-label>IN LINE </mat-label>
                    </div>
                    <div class="col-md-2"> &nbsp; <input type="checkbox" tabindex="20" formControlName="isLine" (change)="getInLine($event.target.checked)">
                    </div>
                    <div class="col-md-2">
                      <mat-label>IS AUDITABLE ? </mat-label>
                    </div>
                    <div class="col-md-2"> &nbsp; <input type="checkbox" tabindex="8" formControlName="isAuditable">
                    </div>
                    <div class="col-md-4" style="min-width: fit-content;">
                      <mat-radio-group tabindex="21" formControlName="selfOrPartner">
                        <mat-radio-button value="selfOwned">SELF OWNED </mat-radio-button>
                        <mat-radio-button value="partner">PARTNER </mat-radio-button>
                      </mat-radio-group>
                      <mat-error *ngIf="docForm.get('selfOrPartner').hasError('required') && submitted"> SELF OWNED and PARTNER is required </mat-error>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-label>OWNERSHIP </mat-label>
                    </div>
                    <div class="col-md-2" style="min-width: fit-content;">
                      <mat-radio-group formControlName="ownedShip"> &nbsp; <mat-radio-button tabindex="22" value="owned" (change)="getOwnerShip($event.value)"> OWNED </mat-radio-button>
                        <mat-radio-button tabindex="22" value="rented" (change)="getOwnerShip($event.value)"> RENTED </mat-radio-button>
                        <mat-radio-button tabindex="22" value="thirdParty" (change)="getOwnerShip($event.value)"> LEASE/THIRD PARTY </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-2" *ngIf="isRented">
                      <mat-label style="margin-left: 30%;">Upto Date</mat-label>
                    </div>
                    <div class="col-md-2" *ngIf="isRented">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker7" formControlName="rentedUptoDateObj" name="rentedUptoObj{{i}}" (dateChange)="getDateString($event,'rentedUptoDate',i)">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" *ngIf="isThirdParty">
                      <mat-label style="margin-left: 30%;">Upto Date</mat-label>
                    </div>
                    <div class="col-md-2" *ngIf="isThirdParty">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput [matDatepicker]="picker7" formControlName="thirdPartyUptoDateObj" name="thirdPartyUptoDateObj{{i}}" (dateChange)="getDateString($event,'thirdPartyUptoDate',i)">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2" style="margin-top: 2%;">
                      <mat-label>UPLOAD FILE <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-4">
                      <app-file-upload tabindex="23" class="example-width form-control-sm" formControlName="uploadFiles" (change)="onSelectFile($event)" required></app-file-upload>
                      <mat-error style="margin-top: -20px;" *ngIf="docForm.get('uploadFiles').hasError('required') && submitted ">Upload files is required </mat-error>
                    </div>
                    <div class="col-md-2" *ngIf="!grnBasedMutipleAssetFlag && !edit" style="margin-top: 2%;">
                      <mat-label style="margin-left: 30%;">QUANTITY <span class="errorColor">*</span>
                      </mat-label>
                    </div>
                    <div class="col-md-2" *ngIf="!grnBasedMutipleAssetFlag && !edit" style="margin-top: 2%;">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput maxlength="3" tabindex="24" formControlName="quantity" (keypress)="keyPressNumber($event)" (keyup)="quantityBasedAddMultipleAssetList($event.target.value)" required>
                        <mat-error *ngIf="docForm.get('quantity').hasError('required')"> Quantity is required </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" style="margin-top: -20px;" *ngIf="(filePathUrl != undefined && filePathUrl != null && filePathUrl != '')">
                    <div class="iconCard" style="margin-left: 15.6%;">
                      <span>
                        <i class="far fa-file-alt docIcons"></i>{{filePathUrl?.split('/').pop()}}
                      </span>
                      <a class="downloadView" (click)="viewDocuments(filePathUrl, filePathUrl?.split('/').pop())">
                        <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
                      </a>
                    </div>
                  </div>
                  <!-- Normal Asset Save End-->
                  <!-- Quantity Based Save Mutiple Asset Start-->
                  <div style="zoom: 95%;">
                    <div style="overflow-x: auto;width: 100%;">
                      <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                        <thead class="">
                          <tr>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Asset Item <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Asset Name <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.05rem;"> Location <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Status <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Put to Use Date <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Department </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Allotted Upto </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Transfer to </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Asset User <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Purchase Price <span class="errorColor"> *</span>
                            </th>
                            <th *ngIf="isLineIn" class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Line Name </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Life (In Years) </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Salvage Value </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th nowrap class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> Asset Image <span class="errorColor"> *</span>
                            </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="text-center table-heading padding-both-side-2 width_7" style="width: 12%;margin-left: 25px;border-radius: 0.07rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                          </tr>
                        </thead>
                        <ng-container *ngFor="let quantityBasedAssetList of docForm.get('quantityBasedAssetList')['controls']; let i = index">
                          <tbody [formGroup]="quantityBasedAssetList">
                            <tr>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset Item</mat-label>
                                  <mat-select tabindex="50" name="itemId{{i}}" formControlName="itemId" [disabled]="grnBasedMutipleAssetFlag">
                                    <mat-option *ngFor="let title of itemCodeNameList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('itemId').hasError('required')" class="failed-validation" class="errorColor"> Asset item is required </div>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset Name</mat-label>
                                  <input tabindex="51" matInput name="assetName{{i}}" formControlName="assetName" maxlength="150" (keypress)="keyPressName($event)">
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('assetName').hasError('required')" class="failed-validation" class="errorColor"> Asset Name is required </div>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Location</mat-label>
                                  <mat-select tabindex="52" name="location{{i}}" formControlName="location">
                                    <mat-option *ngFor="let title of locationDdList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('location').hasError('required')" class="failed-validation" class="errorColor"> Location is required </div>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Status</mat-label>
                                  <mat-select tabindex="53" name="status{{i}}" formControlName="status">
                                    <mat-option *ngFor="let title of statusDdList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('status').hasError('required')" class="failed-validation" class="errorColor"> Status is required </div>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Put to Use Date</mat-label>
                                  <input tabindex="54" matInput [matDatepicker]="picker7" formControlName="putUseDateObj" name="putUseDateObj{{i}}" (dateChange)="getDateString($event,'putUseDateQtyArray',i)">
                                  <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                  <mat-datepicker #picker7></mat-datepicker>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Department</mat-label>
                                  <mat-select tabindex="55" name="department{{i}}" formControlName="department">
                                    <mat-option *ngFor="let title of departmentDdList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <input tabindex="56" matInput [matDatepicker]="picker2" formControlName="allottedUptoobj" name="allottedUptoobj{{i}}" (dateInput)="$event.value.format('DD/MM/YYYY')" id="allottedUpto" (dateChange)="getDateString($event, 'allottedUptoArray',i)">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Transfer To</mat-label>
                                  <mat-select tabindex="57" name="transferredTo{{i}}" formControlName="transferredTo">
                                    <mat-option *ngFor="let title of locationDdList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Asset User</mat-label>
                                  <mat-select tabindex="58" name="assetUser{{i}}" formControlName="assetUser">
                                    <mat-option *ngFor="let title of assetUserList" [value]="title.text">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('assetUser').hasError('required')" class="failed-validation" class="errorColor"> Asset User is required </div>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Purchase Price</mat-label>
                                  <input tabindex="59" [readonly]="edit" matInput name="individualPurchasePrice{{i}}" formControlName="individualPurchasePrice" maxlength="15" (keypress)="keyPressNumberDouble($event)">
                                </mat-form-field>
                                <div *ngIf="submitted && quantityBasedAssetList.get('individualPurchasePrice').hasError('required')" class="failed-validation" class="errorColor"> Purchase Price is required </div>
                              </td>
                              <td class="padding-both-side-2" *ngIf="isLineIn">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Line Name</mat-label>
                                  <mat-select tabindex="60" name="lineId{{i}}" formControlName="lineId">
                                    <mat-option *ngFor="let title of lineMasterList" [value]="title.id">
                                      {{title.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Life (In Years)</mat-label>
                                  <input tabindex="61" matInput name="endLife{{i}}" formControlName="endLife" maxlength="150" (keypress)="keyPressNumberInt($event)">
                                </mat-form-field>
                              </td>
                              <td class="padding-both-side-2">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Salvage Value</mat-label>
                                  <input tabindex="62" matInput name="scrapValue{{i}}" formControlName="scrapValue" maxlength="150" (keypress)="keyPressNumberDouble($event)">
                                </mat-form-field>
                              </td>
                              <td colspan="7" class="padding-both-side-2">
                                <app-file-upload tabindex="63" appearance="outline" name="uploadImg{{i}}" (change)="onSelectImage($event,i,'ArrayAssetImg')"></app-file-upload>
                                <span *ngIf="edit">
                                  <i class="far fa-file-alt docIcons"></i>{{imgPathUrl?.split('/').pop()}}
                                <a class="downloadView" (click)="viewDocuments(filePathUrl, filePathUrl?.split('/').pop())">
                                  <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
                                </a>
                              </span>
                                <div style="margin-top: 4px;" *ngIf="submitted && quantityBasedAssetList.get('uploadImg').hasError('required')" class="failed-validation" class="errorColor"> Asset Image is required </div>
                              </td>
                            </tr>
                          </tbody>
                        </ng-container>
                      </table>
                    </div>
                  </div>
                  <!-- Quantity Based Save Mutiple Asset End-->
                  <!-- Asset Specification Details Start-->
                  <br>
                  <div style="zoom: 95%;" *ngIf="isCategory">
                    <h6 class="headingValue"> Specification Details </h6>
                    <div style="overflow-x: auto;width: 100%;">
                      <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                        <tbody>
                          <tr>
                            <ng-container *ngFor="let assetSpecList of docForm.get('assetSpecList')['controls']; let i = index">
                              <td class="padding-both-side-2" [formGroup]="assetSpecList">
                                <div *ngIf="assetSpecList.get('type').value=='Text'">
                                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>{{assetSpecList.get('name').value}}</mat-label>
                                    <input matInput formControlName="value">
                                  </mat-form-field>
                                </div>
                                <div *ngIf="assetSpecList.get('type').value=='Number'">
                                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>{{assetSpecList.get('name').value}}</mat-label>
                                    <input matInput formControlName="value" (keypress)="keyPressNumberInt($event)">
                                  </mat-form-field>
                                </div>
                                <div *ngIf="assetSpecList.get('type').value=='Date'">
                                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>{{assetSpecList.get('name').value}}</mat-label>
                                    <input matInput [matDatepicker]="picker7" formControlName="value" name="value{{i}}" (dateChange)="getDateString($event,'specDateArray',i)">
                                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                    <mat-datepicker #picker7></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Asset Specification Details End -->
                  <div class="row" style="padding-bottom:50px;padding-top:25px;padding-left: 50px;">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                      <button *ngIf="!edit" class="btn-space" (click)="saveQtyBasedMutipleAsset()" style="margin-left: 38%;background-color: green;" mat-raised-button color="primary">Submit</button>
                      <button *ngIf="edit" class="btn-space" (click)="update()" style="margin-left: 38%;background-color: green;" mat-raised-button color="primary">Update</button>
                      <button *ngIf="edit" color="primary" type="button" class="btn-space" (click)="fetchDetails(requestId)" mat-raised-button>Reset</button>
                      <button *ngIf="!edit" color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                      <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Add Multiple Assets"></mat-tab>
              </mat-tab-group>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>