<section class="content">
  <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
          <!-- breadcrumb -->
          <app-breadcrumb [title]="'View Category'" [items]="['Master']"
              [active_item]="'View Category'">
          </app-breadcrumb>
      </div>
      <div class="row clearfix ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="box-shadow">
                  <div class="card" style="padding: 40px;">
                      <div class="body">
                          <div class="container border" id="salesOrderdview"
                              style=" border: 1px solid white!important; border-radius: 10px; background-color: #ecebf7; ">
                              <form class="m-4" autocomplete="off" [formGroup]="docForm">
                                  <br>

                                  <div class="row">
                                      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Category Name :</b>&nbsp;{{list?.categoryName !== null ? list?.categoryName: '-'}}</label>
                                      </div>
                                      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Parent Category :</b> &nbsp;{{list?.list !== null ? list?.parentCategory: '-'}}</label>
                                      </div>
                                      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 ">
                                          <label><b>Description :</b>&nbsp;{{list?.Description!== null ? list?.Description: '-'}}</label>

                                      </div>

                                      <!-- <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Depreciation Method :</b>&nbsp;{{list?.depreciation !== null ? list?.depreciation: '-'}}</label>

                                      </div> -->
                                  </div>
                                  <br>

                                  <div class="row">

                                      <!-- <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Asset Type:</b>&nbsp;{{list?.assettype !== null ? list?.assettype: '-'}}</label>

                                      </div> -->

                                      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Currency :</b>&nbsp;{{list?.currency !== null ? list?.currency : '-'}}</label>

                                      </div>
                                      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                          <label><b>Is Active :</b>&nbsp;{{list?.isactive !== null ? list?.isactive: '-'}}</label>

                                      </div>

                                  </div><br>
                                  <h3>Specification Details</h3>

                                <table class="border1"
                                style=" border: 1px solidrgb(157, 158, 163); width:100%; border-collapse: collapse; margin-top: 20px; text-align: right;">
                                <tr
                                    style="font-weight: 600; text-align: center;height: 30px; vertical-align: middle;  background-color: rgb(96 125 139 / 82%);  color: rgb(252, 248, 248); font-weight: bold;font-size:15px; font-style:normal; text-indent: 4px;">
                                    <th>
                                        Field Name
                                    </th>
                                    <th>
                                        Field Type
                                    </th>

                                </tr>
                                <tr *ngFor="let item of specificationList; let i = index"
                                    style=" padding: 7px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; vertical-align: middle;
              font-weight:normal; border-radius: 0.25rem; text-align: center;height: 50px;  background-color: rgb(203 226 235 / 82%);">
                                    <td>
                                        {{ item?.fieldName}}
                                    </td>
                                    <td>
                                        {{item?.fieldType}}
                                    </td>


                                </tr>

                            </table>
                                  <br>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                          <button color="warn" (click)="back()" type="button" mat-raised-button
                                              style="margin-left:500px;">Back</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>