<!-- <section class="content"> -->
  <div class="content-block">
    <div class="block-header">
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card ">
          <div class="body">
            <form class="m-4" [formGroup]="docForm" >
                <div class="container">
                  <table id="excel-table" class="table table-striped">
                    <thead>
                        <tr style="position: sticky;top: 0;">
                          <th style="background-color:#c1ddf5;">Activity Name</th>
                          <th style="background-color:#c1ddf5;">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let visitReport of scheduleActivityDetails;">
                            <td>{{visitReport.activityTypeText}}</td>
                            <td>{{visitReport.locationText}}</td>
                          </tr>        
                    </tbody>
                  </table>
              </div><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->