

 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Item Type</th>
                            <th class="tableHeader">Item Category</th>
                            <th class="tableHeader">Item Description</th>
                            <th class="tableHeader">Vendor Name</th>
                            <th class="tableHeader">Location Name</th>
                            <th class="tableHeader">Opening Balance</th>
                            <th class="tableHeader">Default Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of itemList">

                            <td>{{data.itemName}}</td>
                            <td *ngIf="data.isValid == false" style="background-color: red;">{{data.itemCategoryName}}</td>
                            <td *ngIf="data.isValid == true">{{data.itemCategoryName}}</td>
                            <td>{{data.itemDescription}}</td>
                            <td *ngIf="data.isValidCust == true">{{data.inventory}}</td>
                            <td *ngIf="data.isValidCust == false" style="background-color: red;">{{data.inventory}}</td>
                            <td *ngIf="data.isValidLoc == true">{{data.issue}}</td>
                            <td *ngIf="data.isValidLoc == false" style="background-color: red;">{{data.issue}}</td>
                           
                            <td *ngIf="data.isValidNum == false" style="background-color: red;">{{data.openBalance}}</td>
                            <td *ngIf="data.isValidNum == true">{{data.openBalance}}</td>
                            <td *ngIf="data.isValidNum1 == false" style="background-color: red;">{{data.price}}</td>
                            <td *ngIf="data.isValidNum1 == true">{{data.price}}</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="start">
                <label *ngIf="isValid == false || isValidNum ==false || isValidNum1 == false || isValidCust == false || isValidLoc == false" class="lable" style="font-size: 12;margin-left: 6px; color: red;">Please Enter Valid Data !!!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValid == false || isValidNum ==false || isValidNum1 == false || isValidCust == false || isValidLoc == false"  [mat-dialog-close]="1" (click)="onSubmit()">Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
  </div>
