<section class="content">
  <div class="block-header" style="padding: 0.5% !important;">
    <app-breadcrumb [title]="'Transfer Asset'" [items]="['Asset']" [active_item]="'Transfer Asset'">
    </app-breadcrumb>
  </div>
  <div class="card">
    <div class="body" style="padding-left: 110px; padding: 2%;">
      <form class="m-4" [formGroup]="docForm">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="margin-left: 5px;margin-left: 132px;">
            <label>Asset Code</label>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left:-337px">
            <mat-form-field appearance="fill">
              <mat-select formControlName="code">
                <mat-option *ngFor="let title of codeList" [value]="title.id">
                  {{title.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
            <button  color="primary" type="button" class="btn-space" (click)="onTransfer()"
              mat-raised-button>Transfer</button>
          </div>
        </div>
      </div>
      </form>
    </div>

      <br>

    <div class="container"  *ngFor="let item of gridList">

      <table id="excel-table" class="table table-striped">
        <thead>
            <tr>
              <th style="background-color:#c1ddf5;">Asset Code </th>
              <th style="background-color:#c1ddf5;">Asset Name </th>
              <th style="background-color:#c1ddf5;">Asset Location</th>
              <th style="background-color:#c1ddf5;">Departments</th>
              <th style="background-color:#c1ddf5;">Condition</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let item of gridList">
                <td>{{item.text}}</td>
                <td>{{item.asset_name}}</td>
                <td>{{item.asset_location}}</td>
                <td>{{item.departments}}</td>
                <td>{{item.condition}}</td>


                <td *ngFor="let item of cusList" (click)="splitUp(item.text)">0</td>
              </tr>
        </tbody>
      </table>
  </div>

    <br>
    <section class="content">
      <div class="content-block">

        <div class="row clearfix ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="box-shadow">
              <div class="card">
                <div class="body" style="padding-left: 110px;">
                  <form class="m-4" [formGroup]="docForm">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <mat-label><b></b></mat-label>
                        <label>Trasfer Status*</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <mat-form-field appearance="fill">
                          <mat-select formControlName="status" required>
                            <mat-option value="in wre">In wrw</mat-option>
                            <mat-option value="Repair">Repair</mat-option>
                            <mat-option value="Stock">Stock</mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('status').hasError('required')">
                            Trasfer Status is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <label>Department</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left:-37px">
                        <mat-form-field appearance="fill">
                          <mat-select formControlName="department">
                            <mat-option *ngFor="let title of transferList" [value]="title.id">
                              {{title.text}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('department').hasError('required')">
                            Department is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <label>Location*</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <mat-form-field appearance="fill">
                          <mat-select formControlName="location" required>

                            <mat-option *ngFor="let title1 of locationList" [value]="title1.id">
                              {{title1.text}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="docForm.get('location').hasError('required')">
                            Location is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <mat-label><b></b></mat-label>
                        <label>Transfer To*</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: -42px;">
                        <mat-form-field class="example-full-width form-control-sm" style="width: 204px;">
                          <input matInput formControlName="transfer" required>
                          <mat-error *ngIf="docForm.get('transfer').hasError('required')">
                            Transfer To is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <label>Alloted Upto</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;width:215px;">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput [matDatepicker]="picker" formControlName="date" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error>
                            Alloted Upto Please select date
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 58px;">
                        <label>Remarks*</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: -47px;">
                        <mat-form-field class="example-full-width form-control-sm" style="width: 204px;">
                          <input matInput formControlName="remarks" required>
                          <mat-error *ngIf="docForm.get('remarks').hasError('required')">
                            Remarks To is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 5px;">
                        <label>Uplode Files</label>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 350px;">
                        <mat-label><b></b></mat-label>
                        <app-file-upload formControlName="files" (change)="getNonGSTFileDetails($event)">
                        </app-file-upload>
                        <a href="{{filePath}}{{files}}" target="_blank">{{files}}</a>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" style="margin-left:300px;">
                        <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                          style="margin-left: 36%;background-color: #7b927b;">Submit</button>
                        <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                          style="margin-left: 36%;background-color: #7b927b;">Update</button>
                        <button color="primary" type="button" class="btn-space" (click)="onReset()"
                          mat-raised-button>Reset</button>
                        <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                          mat-raised-button>Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>