

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: 100%;padding: 19px;">
    <div class="card">
        <div class="header" >
            <h2 style="color: white;">Import Excel Details</h2>
        </div>
        <style>
          .header{
            height: 42px;
            background-color: #7E7EB8;
            color: white;
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tableHeader{
              padding: 7px;
          }
        </style>
        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top: 5px;">
                    <thead>
                        <tr>
                            <th class="tableHeader">Branch Code</th>
                            <th class="tableHeader">Employee ID</th>
                            <th class="tableHeader">Employee Name</th>
                            <th class="tableHeader">Email ID</th>
                            <th class="tableHeader">Phone Number</th>
                            <th class="tableHeader">Department Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of companyEmpList">

                            <td *ngIf="data.isValidbranch == true">{{data.branch}}</td>
                            <td *ngIf="data.isValidbranch == false" style="background-color: red;">{{data.branch}}</td>
                            <td *ngIf="data.isValid == true || data.isValidEmpId == true">{{data.empid}}</td>
                            <td *ngIf="data.isValid == false || data.isValidEmpId == false" style="background-color: red;">{{data.empid}}</td>
                            <td>{{data.fullName}}</td>
                            <td>{{data.emailId}}</td>
                            <td *ngIf="data.isValidNum == true">{{data.phoneno}}</td>
                            <td *ngIf="data.isValidNum == false" style="background-color: red;">{{data.phoneno}}</td>
                            <td *ngIf="data.isValidDept == true">{{data.department}}</td>
                            <td *ngIf="data.isValidDept == false" style="background-color: red;">{{data.department}}</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

           
            <div class="example-button-row" align="start">
                <label *ngIf=" deptcodevaild == false " class="lable" style="font-size: 12;margin-left: 6px; color: red;">Please enter valid Department !!!</label>
            </div>
            <div class="example-button-row" align="start">
                <label *ngIf=" isValidEmpId == false " class="lable" style="font-size: 12;margin-left: 6px; color: red;">Employee Id Already Exists !!!</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" [disabled]="isValid == false || deptcodevaild == false || isValidNum ==false || isValidDept == false || isValidEmpId == false "  [mat-dialog-close]="1" (click)="onSubmit()" >Upload</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
  </div>
