/* You can add global styles to this file, and also import other style files */
.box-shadow {
    //box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 60%);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(161 161 161);
    //box-shadow: 0px 2px 13px -6px rgb(0 0 0 / 67%) !important;
}

.auth-form-section {
    background-color: #ffffffb3;
    border-radius: 18px;
}

.mat-form-field {
    font-size: 10px !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    font-size: 12px !important;
    top: 0.84375em !important;
}

.mat-form-field-label:not(.mat-form-field-empty) {
    top: 21px !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    top: 21px !important;
}

.mat-error {
    font-size: 10px !important;
}

.mat-mini-fab .mat-button-wrapper {
    padding: 3px 0 !important;
    line-height: 2px;
}

.mat-mini-fab {
    border-radius: 0% !important;
    width: 30px !important;
    height: 30px !important;
}

.materialTableHeader .header-buttons-left {
    padding-left: 0px;
}

.materialTableHeader .header-buttons-left input.search-field {
    height: 35px !important;
}

.mat-icon {
    height: 33px !important;
}

.mat-header-row {
    min-height: 35px !important;
}

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
    padding-left: 10px !important;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px !important;
}

mat-row,
mat-footer-row {
    min-height: 40px !important;
}

.mat-paginator-container {
    min-height: 40px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 5px 0px 0px 5px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px 5px 5px 0px !important;
}

.lable {
    font-size: 15px !important;
    font-family: 'Arial', Times, serif !important;
    margin-left: 3%;
    font-weight: bold;
}

//add by  for error *   
.errorColor {
    color: #dc3545;
    font-size: 15px;
}

.spaceBetweenTwoFields {
    margin-left: 7%;
}

//add by  for heading  
.heading {
    color: #272424;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

.subheadingValue {
    color: #2a2a2a;
    font-size: 17px;
    padding-bottom: 10px;
}
.headingValue {
    font-size: 94%;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.headingValueNew {
    color: #3D78BE;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    display: inline-block;
}

.docIcons {
    margin: 10px 5px 0 15px;
    color: var(--main-heading-color);
}

.downloadView {
    margin: 0 10px;
}

.iconCard {
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
}
