<section class="content">
    <div class="content-block">
        <form class="m-4" [formGroup]="docForm">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Asset Profile'" [items]="['Asset ']" [active_item]="'AssetProfile'">
            </app-breadcrumb>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">

                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{profileViewDetails?.assetName}}</div>
                                <div class="name-center">{{profileViewDetails?.assetCode}}</div>
                            </div>
                            <img src={{profileViewDetails?.uploadImg}} class="user-img" alt="">
                            <p>
                                {{profileViewDetails?.category}}
                                <br />{{profileViewDetails?.status}}
                            </p>
                            <div>
                                <span class="location">
                    <i class="material-icons"> location_on</i>{{profileViewDetails?.location}}</span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5>{{profileViewDetails?.purchasePrice}}</h5>
                                    <small>Purchase Value </small>
                                </div>
                                <div class="col-4">
                                    <h5>{{profileViewDetails?.captitalizationPrice}}</h5>
                                    <small>Captitalization Price</small>
                                </div>
                                <div class="col-4">
                                    <h5>{{profileViewDetails?.depreciation}}</h5>
                                    <small>Depreciation</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Files </h2>
                        </div>
                        <div class="body">
                            <div class="doc-file-type">
                                <ul class="list-unstyled" style="position: relative; max-height: 285px;" [perfectScrollbar]>
                                    <li class="d-flex mb-3">
                                        <span class="msr-3 align-self-center img-icon success-rgba text-success"><i
                                  class="far fa-file-excel"></i></span>
                                        <div class="set-flex">
                                            <h5 class="font-16 mb-1">{{profileViewDetails?.uploadFiles}}</h5>
                                            <!-- <p>.doc, 4.3 MB</p> -->
                                        </div>
                                        <div class="ms-auto">
                                            <td>
                                                <i class="far fa-arrow-alt-circle-down"></i>
                                            </td>
                                        </div>
                                    </li>




                                </ul>
                                <!-- <div class="text-center p-t-20">
                                    <button mat-stroked-button color="primary">More Records</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group (selectedTabChange)="accurredDepreciationPopUp($event);">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                                About
                            </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Asset Info</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Brand</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.brand}}</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Model</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.model}}</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Serial No</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.serialNo}}</p>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Condition</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.status}}</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>linked Asset</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.linkedAsset}}</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Discription</strong>
                                                <br>
                                                <p class="text-muted">{{profileViewDetails?.description}}</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Purchase Info</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Vendor Name</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.vendor}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>PO Number</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.poNumber}}</p>
                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Invoice Date</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.invoiceDate}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Invoice Number</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.invoiceNo}}</p>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Purchase Price</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.purchasePrice}}</p>
                                            </div>


                                            <!-- <div class="col-md-2 col-4 b-r">
                                                <strong>Invoice Number</strong>

                                            </div> -->

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.selfOrPartner}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Financial Info</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Captitalization Price</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.captitalizationPrice}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Captitalization Date</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.captitalizationDate}}</p>
                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>End of life</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.endLife}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Scrap Value</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.scrapValue}}</p>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Depreciation</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.depreciation}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Alloted Info</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Department</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.department}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Allotted Upto</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.allottedUpto}}</p>
                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Transferred To</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.transferredTo}}</p>
                                            </div>


                                            <div class="col-md-2 col-4 b-r">
                                                <strong>Remarks</strong>

                                            </div>

                                            <div class="col-md-2 col-4 b-r">
                                                <p class="text-muted">{{profileViewDetails?.remarks}}</p>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Accurred Depreciation" style="overflow-x: hidden!important;" >
                            <br>
                            <div class="row" style="overflow-x: hidden!important;">
                                <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                                  <label class="lable" style="font-size:12">Asset Id :</label>
                              </div> 
                              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 ">
                                {{auditableAsset.assetid}}
                              </div>
            
                              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                                <label class="lable">Acquisition Value :</label>
                              </div>
                      
                              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                              {{auditableAsset.value}}
                              </div>  
                            </div><br>

                            <div class="row">
                                <div class="col-xl-4 col-lg-2 col-md-2 col-sm-12 " >
                                    <label class="lable">Asset Name :</label>
                                </div> 
                                <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 " style="margin-left: -85px;">
                                  {{auditableAsset.assetname}}
                                </div>
                                <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " style="margin-left: 83px;">
                                    <label class="lable">Salvage Value :</label>
                                </div> 
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                                  {{auditableAsset.salvageValue}}
                                </div>
                              </div><br>

                              <div class="row">
                                <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                                    <label class="lable">Useful Years :</label>
                                </div> 
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                                  {{auditableAsset.lifeInYears}}
                                </div>
                                <div class="col-xl-3 col-lg-2 col-md-2 col-sm-12 " >
                                    <label class="lable">Acquisition Date :</label>
                                </div> 
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                                  {{auditableAsset.acquisitiondt}}
                                </div>
                              </div><br>

                              <div class="row">
                              <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 ">
                                  <label class="lable">FY :</label>
                              </div> 
          
                              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: -25px;">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Financial Year</mat-label>
                                  <!-- <input matInput formControlName="depreciationMethod" maxlength="4" (change)="financialChange($event.target.value)" (keypress)="keyPressPCB($event)"> -->
                                  <input matInput formControlName="depreciationMethod" maxlength="4">
                                </mat-form-field>
                              </div>
          
                              <div class="col-md-2" style="padding-top: 16px;" >
                                <i class="fa fa-search" aria-hidden="true" (click)="financialChange()"></i>
                              </div>
          
          
                              <!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 " *ngIf="fullLifeFlag">
                                  <label class="lable">FY :</label>
                              </div> 
                              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" *ngIf="fullLifeFlag" style="margin-left: -25px;">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                  <mat-label>Financial Year</mat-label>
                                  <input matInput formControlName="depreciationMethod" maxlength="4" (change)="financialChange($event.target.value)" (keypress)="keyPressPCB($event)" readonly>
                                </mat-form-field>
                                
                              </div>
                            
                              <div class="col-md-2" style="padding-top: 16px;" *ngIf="fullLifeFlag">
                                <i class="fa fa-search" aria-hidden="true" (click)="financialChange()"></i>
                              </div> -->
                              
                              <div class="col-xl-3 col-lg-3 col-md-2 col-sm-12 " style="margin-left: -48px;" >
                                <label class="lable">Dep Method :</label>
                            </div> 
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 " >
                              {{auditableAsset.depreciationMethod}}
                            </div>
          
                            </div><br>

                            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 " style="margin-left: 713px;">
                                <mat-checkbox formControlName="assetType" ngInit="checked=true" (change)="checkFullLife($event)">Show Full Life</mat-checkbox>
                                <!-- <mat-checkbox formControlName="assetType" ngInit="checked=true">Show Full Life</mat-checkbox> -->
                            </div>

                            <div class="container" style="height: 200px ;overflow-y: scroll">
                                <!-- <img src="assets/images/icons/xlsx.png" alt="" style="margin-left:97%"/> -->
                                
                              
                                  <table id="excel-table" class="table table-striped">
                                    <thead>
                                        <tr style="position: sticky;top: 0;">
                                          <th style="background-color:#c1ddf5;">Sl No</th>
                                          <th style="background-color:#c1ddf5;">FY</th>
                                          <th style="background-color:#c1ddf5;">Book Value</th>
                                          <th style="background-color:#c1ddf5;">Depreciation</th>
                                          <th style="background-color:#c1ddf5;">Acc Depreciation</th>
                                          <th style="background-color:#c1ddf5;">Book Value End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                          <tr *ngFor="let visitReport of financialChangeDetails;">
                                          <!-- <tr> -->
                                            <td>{{visitReport.yearseq}}</td>
                                            <td>{{visitReport.financial_year}}</td>
                                            <td style="text-align: right;">{{visitReport.bookvalue.toFixed(2)}}</td>
                                            <td style="text-align: right;">{{visitReport.depreciation.toFixed(2)}}</td>
                                            <td style="text-align: right;">{{visitReport.accudepreciation.toFixed(2)}}</td>
                                            <td style="text-align: right;">{{visitReport.bookvalueend.toFixed(2)}}</td>
                                          </tr>        
                                    </tbody>
                                  </table>
                              </div><br>

                          </mat-tab>

                          <mat-tab label="Asset Movement History">
                           
                          </mat-tab>


                    </mat-tab-group>
                </div>
            </div>
        </div>
    </form>
    </div>
</section>