<div class="breadcrumb-main">
    <div class="row">
       
        <div class="col-6" style="width:20%;">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item bcrumb-1" >
                    <a href="javascript:history.back();" >
                        <app-feather-icons [icon]="'arrow-left-circle'" style="color: #6777ef !important;" ></app-feather-icons>
                    </a>
                </li>
                <li class="breadcrumb-title"><h5 class="page-title">&nbsp;&nbsp;&nbsp;{{title}}</h5></li>
            </ul>

        </div>
        <div class="col-6" style="width: 80%;">
            <ul class="breadcrumb-list" >
                <li class="breadcrumb-item bcrumb-1">
                    <a [routerLink]="'/asset/assetMaster/listAssetMaster'">
                        <app-feather-icons [icon]="'home'" [class]="'breadcrumb-icon'"></app-feather-icons>
                    </a>
                </li>
                <li class="breadcrumb-item" *ngFor="let item of items">{{item}}</li>
                <li class="breadcrumb-item active">{{active_item}}</li>
            </ul>
        </div>
        
    </div>
</div>