<div class="breadcrumb-main">
    <div class="row">
        <div class="col-1" style="width: 5.333333%;">
            <button color="warn" type="button"
            mat-raised-button><a href="javascript:history.back();" style="text-decoration: none;color: white;">Back </a></button>
        </div>
        <div class="col-4">
            
            <div class="breadcrumb-title">
                <h5 class="page-title">{{title}}</h5>
            </div>
            
        </div>
        <div class="col-6" style="width: 60%;">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item bcrumb-1">
                    <a [routerLink]="'/asset/assetMaster/listAssetMaster'">
                        <app-feather-icons [icon]="'home'" [class]="'breadcrumb-icon'"></app-feather-icons>
                    </a>
                </li>
                <li class="breadcrumb-item" *ngFor="let item of items">{{item}}</li>
                <li class="breadcrumb-item active">{{active_item}}</li>
            </ul>
        </div>
    </div>
</div>