<div class="nitificationpopoup" style="margin-left: -5%;">

<ul>
    <li> 
       <mat-card class="l-bg-purple-dark" >CLOSED
         <h5>0</h5></mat-card>
        </li>
    &nbsp;
   <li>
     <mat-card class="bg-cyan" >ASSIGNED
        <h5>1</h5>
     </mat-card> 
   </li> 
         &nbsp;   
    <li>
        <mat-card class=" bg-green" >OPENED
            <h5>2</h5>
        </mat-card>
        &nbsp;
    </li>
    <li>
        <mat-card class=" l-bg-orange" >HOLD
            <h5>3</h5>
        </mat-card> &nbsp;
    </li> 
    
</ul>

</div>
