<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Tax Master'" [items]="['Master']" [active_item]="'Add Tax'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body" style="padding-left: 80px;">
              <form class="m-4" [formGroup]="docForm">

                <div class="row">

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                    <label>TAX NAME <span class="errorColor">*</span></label>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                  
                 <mat-form-field class="example-full-width form-control-sm" appearance="outline" *ngIf="!edit">
                    <input matInput formControlName="taxname" maxlength="20" (blur)="validateTaxName($event.target.value)">
                    <mat-error *ngIf="docForm.get('taxname').hasError('required')">
                      Tax Name is required
                    </mat-error>
                    <mat-error *ngIf="docForm.get('taxname').hasError('taxName')">
                      Tax Name Already Exists !!!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width form-control-sm" appearance="outline" *ngIf="edit">
                    <input matInput formControlName="taxname" (blur)="validateTaxNameForEdit($event.target.value)"
                      maxlength="3" (keypress)="keyPressName($event)" oninput="this.value = this.value.toUpperCase()" readonly required>
                    <mat-error *ngIf="docForm.get('taxname').hasError('required')">
                      Tax Name is required
                    </mat-error>
                    <mat-error *ngIf="docForm.get('taxname').hasError('taxName')">
                      Tax Name Already Exists !!!
                    </mat-error>
                  </mat-form-field>

            
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                  <label>TAX CODE <span class="errorColor">*</span></label>
              </div>
              <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <input matInput formControlName="taxcode" maxlength="5" [ngModel]="inputvalue1"
                (ngModelChange)="inputvalue1 = $event.toUpperCase()"
                (blur)="validateTaxCode($event.target.value)">
                  <mat-error *ngIf="docForm.get('taxcode').hasError('required')">
                    Tax Code is required
                  </mat-error>
                  <mat-error *ngIf="docForm.get('taxcode').hasError('taxCode')">
                    Tax Code Already Exists !!!
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
                <label>TAX TYPE <span class="errorColor">*</span></label>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-select  formControlName="taxtype">
                <mat-option [value]="'Income tax'">
                  Income tax
                </mat-option>
                <mat-option [value]="'Corporate tax'">
                  Corporate tax
                </mat-option>
                <mat-option [value]="'Wealth tax'">
                  Wealth tax
                </mat-option>

                </mat-select>
                <mat-error *ngIf="docForm.get('taxtype').hasError('required')">
                  Tax TYPE is required
                </mat-error>
            </mat-form-field>
            </div>

          </div>

          <div class="row">

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
              <label>TAX METHOD </label>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-select  formControlName="taxmethod">
                <mat-option [value]="'9'">
                  Labor Income Method
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>


          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
            <label>TAX PERCENTAGE(%) <span class="errorColor">*</span></label>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
          <mat-form-field class="example-full-width form-control-sm" appearance="outline">
            <input matInput formControlName="taxpercentage" maxlength="4"  (keypress)="keyPressNumberDouble($event)" (blur)="taxpercentageValidation(docForm)"required >
            <mat-error  *ngIf="docForm.controls['taxpercentage'].hasError('pattern')">
              Tax percentage should be of minimum 1% and Maximum 100%.
          </mat-error>
          <mat-error *ngIf="docForm.get('taxpercentage').hasError('required')">
            Tax Percentage is required
          </mat-error>
          </mat-form-field>
        </div>


        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 " >
          <label>TAX AMOUNT </label>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 " style=" margin-left: -20px;">
        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
          <input matInput formControlName="taxamount" maxlength="7" (keypress)="keyPressNumberInt($event)">
          <mat-error *ngIf="docForm.get('taxamount').hasError('required')">
            Tax Amount is required
          </mat-error>
        </mat-form-field>
      </div>

                </div>

                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 0px;" >
                    <label >IS ACTIVE</label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 " style="margin-left: -117px;">
                  <mat-checkbox formControlName="active"  ngInit="checked=true" STYLE="margin-left: 15PX;"></mat-checkbox>
                </div>
              </div>

                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                      color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                      color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


