<div class="container-fluid">
    <div class="modal-header">
        <h5 class="modal-title headingValueNew">View scheduled Audit</h5>
        <div class="col-md-6 text-right">
        </div>
        <div class="col-md-2 text-right">
            <button  color="primary" type="button" class="btn-space" (click)="back()"
              mat-raised-button>Back</button>
        </div>
    </div>
    <div class="modal-body container">
        <div class="row">
            <div class="col-md-3">
                <div class="heading">
                  Start Date
                </div>
                <div class="subheadingValue">
                  {{(auditDetails?.startDate !== null && auditDetails?.startDate !== '') ? (auditDetails?.startDate) : '-'}} 
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                  End Date
                </div>
                <div class="subheadingValue">
                  {{(auditDetails?.endDate !== null && auditDetails?.endDate !== '') ? (auditDetails?.endDate ) : '-'}} 
                </div>
            </div>
            <div class="col-md-3">
                <div class="heading">
                  Audit Name
                </div>
                <div class="subheadingValue">
                  <p>{{auditDetails?.auditName !== null ? auditDetails?.auditName: '-'}}</p>
                </div>
            </div>
            <div class="col-md-3">
              <div class="heading">
                Company
              </div>
              <div class="subheadingValue">
                <p>{{auditDetails?.auditCompanyName !== null ? auditDetails?.auditCompanyName: '-'}}</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="heading">
                Branch
              </div>
              <div class="subheadingValue">
                {{auditDetails?.auditbranchName !== null ? auditDetails?.auditbranchName: '-'}}
              </div>
          </div>
          <div class="col-md-3">
              <div class="heading">
                Auditor
              </div>
              <div class="subheadingValue">
                {{auditDetails?.auditorName !== null ? auditDetails?.auditorName: '-'}}
              </div>
          </div>
          <div class="col-md-3">
              <div class="heading">
                Location
              </div>
              <div class="subheadingValue">
                {{auditDetails?.locationName !== null ? auditDetails?.locationName: '-'}}
              </div>
          </div>
          
      </div>
        
       
        <div *ngIf="scheduledAuditDetailsList !=null">
            <div class="row" *ngIf="scheduledAuditDetailsList?.length > 0">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                      <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">S.No.</th>
                                        <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Asset Name</th>
                                         <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                         width: 12%; border-radius: 0.05rem;">Asset No</th>
                                               <th  *ngIf="roleId==='4' || roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%;border-radius: 0.07rem;">Physical Quantity</th>
                                                 <th  *ngIf="roleId==='4' && roleId!='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                                 width: 12%;border-radius: 0.07rem;">Status</th>
                                 <th  *ngIf="roleId!='4' && roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                                  width: 12%;border-radius: 0.07rem;">Maker Status</th>
                                        <th *ngIf="roleId==='3' || roleId==='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Available Quantity</th>
                                         <th *ngIf="roleId==='3' && roleId!='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                         width: 12%;border-radius: 0.07rem;">Status</th>
                                          <th *ngIf="roleId!='3' && roleId==='2'"  class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                          width: 12%;border-radius: 0.07rem;">Checker Status</th>
                                     <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Difference Quantity</th>
                                        <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Stock Adjustment</th>
                                        <th *ngIf="roleId==='4'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Remarks</th>
                                        <th  *ngIf="roleId==='3'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Remarks</th>
                                        <th *ngIf="roleId==='2'" class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                                        width: 12%; border-radius: 0.05rem;">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let audit of scheduledAuditDetailsList; let i =index">
                                  <tr>
                                          <td class="padding-both-side-2">
                                            {{i+1}}
                                         </td>    
                                         <td class="padding-both-side-2">
                                          {{audit?.assetName}}
                                          </td>
                                          <td class="padding-both-side-2">
                                           {{audit?.assetCode}}
                                         </td>
                                          <td class="padding-both-side-2" *ngIf="roleId==='4' || roleId==='2'">
                                            {{audit?.physicalQty}}
                                          </td>
                                          <td class="padding-both-side-2" *ngIf="roleId==='4' || roleId==='2'">
                                            {{audit?.makerstatus}}
                                        </td>
                                        <td class="padding-both-side-2" *ngIf="roleId==='3' || roleId==='2'">
                                            {{audit?.availableQty}}
                                         </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='3' || roleId==='2'">
                                          <!-- {{audit?.checkerstatus}} -->
                                          <div *ngIf="audit.checkerstatus==1 ">
                                            Pending
                                          </div>
                                          <div *ngIf="audit.checkerstatus==2">
                                            Submitted
                                          </div>
                                        </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                          {{audit?.differenceQty}}
                                         </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                          {{audit?.stockAdjustment}}
                                         </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='4'">
                                          {{audit?.makerRemarks}} 
                                         </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='3'">
                                          {{audit?.checkerRemarks}} 
                                         </td>
                                         <td class="padding-both-side-2" *ngIf="roleId==='2'">
                                          {{audit?.companyAdminRemarks}}
                                         </td>
                                         </tr> 
                                </tbody>
                            </table>
                            <div *ngIf="scheduledAuditDetailsList?.length === 0">
                                <p style="text-align: center;">No Data Available in Table</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
    </div>
</div>